<template>
  <v-row>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400px"
    >
      <template v-slot:activator="{}">
        <v-col cols="12" sm="12" md="12" lg="12">
            <v-alert
                border="left"
                color="secondary"
                dark
              >
                <v-row align="center">
                  <v-col class="grow">
                    Este candidado se encuentra postulado a {{num}} clientes
                  </v-col>
                  <v-col class="shrink">
                    <v-chip
                        @click="dialog = true"
                        link
                        color="primary"
                        dark
                        outlined
                      >
                        <span class="font-weight-bold">Ver postulaciones</span>
                      </v-chip>
                  </v-col>
                </v-row>
              </v-alert>
            </v-col>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Listado de postulaciones</span>
        </v-card-title>
        <v-card-text>
         <v-row class="mb-5">
           
            <v-list shaped>
                <v-subheader>Clientes</v-subheader>
                <v-list-item-group
                    color="primary"
                >
                    <v-list-item
                        v-for="(item,i) in arr"
                        :key="i"
                    >
                        <v-list-item-icon>
                            <v-icon>mdi-account</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title v-text="item.name"></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
          </v-row>
        </v-card-text>
         <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Cerrar
          </v-btn>
        </v-card-actions>
       
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
export default {
  props:['arr','num'],
  data: ()=> ({
    dialog: false,
  }),

 
}
</script>
