<template>
  <div
   class="d-flex ma-2 pa-2" 
   :class="[field.toDelete ? 'toDeleteClass rounded-lg' : '',]">
    <v-row 
      class="pt-2 mt-2"
      :class="[field.toDelete ? 'filterClass' : '',]"
    >
      <v-col
        cols="12"
        sm="4"
        md="4"
        lg="4"
      >
        <v-autocomplete
          v-model="field.country"
          label="País"
          :items="CountrieStudy"
          :rules="rulesCoutries"
          item-text="name"
          item-value="id"
          prepend-icon='mdi-map-marker'
          @change="setFields"
          required>
        </v-autocomplete>
      </v-col>
      <v-col
        cols="12"
        sm="4"
        md="4"
        lg="4"
      >
        <v-select
          v-model="field.studyType"
          :rules="rulesStudy"
          :items="studyTypes"
          item-text="name"
          item-value="id"
          @change="getDegrees"
          label="Tipo de estudio"
          prepend-icon='mdi-library'>
        </v-select>
      </v-col>
      <v-col
        cols="12"
        sm="4"
        md="4"
        lg="4"
        class="mb-6"
      >
        <v-autocomplete
          :rules="rulesDegree"
          :disabled="disabledDegree"
          v-model="field.degree"
          :items="degrees"
          item-text="degree"
          item-value="id"
          label="Área de estudio"
          prepend-icon='mdi-crosshairs-gps'>
        </v-autocomplete>
      </v-col>
    </v-row>
    <v-btn
      v-if="field.toDelete"
      icon
      class="ml-2"
      outlined
      small
      color="red accent-4"
      @click="cancelDelete()"
      :disabled="false"
    >
      <v-icon size="20">mdi-close</v-icon>
    </v-btn>
    <v-btn
      v-else
      icon
      class="ml-2"
      outlined
      small
      color="red"
      @click="deleteField(index)"
      :disabled="false"
    >
      <v-icon size="20">mdi-delete</v-icon>
    </v-btn>
  </div>
</template>

<script>
import _filter from 'lodash/filter';
export default {
  props:['field', 'rules', 'index', 'disabled'],
  data: ()=> ({
    allDegrees:[],
    CountrieStudy:[],
    countries:[],
    studyTypes:[],
    degrees:[],
    disabledDegree:true,
    rulesCoutries:[
      v => !!v || 'El país es requerido.',
    ],
    rulesStudy:[
      v => !!v || 'El tipo de estudio es requerido.',
    ],
    rulesDegree:[
      v => !!v || 'El área de estudio es requerida.',
    ],
  }),
  mounted() {
    this.getStudyTypesDegrees();
  },
  methods:{
    cancelDelete()
    {
      this.field.toDelete = false
    },
    deleteField(index)
    {
      this.field.toDelete = true
      this.$emit('RemoveEducationField', index)
    },
    setFields(){
      this.field.toDelete = false;
      this.field.id = this.field.id ? this.field.id : null 
    },
    getStudyTypesDegrees(){
      axios.get('/api/assistants/talents/step-four/get-data')
      .then((res) => {
        this.studyTypes = res.data.studyTypes
        this.allDegrees = res.data.degrees
        this.CountrieStudy = res.data.countries

        if (this.field.studyType) {
          this.getDegrees();
        }
      })
      .catch((error) => {
        // eslint-disable-next-line no-console
        console.log(error)
      })
    },
    getDegrees(){
      const studyType = this.field.studyType;
      let filterDegrees = _filter(this.allDegrees, ['studyTypeId', studyType]);
      this.degrees = (filterDegrees.length > 0) ? filterDegrees : _filter(this.allDegrees, ['studyTypeId', ""])
     //console.log(this.degrees[146].degree)
      this.disabledDegree = false;
    },
  }
}
</script>
<style>
.toDeleteClass
{
  border-style: solid;
  border-color: #D50000;
}
.filterClass
{
  filter: blur(2px);
}
</style>