<template>
  <v-row :class="[field.toDelete ? 'toDeleteClass rounded-lg mt-5' : 'style-list rounded-lg mt-5',]">
    <v-dialog
      v-model="field.dialog"
      persistent
      max-width="650px"
    >
      <template v-slot:activator="{}">
        <v-list-item-content class="text-center"  :class="[field.toDelete ? 'filterClass' : '',]">
          <v-list-item-title>{{field.company ? field.company.toUpperCase() : 'Sin Datos' }}</v-list-item-title>
        </v-list-item-content>
        <v-list-item-action v-if="field.toDelete">
          <div class="d-flex">
            <v-btn
              icon
              outlined
              color="red accent-4"
              @click="cancelDelete()"
            >
              <v-icon size="20">mdi-close</v-icon>
            </v-btn>
          </div>
        </v-list-item-action>
        <v-list-item-action v-else>
          <div class="d-flex">
            <v-btn
              icon
              outlined
              color="green"
              class="mr-2"
              @click="field.dialog = true"
            >
              <v-icon size="20">mdi-pencil</v-icon>
            </v-btn>
            <v-btn
              icon
              outlined
              color="red"
              @click="deleteField(index)"
              :disabled="disabled"
            >
              <v-icon size="20">mdi-delete</v-icon>
            </v-btn>
          </div>
        </v-list-item-action>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Nueva Experiencia</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form
              ref="form"
              v-model="valid"
              lazy-validation
            >
              <v-row>
                <v-col
                  cols="12"
                  sm="4"
                  md="6"
                  lg="6">
                  <v-text-field
                    v-model="field.company"
                    :rules="rulesCompany"
                    maxlength="100"
                    label="Nombre de la empresa"
                    prepend-icon="mdi-home-city-outline"
                    required>
                  </v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="6"
                  lg="6"
                >
                  <v-select
                    v-model="field.companyActivityId"
                    :rules="rulesActivity"
                    :items="companyActivities"
                    item-text="activity"
                    item-value="id"
                    label="Actividad de la empresa"
                    prepend-icon='mdi-home-export-outline'>
                  </v-select>
                </v-col>

                <v-col
                    cols="12"
                    sm="4"
                    md="6"
                    lg="6">
                    <v-autocomplete
                      v-model="field.position"
                      :rules="rulesPosition"
                      :items="positions"
                      item-text="position"
                      item-value="id"
                      label="Cargo"
                      prepend-icon="mdi-account-tie"
                      required>
                    </v-autocomplete>
                </v-col>
                  <v-col
                    cols="12"
                    sm="4"
                    md="6"
                    lg="6"
                  >
                  <v-text-field
                      v-model="field.dependents"
                      :rules="rulesNumber"
                      maxlength="3"
                      label="Personas a cargo"
                      @keypress="onlyNumbers"
                      prepend-icon="mdi-account-plus"
                      required>
                  </v-text-field>
                </v-col>
                  <v-col cols="12"
                      sm="8"
                      md="10"
                      lg="10"
                      class="offset-2"
                      >
                      <v-checkbox v-if="field.actual == false"
                        v-model="field.actual"
                        :label="`¿ Laborando actualmente ? - ¡No esta laborando!.`"
                      ></v-checkbox>
                      <v-checkbox v-else
                        v-model="field.actual"
                        :label="`¿ Laborando actualmente ? - ¡Si esta laborando!.`"
                      ></v-checkbox>
                  </v-col>
                <v-col cols="12">
                    <span>Desde</span>
                </v-col>
                  <v-col
                    cols="12"
                    sm="4"
                    md="4"
                    lg="4">
                    <v-select
                      v-model="field.yearFrom"
                      :items="years"
                      label="Año"
                      @change="resetDateFrom"
                      prepend-icon='mdi-calendar-week'
                      required>
                    </v-select>
                </v-col>
                <v-col
                    cols="12"
                    sm="4"
                    md="4"
                    lg="4">
                    <v-select
                        v-model="field.monthFrom"
                        :items="months"
                        @change="getDays(1)"
                        item-value="code"
                        item-text="name"
                        label="Mes"
                        prepend-icon='mdi-calendar-weekend'>
                    </v-select>
                </v-col>
                <v-col
                    cols="12"
                    sm="4"
                    md="4"
                    lg="4">
                      <v-select
                        v-model="field.dayFrom"
                        :items="daysFrom"
                        label="Día"
                        prepend-icon='mdi-calendar-month'>
                    </v-select>
                </v-col>
                 <v-col cols="12">
                  <span>Hasta</span>
                </v-col>

                <v-col
                    cols="12"
                    sm="4"
                    md="4"
                    lg="4">
                  <v-select
                      v-model="field.yearTo"
                      :items="years"
                      @change="resetDateTo"
                      label="Año"
                      prepend-icon='mdi-calendar-week'
                      required>
                  </v-select>
                </v-col>
                <v-col
                    cols="12"
                    sm="4"
                    md="4"
                    lg="4">
                    <v-select
                      v-model="field.monthTo"
                      :items="months"
                      @change="getDays(0)"
                      item-value="code"
                      item-text="name"
                      label="Mes"
                      prepend-icon='mdi-calendar-weekend'>
                    </v-select>
                </v-col>
                <v-col
                    cols="12"
                    sm="4"
                    md="4"
                    lg="4">
                    <v-select
                      v-model="field.dayTo"
                   
                      :items="daysTo"
                      label="Día"
                      prepend-icon='mdi-calendar-month'>
                    </v-select>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="cancel"
            v-if="!disabled"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="sendExperience"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import _filter from 'lodash/filter';
import { mapActions} from 'vuex'
export default {
  props:['field', 'index', 'rules', 'disabled', 'months','detail'],
  data: ()=> ({
    valid: true,
    //dialog: false,
    actual: false,
    companyActivities:[],
    positions:[],
    disabledDegree:true,
    years:[],
    daysFrom:[],
    daysTo:[],
    rulesCompany:[
      v => !!v || 'El nombre de la compañía es requerido.',
      v => (v && v.length <= 100) || 'El nombre de la compañía debe contener máximo 100 caracteres.',
      v => (v && v.length >= 3) || 'El nombre de la compañía debe contener mínimo 3 caracteres.',
    ],
    rulesActivity: [
      v => !!v || 'La actividad de la compañía es requerido.',
    ],
    rulesPosition: [
      v => !!v || 'El cargo de la compañía es requerido.',
    ],
    rulesNumber: [
      v => !!v || 'Número de personas a cargo es requerido.',
    ],
  }),
  computed:{
    dialog()
    {
      return this.field.dialog;
    }
  },
  mounted() {
    this.getFormatDate();
    this.getCompanyPosition();
    this.getYears();

    if (this.field.monthFrom) {
      this.getDays(1);
    }
    if (this.field.monthTo) {
      this.getDays(0);
    }
  },
  methods:{
    ...mapActions(['onlyLetters', 'onlyNumbers']),
   
    getFormatDate(){
      let 
          yearFrom = this.field.yearFrom,
          monthFrom = this.field.monthFrom,
          dayFrom = this.field.dayFrom,
          yearTo = this.field.yearTo,
          monthTo = this.field.monthTo,
          dayTo = this.field.dayTo;
          
        this.field.from = (yearFrom) ? yearFrom+'/'+monthFrom+'/'+dayFrom : null;
        this.field.to = (yearTo) ? yearTo+'/'+monthTo+'/'+dayTo : null;
       
    },
    resetDateFrom(){
      this.field.monthFrom = "";
      this.getDays(1);
    },
    resetDateTo(){
      this.field.monthTo = "";
      this.getDays(0);
    },
  
    getYears(){
        this.years = [...Array(60)].map((a,b)=> new Date().getFullYear() - b)
    },
    isLeapYear(year) {
        return (
          (year % 4 === 0 && year % 100 !== 0) || year % 400 === 0
        )
      },
    getDays(num) {
      // eslint-disable-next-line prefer-const
      let 
        year = num ? this.field.yearFrom : this.field.yearTo,
        month = num ? this.field.monthFrom : this.field.monthTo,
        montInt = parseInt(month),
        feb = (this.isLeapYear(year)) ? 29 : 28,
        daysRange = [31,feb,31,30,31,30,31,31,30,31,30,31],
        days = [...Array(daysRange[montInt-1])].map((a,b)=> daysRange[montInt-1] - b);

        (num) ? this.daysFrom = days : this.daysTo = days;
    },
    getCompanyPosition(){
      axios.get(`/api/assistants/talents/step-five/get-data`)
      .then((res) => {
        this.companyActivities = res.data.companyActivities;
        this.positions = res.data.positions;
      })
      .catch((error) => {
        // eslint-disable-next-line no-console
        console.log(error)
      })
    },
    sendExperience()
    {
        this.getFormatDate();
        this.field.toDelete = null;
        this.field.experienceId ? this.field.experienceId : this.field.experienceId = null;
        this.field.actual != false ? this.field.actual = true : this.field.actual = false;
        this.field.position;
      if(this.$refs.form.validate())
      {
        this.field.dialog = false;
      }
    },
    cancel() {
       this.field.from ? this.field.dialog = false : this.field.dialog = false + this.$emit('RemoveExperienceField', this.index)
    },
    cancelDelete()
    {
      this.field.toDelete = false
    },
    deleteField(index)
    {
      if(this.field.toDelete == false){
        this.field.toDelete = true
      }
      else if(this.field.toDelete === null)
      {
        this.$emit('RemoveExperienceField', index)
      }
    },
  }
}
</script>
<style>
.style-list
{
  border-style: solid;
  border-color: #2fe3b4;
}
.toDeleteClass
{
  border-style: solid;
  border-color: #D50000;
}
.filterClass
{
  filter: blur(2px);
}
</style>