<template>
  <v-row>
    <v-col>
      <v-row class=" m-0">
        <!-- Company name -->
        <v-col cols="6">
          <v-text-field 
            v-model="exp.company" 
            label="Nombre de la empresa" 
          ></v-text-field>
        </v-col>
        <!-- Company main activity -->
        <v-col cols="6">
          <v-autocomplete
            v-model="exp.companyActivityId"
            :items="companyActivities.data"
            item-text="activity"
            item-value="id"
            label="Actividad de la empresa"
          ></v-autocomplete>
        </v-col>
        <!-- company position -->
        <v-col cols="6">
          <v-autocomplete
            v-model="exp.position"
            :items="positions.data"
            item-text="position"
            item-value="id"
            label="Cargo"
          ></v-autocomplete>
        </v-col>
        <!-- company dependents -->
        <v-col cols="3">
          <v-text-field 
            v-model="exp.dependents"
            label="Personas a cargo" 
          ></v-text-field>
        </v-col>
        <!-- company current -->
        <v-col cols="3" class="d-flex align-middle">
          <v-checkbox
            class="mt-0"
            v-model="exp.actual"
            label="Trabajo actual"
            hide-details
            @change="currentJob"
          ></v-checkbox>
        </v-col>
        <!-- From -->
        <v-col cols="6">
          Desde
          <div class="d-flex flex-row">
            <v-select
              class="mr-2"
              v-model="exp.from.year"
              :items="fromYears"
              :rules="rules.yearRules"
              @change="fromYear"
              label="Año"
            ></v-select>
            <v-select
              class="mr-2"
              v-model="exp.from.month"
              :items="fromMonths"
              :disabled="!exp.from.year"
              :rules="rules.monthRules"
              item-text="name"
              item-value="code"
              @change="fromYear"
              label="Mes"
            ></v-select>
            <v-select 
              v-model="exp.from.day"
              :disabled="!exp.from.month"
              :rules="rules.dayRules"
              :items="fromDays"
              label="Día"
            ></v-select>
          </div>
        </v-col>
        <!-- TO -->
        <v-col cols="6">
          Hasta
          <div class="d-flex flex-row">
            <v-select
              class="mr-2"
              v-model="exp.to.year"
              :items="toYears"
              :rules="rules.yearRules"
              :disabled="exp.actual || !exp.from.day"
              @change="toYear"
              label="Año"
            ></v-select>
            <v-select
              class="mr-2"
              v-model="exp.to.month"
              :items="toMonths"
              :disabled="!exp.to.year || exp.actual"
              :rules="rules.monthRules"
              @change="toYear"
              item-text="name"
              item-value="code"
              label="Mes"
            ></v-select>
            <v-select 
              v-model="exp.to.day"
              :disabled="!exp.to.month || exp.actual"
              :rules="rules.dayRules"
              :items="toDays"
              label="Día"
            ></v-select>
          </div>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="2" class="d-flex align-center justify-center">
      <v-btn
        color="red"
        small
        @click="deleteExp"> 
        <v-icon>mdi-delete</v-icon>
      </v-btn> 
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    index: {
      type: Number
    },
    exp: {
      type: Object,
      default: {
        id: null,
        user_id: null,
        company_activity_id: null,
        company: null,
        position: null,
        dependents: null,
        from: {
          value: null,
          year: null,
          month: null,
          day: null
        },
        to: {
          value: null,
          year: null,
          month: null,
          day: null
        },
        actual: null,
        toDelete: false,
      }
    },
    companyActivities: {
      type: Object,
      default: { data: [] },
    },
    positions: {
      type: Object,
      default: { data: [] },
    },
    months: {
      type: Array
    }
  },
  data() {
    return {
      daysRange: [28, 30, 31],
      rules: {
        // From Rules
        fromYear: [
          v => !!v || 'Seleccione el año.',
        ],
        fromMonth: [
          v => !!v || 'Seleccione el mes.',
        ],
        fromDay: [
          v => !!v || 'Seleccione el día.',
        ],
        toYear: [
          v => !!v || 'Seleccione el año.',
          v => v >= this.exp.from.year || 'No puede ser anterior.'
        ],
        toMonth: [
          v => !!v || 'Seleccione el mes.',
        ],
        toDay: [
          v => !!v || 'Seleccione el día.',
        ],
      }
    }
  },
  computed: {
    toYears() {
      const d = new Date()
      let years = []
      const start = d.getFullYear()
      let end = start - 50
      if (!!this.exp.from.year)
        end = this.exp.from.year
      for (let i = start; i >= end; i--) {
        years.push(i)
      }
      return years
    },
    fromYears() {
      const d = new Date()
      let years = []
      const start = d.getFullYear()
      const end = start - 50
      for (let i = start; i > end; i--) {
        years.push(i)
      }
      return years
    },
    toMonths() {
      const d = new Date()
      let months = this.months
      if ( this.exp.to.year === d.getFullYear() )
       months = months.slice(0, d.getMonth() + 1)
      if ( this.exp.from.year === this.exp.to.year && !!this.exp.from.month ) {
        let start = months.findIndex(m => m.code === this.exp.from.month )
        months = months.slice(start)
      }
      return months
    },
    fromMonths() {
      const d = new Date()
      let months = this.months
      if ( this.exp.from.year === d.getFullYear() )
        months.slice(0, d.getMonth() + 1)
      return months
    },
    toDays() {
      let d = new Date()
      let days = this.handleDays(this.exp.to.year, this.exp.to.month)
      let start = 0
      if ( this.exp.from.year === this.exp.to.year &&
        this.exp.from.month === this.exp.to.month && 
        !!this.exp.from.day ) {
        start = days.indexOf(this.exp.from.day)
        days = days.slice(start)
      }
      if( d.getFullYear() === this.exp.to.year && this.exp.to.month === this.toMonths[d.getMonth()].code )
        days = days.slice(0, days.indexOf(d.getDate()+1))
      return days
    },
    fromDays() {
      let d = new Date()
      const days = this.handleDays(this.exp.from.year, this.exp.from.month)
      if( d.getFullYear() === this.exp.from.year && this.exp.from.month === this.toMonths[d.getMonth()].code )
        return days.slice(0, days.indexOf(d.getDate()+1))
      return days
    },
  },
  methods: {
    handleDays(year, month) {
      // eslint-disable-next-line prefer-const
      let ds = []
      switch (month) {
        case '02':
          for (let i = 1; i <= this.daysRange[0]; i++) {
            ds.push(i)
          }
          if (this.isLeapYear(year)) {
            ds.push(29)
          }
          break
        case '01':
        case '03':
        case '05':
        case '07':
        case '08':
        case '10':
        case '12':
          for (let i = 1; i <= this.daysRange[2]; i++) {
            ds.push(i)
          }
          break
        default:
          for (let i = 1; i <= this.daysRange[1]; i++) {
            ds.push(i)
          }
          break
      }
      return ds
    },
    isLeapYear( year ) {
      return ((year % 4 === 0 && year % 100 !== 0) || year % 400 === 0)
    },
    toYear() {
      if ( this.exp.to.day && this.exp.to.month && !this.toDays.includes(this.exp.to.day))
        this.exp.to.day = null
    },
    fromYear() {
      if ( this.exp.from.day && this.exp.from.month && !this.fromDays.includes(this.exp.from.day))
        this.exp.from.day = null
      if ( this.exp.to.year > this.exp.from.year ) 
        this.exp.to.year = null
    },
    deleteExp() {
      this.$emit('delete:experience')
    },
    currentJob(val) {
      if (val) {
        this.$emit('current:experience')
      }
    },
  }
}
</script>