<template>
  <v-row>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="650px"
    >
      <template v-slot:activator="{}">
        <v-list-item-content class="text-center">
          <v-list-item-title>{{field.company.toUpperCase()}}</v-list-item-title>
        </v-list-item-content>
        <v-list-item-action>
          <div class="d-flex">
            <v-btn
              icon
              outlined
              color="green"
              class="mr-2"
              @click="dialog = true"
            >
              <v-icon size="20">mdi-eye</v-icon>
            </v-btn>
           
          </div>
        </v-list-item-action>
      </template>
      <v-card>
        <v-card-title class="mb-8">
          <span class="headline">{{field.company.toUpperCase()}}</span>
        </v-card-title>
        <v-card-text>
        <v-row>
           <v-col cols="12" sm="4" md="6" lg="6" class="text-center">
              <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-domain</v-icon> ¿Trabajando actualmente?</p>
                {{field.actual == true ? '¡Si esta laborando!' : '¡No esta laborando!'}}
           </v-col>
           <v-col cols="12" sm="4" md="6" lg="6" class="text-center">
              <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-home-export-outline</v-icon> Actividad de la empresa</p>
                {{field.company_activity}}
            </v-col>
        </v-row>
        <v-row class="mb-5 text-center mt-5">
          <v-col cols="12" sm="4" md="6" lg="6">
              <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-account-tie</v-icon> Cargo</p>
              {{field.position_exp}} 
          </v-col>
            <v-col cols="12" sm="4" md="6" lg="6">
              <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-account-plus</v-icon> Personas a cargo</p>
              {{field.dependents}}
          </v-col>
        </v-row>
        <v-row class="mb-5 text-center">
          <v-col cols="12" sm="4" md="6" lg="6">
              <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-calendar-month</v-icon> Fecha de inicio</p>
              {{field.from}} 
          </v-col>
            <v-col cols="12" sm="6" md="6" lg="6">
              <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-calendar-month</v-icon> Fecha de culminación</p>
              {{field.to}}
          </v-col>
        </v-row>
        </v-card-text>
         <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props:['field', 'index'],
  data: ()=> ({
    dialog: false,
    noData: "Sin datos"
    
  }),

 
}
</script>