<template>
<v-card class="mx-auto" max-width="90%">
    <v-container>
      <v-row class="justify-center mt-10">
        <v-col cols="12" sm="6" md="9" lg="9">
        <v-row>
          <v-col cols="12" md="12" lg="12">
            <h1 class="mb-10"><v-icon size="50" class="mr-2" color="secondary">mdi-apps-box</v-icon>  Captaciones</h1>
          </v-col>
        </v-row>
            <form enctype="multipart/form-data" id="formImg">
              <div>
                <v-row>
                  <v-col cols="12" md="12" lg="12" class="text-center">
                      <v-avatar
                      size="130"
                      color="grey"
                      >
                        <v-img :src="previewAvatar"></v-img>
                      </v-avatar>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="12" lg="12" class="text-center">
                    <v-file-input
                        accept=".png, .jpg, .jpeg"
                        placeholder="Cargar imagen"
                        prepend-icon="mdi-camera"
                        label="Avatar"
                        type="file"
                        :clearable="false"
                        @change="setAvatar"
                    ></v-file-input>
                  </v-col>
                </v-row>
              </div>
            </form>
          <v-row class="mt-5">
            <v-col cols="12" sm="4" md="6" lg="6">
              <h3 class="font-weight-black">
                Contacto
              </h3>
            </v-col>
          </v-row>
        <v-form ref="form" v-model="form.valid" lazy-validation>
          <v-row>
            <v-col cols="12" md="6" lg="6">
              <v-text-field
                v-model="form.contact.email"
                :rules="rules.emailRules"
                prepend-icon='mdi-email'
                maxlength="50"
                @change="validEmail"
                label="Correo"
                :disabled="(data) ? true : false"
                required>
              </v-text-field>
            </v-col>
            <v-col cols="12" md="2" lg="2" class="mb-10">
                <v-select
                v-model="form.contact.countryCode"
                :rules="rules.codeNumberRules"
                :items="hashid"
                item-text="numberCode"
                item-value="id"
                prepend-icon="mdi-cellphone-android"
                @change="getCountry"
                required
                >
              </v-select>
            </v-col>
            <v-col cols="12" md="4" lg="4">
              <v-text-field
                v-model="form.contact.telephone"
                :rules="rules.telephoneRules"
                maxlength="12"
                label="Número de teléfono"
                required>
              </v-text-field>
            </v-col>
          </v-row>
          <v-row class="mt-5">
            <v-col cols="12" sm="4" md="6" lg="6">
              <h3 class="font-weight-black">
                Datos personales
              </h3>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="3" md="4" lg="4">
              <v-text-field
                v-model="form.personalInformation.firstnames"
                :rules="rules.firstnamesRules"
                maxlength="30"
                label="Nombres"
                prepend-icon="mdi-card-text"
                @keypress="onlyLetters"
                required>
              </v-text-field>
            </v-col>
            <v-col cols="12" sm="3" md="4" lg="4">
              <v-text-field
                v-model="form.personalInformation.lastnames"
                :rules="rules.lastnamesRules"
                maxlength="30"
                label="Apellidos"
                @keypress="onlyLetters"
                prepend-icon="mdi-card-text"
                required>
              </v-text-field>
            </v-col>
            <v-col cols="12" sm="3" md="4" lg="4">
              <v-select
                v-model="form.personalInformation.gender"
                :items="genders"
                item-text="name"
                item-value="code"
                :rules="rules.genderRules"
                label="Género"
                prepend-icon='mdi-calendar-week'
                required>
              </v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
                <small class="ml-3">Fecha de nacimiento</small>
            </v-col>
            <v-col cols="12" sm="4" md="4" lg="4">
              <v-select
                v-model="form.personalInformation.cboYear"
                :items="years"
                :rules="rules.yearRules"
                label="Año"
                prepend-icon='mdi-calendar-week'
                @change="resetDates"
                required>
              </v-select>
            </v-col>
            <v-col cols="12" sm="4" md="4" lg="4">
              <v-select
                v-model="form.personalInformation.cboMonth"
                :rules="rules.monthRules"
                :items="months"
                item-value="code"
                item-text="name"
                @change="getDays"
                label="Mes"
                prepend-icon='mdi-calendar-weekend'>
              </v-select>
            </v-col>
            <v-col cols="12" sm="4" md="4" lg="4">
              <v-select
                v-model="form.personalInformation.cboDay"
                :rules="rules.dayRules"
                :items="days"
                label="Día"
                prepend-icon='mdi-calendar-month'>
              </v-select>
            </v-col>
          </v-row>
          <v-row class="mb-6">
            <v-col cols="6" sm="4" md="6" lg="6">
              <v-autocomplete
                v-model="form.personalInformation.countryCode"
                :rules="rules.countryRules"
                label="País"
                :items="countries"
                item-text="name"
                item-value="id"
                prepend-icon='mdi-map-marker'
                @change="getStates"
                required>
              </v-autocomplete>
            </v-col>
            <v-col cols="6" sm="4" md="6" lg="6">
              <v-autocomplete
                v-model="form.personalInformation.state"
                :rules="rules.statesRules"
                label="Estado"
                :disabled="this.stateDisabled"
                :items="states"
                item-text="name"
                item-value="id"
                prepend-icon='mdi-map-marker'
                @change="getStates"
                required>
              </v-autocomplete>
            </v-col>
          </v-row>
          <v-col cols="12" sm="4" md="6" lg="6">
            <h3 class="font-weight-black">
              Expectativa salarial
            </h3>
          </v-col>
          <v-row class="mb-6">
            <v-col cols="12" sm="8" md="12" lg="12">
              <v-select
                v-model="form.salaryExpectation.salary"
                :rules="rules.salaryRules"
                :items="salaryExpectations"
                item-text="range"
                item-value="id"
                label="Seleccione un rango"
                prepend-icon="mdi-account-cash"
                >
              </v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="4" md="6" lg="6">
              <h3 class="font-weight-black mb-4">
                Lenguajes
              </h3>
            </v-col>
            <v-col cols="12">
              <div v-for="(field, index) in LanguageFields" :key="`languages-${index}`">
                <language-fields 
                  :field="field" 
                  :index="index"
                  :idiomas="idiomas"
                  :disabled="LanguageFieldDisabled"
                  @RemoveLanguageField="RemoveLanguageField"
                ></language-fields>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <small class="ml-6">Presione el botón añadir, para agregar el nivel de idioma.</small>
              <v-col cols="12" md="12" lg="12" class="mb-10">
                <v-btn color="secondary"
                 class="ml-3 font-weight-bold" 
                 @click="addLanguageField"
                 rounded
                 >
                  <v-icon color="primary"> mdi-plus</v-icon>
                    Lenguaje
                  </v-btn>
              </v-col>
            </v-row>
         
          <v-row>
           <v-col cols="12">
              <h3 class="font-weight-black mb-4">
                Educación
              </h3>
           </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <div v-for="(field, index) in EducationFields" :key="`education-${index}`">
                <education-fields 
                  :field="field" 
                  :index="index"
                  :disabled="EducationFieldDisabled"
                  @RemoveEducationField="RemoveEducationField"
                ></education-fields>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <small class="ml-6">Presione el botón añadir, para agregar su nivel de educación.</small>
              <v-col cols="12" md="12" lg="12" class="mb-10">
                <v-btn color="secondary"
                 class="ml-3 font-weight-bold" 
                 @click="addEducationField"
                 rounded
                 >
                  <v-icon color="primary"> mdi-plus</v-icon>
                    Educación
                  </v-btn>
              </v-col>
            </v-row>
            <v-col cols="12" sm="4" md="6" lg="6">
              <h3 class="font-weight-black mb-4">
                Experiencia laboral
              </h3>
            </v-col>
           <v-row class="mb-4">
            <v-col cols="12" v-if="experiences.length > 0">
              <v-list
                subheader
                two-line
              >
                <v-list-item
                  v-for="(field, index) in experiences" :key="`experience-${index}`"
                  color="primary"
                >
                  <experience-fields 
                    :field="field" 
                    :index="index"
                    ref="experience"
                    :months="months"
                    :disabled="ExperienceDisable"
                    @RemoveExperienceField="RemoveExperienceField"
                  ></experience-fields>
                </v-list-item>
              </v-list>
            </v-col>
           </v-row>
          <small class="ml-3">Presione el botón añadir experiencia.</small>
          <v-row>
            <v-col cols="12" md="12" lg="12" class="mb-10">
                <v-btn
                  color="secondary"
                  dark
                 @click="addExperienceField"
                 class="ml-3 font-weight-bold" 
                 rounded
                >
                <v-icon color="primary">mdi-plus</v-icon>
                  Experiencia
                </v-btn>
            </v-col>
          </v-row>
            <v-col cols="12" sm="4" md="6" lg="6">
              <h3 class="font-weight-black mb-4">
                Extras
              </h3>
            </v-col>
          </v-form>
          <form enctype="multipart/form-data" id="formCurriculum">
            <v-row justify="center">
              <v-col cols="12" sm="4" md="12" lg="12" class="mb-6">
                <v-textarea
                  v-model="form.extras.desc"
                  label="Comentario"
                  counter="400"
                  maxlength="400"
                  rows="3"
                  prepend-icon="mdi-message-text"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row class="mb-10">
             <v-col cols="12" sm="6" md="12" lg="12">
                <v-file-input v-if="!form.extras.file"
                    v-model="form.extras.file"
                    accept="image/png, image/jpeg, image/bmp, pdf/pdf, .doc, .docx"
                    placeholder="Cargar curriculum"
                    prepend-icon="mdi-cloud-upload"
                    label="Síntesis curricular"
                    type="file"
                ></v-file-input>
                <div v-else>
                    <v-chip
                      large
                      class="ma-2 font-weight-bold h3"
                      color="secondary"
                      close
                      @click:close="form.extras.file = null"
                    >
                      <v-icon 
                        class="ml-2"
                        left 
                        color="primary"
                        style="font-size:24px !important;"
                      >
                        mdi-file-download-outline
                      </v-icon>
                        <span class="ml-2" style="font-size:16px !important; font-weight: bold !important;">Cambiar Curriculum</span>  
                    </v-chip>
                </div>
              </v-col>
            </v-row>
          </form>
          <v-row justify="center">
              <v-col
                cols="5"
                md="5"
                lg="5"
                class="text-center mb-12"
                align="end"
              >
                  <v-btn color="secondary" class="font-weight-bold" @click="back" rounded>
                    Cancelar
                  </v-btn>
              </v-col>
              <v-col
                align="start"
                cols="5"
                md="5"
                lg="5"
                class="text-center mb-12"
              >
                <v-btn color="primary" class="font-weight-bold" @click="send" :disabled="disabledSend" rounded>
                  {{this.textButton}}
                </v-btn>
              </v-col>
          </v-row>
      </v-col>
    </v-row>
  </v-container>
</v-card>
</template>

<script>
import EducationFields from "./education-fields"
import ExperienceFields from './experience-fields.vue'
import LanguageFields from './language-fields.vue'
import VueTelInputVuetify from "vue-tel-input-vuetify/lib/vue-tel-input-vuetify.vue"
import { mapActions} from 'vuex'

export default {
    components: {
      VueTelInputVuetify,
      EducationFields,
      ExperienceFields,
      LanguageFields
    },
    props:['data'],
    data: () => ({
        avatar:'',
        previewAvatar:'',
        textButton: '',
        textAlert: '',
        add: [],
        //languages: [],
        langId: [], 
        genders:[
          {code:'M',name:'Masculino'},
          {code:'F',name:'Femenino'},
          {code:'U',name:'Prefiero no decirlo'},
        ],
        years: [],
        days: [],
        stateDisabled:true,
        salaryExpectations:[],
        states: [],
        studyTypes: [],
        degrees: [],
        countries: [],
        hashid: [],
        idiomas: [],
        EducationFields:[],
        LanguageFields:[],
        experiences:[],
        languages:[],
        EducationFieldDisabled:false,
        LanguageFieldDisabled:false,
        stateDisabledisabledd:true,
        ExperienceDisable: false,
        disabledSend: false,
        DefaulCode:'VE',

        months: [
          { code: '01', name: 'Enero' },
          { code: '02', name: 'Febrero' },
          { code: '03', name: 'Marzo' },
          { code: '04', name: 'Abril' },
          { code: '05', name: 'Mayo' },
          { code: '06', name: 'Junio' },
          { code: '07', name: 'Julio' },
          { code: '08', name: 'Agosto' },
          { code: '09', name: 'Septiembre' },
          { code: '10', name: 'Octubre' },
          { code: '11', name: 'Noviembre' },
          { code: '12', name: 'Diciembre' },
        ],
        form:{ 
          user_id:null,
          person_id:null,
          valid: true,
          //Extras
          extras:{
            desc:'',
            file:null
          },
          //Object Contact//
          contact: {
          email: '',
          countryCode:'',
          telephone: '',
           
          },
          //Object Personal Information//
          personalInformation: {
            firstnames: '',
            lastnames: '',
            gender:'',
            // cboYear: '',
            // cboMonth: '',
            // cboDay: '',
            countryCode: '',
            state:''
          },
          //Object Salary Expectation//
          salaryExpectation: {
            salary: '',
          },
          education:{
          },
          //Object idiomas
          workExperience: {},
        },
        rules:{
          emailRules: [
            v => !!v || 'El campo correo electrónico es requerido.',
            v => (v && v.length <= 50) || 'El campo  correo electrónico debe contener máximo 50 caracteres.',
            v => (v && v.length >= 3) || 'El campo  correo electrónico debe contener mínimo 3 caracteres.',
            v => /.+@.+\..+/.test(v) || 'El correo electrónico debe ser válido.',
          ],
          codeNumberRules: [
            v => !!v || 'El campo código del teléfono requerido.',
          ],
          telephoneRules: [
            v => !!v || 'El campo teléfono es requerido.',
            v => v.length <= 15 || "El télefono debe de ser válido"
          ],
          firstnamesRules: [
            v => !!v || 'El campo nombres es requerido.',
            v => (v && v.length <= 30) || 'El campo nombres debe contener máximo 30 caracteres.',
            v => (v && v.length >= 3) || 'El campo nombres debe contener mínimo 3 caracteres.',
          ],
          lastnamesRules: [
            v => !!v || 'El campo apellidos es requerido.',
            v => (v && v.length <= 30) || 'El campo apellidos debe contener máximo 30 caracteres.',
            v => (v && v.length >= 3) || 'El campo apellidos debe contener mínimo 3 caracteres.',
          ],
          genderRules: [
            v => !!v || 'Seleccione su género.',
          ],
          yearRules: [
            v => !!v || 'Seleccione el año.',
          ],
          monthRules: [
            v => !!v || 'Seleccione el mes.',
          ],
          dayRules: [
            v => !!v || 'Seleccione el día.',
          ],
          countryRules: [
            v => !!v || 'Seleccione el país.',
          ],
          statesRules: [
            v => !!v || 'Seleccione el estado del país.',
          ],
          salaryRules: [
            v => !!v || 'El campo de selección salario es requerido.',
          ],
          languageRules: [
            v => !!v || 'El campo lenguaje es requerido.',
          ],
          studyRules: [
            v => !!v || 'El tipo de estudio es requerido.',
          ],
          careerRules: [
            v => !!v || 'El área de estudio es requerida.',
          ],
          companyRules: [
            v => !!v || 'El nombre de la compañía es requerido.',
          ],
          activityRules: [
            v => !!v || 'La actividad de la compañía es requerida.',
          ],
          positionRules: [
            v => !!v || 'El cargo de la compañía es requerida.',
          ],
          dependentsRules: [
            v => !!v || 'Número de personas a cargo es requerido.',
          ],
          workYearRules: [
            v => !!v || 'Seleccione el año.',
          ], 
          workMonthRules: [
            v => !!v || 'Seleccione el mes.',
          ], 
          workDayRules: [
            v => !!v || 'Seleccione el día.',
          ], 
          expYearRules: [
            v => !!v || 'Seleccione el año.',
          ],
          expMonthRules: [
            v => !!v || 'Seleccione el mes.',
          ],
          expDayRules: [
            v => !!v || 'Seleccione el día.',
          ],
          expPeople: [
            v => !!v || 'El campo personas a cargo es requerido.',
          ]
        }
    }),
    created() {
      this.getYears();
      this.getSalaryExpectation();
      this.getCountry();
      this.languageData();
    },
    mounted()
    {
      this.previewAvatar = '/img/default.png';
      this.textButton = (this.data) ? 'Editar' : 'Registrar';
      this.textAlert =  (this.data) ? '¡Registro editado exitosamente!' : '¡Registro guardado exitosamente!'
      if(this.data) 
      {
        this.$refs.form.resetValidation()
        this.form = this.data;
        this.previewAvatar = this.data.avatar;
        
        if (!this.data.avatar) {
         this.previewAvatar= '/img/default.png';
        }

        if (this.data.personalInformation.cboMonth) {
          this.getDays();
        }
        //LanguageFields
    
        if(this.data.languages.length > 0)
        {
          this.LanguageFields = this.data.languages;
          if(this.data.education.length > 0) this.LanguageFieldDisabled = true;
        }

        if(this.data.education.length > 0)
        {
          this.EducationFields = this.data.education;
          if(this.data.education.length > 0)  this.EducationFieldDisabled = true;
        }
        if(this.data.workExperience.length > 0)
        {
          this.data.workExperience.forEach(element => {
            this.experiences.push(element);
          });
        }
        if(this.data.personalInformation)
        {
         
         if(this.data.personalInformation.countryCode || this.data.personalInformation.state)
          {
            this.data.personalInformation.countryCode = this.data.personalInformation.country;
            this.getStates();
          }
        }
        if(this.data.extras.desc == null)
        {
          this.data.extras.desc = "No disponible"
        }
      }
    },
    methods: {
      ...mapActions(['onlyLetters', 'onlyNumbers']),
      validEmail(){
        let data = this.form.contact;
       // this.$inertia.post(route('application.validEmail'), data);
        axios.post(route('application.validEmail'), data)
           .then((res) => {
              this.$toast.open({
                message: 'El talento es válido y no coincide con nuestros registros.',
                type: 'success',
                position: 'top',
                duration: 5000
              });
              this.disabledSend = false;
          })
          .catch((err) => {
              if(err.response.data.application.deleted_at)
              {
                var msj = 'El usuario esta bloqueado temporalmente, comuníquese con un administrador.';
              }
              else{
                var msj = '¡El talento ya se encuentra registrado en el sistema!.';
              }
              this.$toast.open({
                message: msj,
                type: 'error',
                position: 'top',
                duration: 5000
              });
              this.disabledSend = true;
          });
      },
// La imagen debe cumplir con las siguientes especificaciones:
//  - Tamaño 120 x 120 px.
//  - Peso máximo 3MB.
//  - Formato:   . JPG , . JPEG o . PNG
      setAvatar(e){
        if (!(/\.(jpg|png|jpeg)$/i).test(e.name)) {
          this.$toast.open({
            message: '¡El formato de archivo debe ser una imagen (JPG, PNG, JPEG)!', 
            type: 'error',
            position: 'top',
            duration: 5000
          });
          this.disabledSend = true;
        }else if (e.size > 3020 || width > 120 || height > 120 )
        {
          var width = 0;
          var height = 0;
          var messageWarning = this.$toast.open({
            message: '¡El tamaño de la imagen tiene que ser (120px * 120px) y el peso no debe exceder los 3MB!', 
            type: 'error',
            position: 'top',
            duration: 5000
          });
            var img = new Image();
            img.src= URL.createObjectURL(e);
            img.onload = function (){
            var width = img.width;
            var height = img.height
            this.messageWarning
          }
          this.disabledSend = true;
        }else{
          this.avatar = e
          this.previewAvatar = URL.createObjectURL(e);
          this.disabledSend = false;
        }
      },
      back() {
          window.history.back();
        },
      isLeapYear(year) {
        return (
          (year % 4 === 0 && year % 100 !== 0) || year % 400 === 0
        )
      },
      getDays() {
        let 
          year = this.form.personalInformation.cboYear,
          month = this.form.personalInformation.cboMonth,
          montInt = parseInt(month),
          feb = (this.isLeapYear(year)) ? 29 : 28,
          daysRange = [31,feb,31,30,31,30,31,31,30,31,30,31];

        this.days = [...Array(daysRange[montInt-1])].map((a,b)=> daysRange[montInt-1] - b);
      },
      resetDates(){
        this.form.personalInformation.cboMonth = null,
        this.form.personalInformation.cboDay = null
      },
      addL(i) {
        this.add.push({})
      },
      addEducationField() {
        this.EducationFields.push({})
        this.EducationFieldDisabled = false;
      },
      addExperienceField() {
        this.experiences.push({dialog:true})
      },
      RemoveExperienceField(index)
      {
        if(!this.experiences[index].id)
        { 
          this.experiences.splice(index, 1)
        }
      },
      RemoveEducationField(index) {
        if(!this.EducationFields[index].id)
        { 
          this.EducationFields.splice(index, 1)
        }
      },
      addLanguageField() {
        this.LanguageFields.push({})
        this.LanguageFieldDisabled = false;
      },
      RemoveLanguageField(index) {
        if(!this.LanguageFields[index].id)
        { 
          this.LanguageFields.splice(index, 1)
        }
      },
      getYears(){
          this.years = [...Array(55)].map((a,b)=> (new Date().getFullYear() - 18) - b)
      },
      languageData(){
        axios.get(route('application.languageData'))
        .then((res) => {
          this.idiomas = res.data.lang
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
      },
      getCountry(){
          axios.get('/api/assistants/talents/step-four/get-data')
          .then((res) => {
            this.countries = res.data.countries
            this.hashid = res.data.countries
            this.states = res.data.states
          })
          .catch((error) => {
            // eslint-disable-next-line no-console
            console.log(error)
          })
      },
      getStates() {
        const code = this.form.personalInformation.countryCode
      
        axios.get(
          `/api/assistants/talents/step-two/states/${code}`
          )
          .then((res) => {

            let estados = res.data.states

            if(estados.length > 0){
              this.states = res.data.states
              this.stateDisabled = false
            }else{
              this.stateDisabled = true
            }
          })
          .catch((error) => {
            console.log(error)
          })
      },
      getSalaryExpectation(){
        axios.get('/api/assistants/talents/step-three/salary-expectations')
        .then((res) => {
          this.salaryExpectations = res.data.salaries
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
      },
      saveAvatar(user_id)
      {
        let formElement = document.getElementById("formImg");
        let formImg = new FormData(formElement);
        formImg.append('file', this.avatar);
        formImg.append('user_id', user_id);

        const config = {
          headers: {
              'content-type': 'multipart/form-data'
          }
        }
        //this.$inertia.post(route('application.avatar.upload'), formImg, config);

        axios.post(route('application.avatar.upload'), formImg, config)
        .then(response => {
          this.saveCurriculum(response.data)
          location.reload();
        }
        )
        .catch(errors => console.log(errors));

      },
      saveCurriculum(user_id)
      {
        let formElement = document.getElementById("formCurriculum");
        let formCurriculum = new FormData(formElement);
        formCurriculum.append('file', this.form.extras.file);
        formCurriculum.append('user_id', user_id);
        formCurriculum.append('desc', this.form.extras.desc);

        const conf = {
          headers: {
              'content-type': 'multipart/form-data'
          }
        }
        this.$inertia.post(route('application.extras'), formCurriculum, conf);
      },
      send() {
        let 
          byear = this.form.personalInformation.cboYear,
          bmonth = this.form.personalInformation.cboMonth,
          bday = this.form.personalInformation.cboDay,

          thisstudies = {studies:this.EducationFields},
          thislanguages = this.LanguageFields,
          thisexperiences = {experiences:this.experiences};
        
        this.form.personalInformation.birthdate = byear+'/'+bmonth+'/'+bday;
        this.form.education = thisstudies;
        this.form.education.languages = thislanguages;
        this.form.education.position = thislanguages;
        this.form.workExperience = thisexperiences;
        this.form.extras.desc;
        let data = this.form;
            if(this.$refs.form.validate()){
            axios.post(route('application.save'), {data})
                .then((res) => {
                  this.saveAvatar(res.data)
                    this.$toast.open({
                      message: this.textAlert,
                      type: 'success',
                      position: 'top'
                    });
                })
                .catch((err) => {
                    this.$toast.open({
                      message: '¡comuniquese con un administrador!',
                      type: 'error',
                      position: 'top'
                    });
                    console.log(errors)
                });
            }else{
              this.$toast.open({
                  message: '¡Debe completar los campos requeridos!',
                  type: 'error',
                  position: 'top'
                });
            }
          },
      countrySelected(e) {
        let obj = e
        this.form.contact.countryCode = obj.dialCode
      },
      expNumbers(e) {
          let numbers = String.fromCodePoint(e.keyCode);
          var code = e.which || e.keyCode,
            allowedKeys = [8, 37, 39, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 13, 46];
          if (e.shiftKey){
              e.preventDefault();
              e.stopPropagation();
          }
          if (/^[0-90-9]+$/.test(numbers)) {
              return true;
            } else if (allowedKeys.indexOf(code) > -1) {
              return true;
            } else {
                e.preventDefault();
            }
      },
      validate() {
          this.$refs.form.validate()
      },
  },
}
</script>