<template>
  <div
   class="d-flex ma-2 pa-2" 
   :class="[field.toDelete ? 'toDeleteClass rounded-lg' : '',]">
    <v-row 
      class="pt-2 mt-2"
      :class="[field.toDelete ? 'filterClass' : '',]"
    >
      <v-col
        cols="12"
        sm="4"
        md="6"
        lg="6"
      >
        <v-autocomplete
          v-model="field.langId"
          :rules="languageRules"
          :items="idiomas"
          item-text="lang"
          item-value="hash_id"
          label="Seleccione un idioma"
          prepend-icon="mdi-layers-triple"
          @change="setFields"
          >
        </v-autocomplete>
      </v-col>
      <v-col cols="12" sm="6" md="6" lg="6">
        <v-select
          v-model="field.level"
          :rules="languageRules"
          :items="nivel"
          label="Seleccione un nivel"
          prepend-icon="mdi-chart-bar"
          @change="languageData"
          >
        </v-select>
      </v-col>
    </v-row>
    <v-btn
       v-if="field.toDelete"
      icon
      class="ml-2"
      outlined
      small
      color="red accent-4"
      @click="cancelDelete()"
      :disabled="false"
    >
      <v-icon size="20">mdi-close</v-icon>
    </v-btn>
    <v-btn
      v-else
      icon
      class="ml-2"
      outlined
      small
      color="red"
      @click="deleteField(index)"
      :disabled="false"
    >
      <v-icon size="20">mdi-delete</v-icon>
    </v-btn>
  </div>
</template>

<script>
import _filter from 'lodash/filter';
export default {
  props:['field', 'rules', 'index', 'disabled','idiomas'],
  data: ()=> ({
    languages:[],
    nivel:[
        1,
        2,
        3,
        4,
        5,
      ],
    languageRules:[
      v => !!v || 'El idioma es requerido.',
    ],
    levelRules:[
      v => !!v || 'El nivel del lenguaje es requerido.',
    ],
  }),
  mounted() {
    this.languageData();
  },
  methods:{
   cancelDelete()
    {
      this.field.toDelete = false
    },
    deleteField(index)
    {
      this.field.toDelete = true
      this.$emit('RemoveLanguageField', index)
    },
    setFields(){
      this.field.toDelete = false;
      this.field.id = this.field.id ? this.field.id : null 
    },
    languageData(){
      axios.get(route('application.languageData'))
      .then((res) => {
        this.languages = res.data.lang
      })
      .catch((error) => {
        // eslint-disable-next-line no-console
        console.log(error)
      })
    },
  }
}
</script>
<style>
.toDeleteClass
{
  border-style: solid;
  border-color: #D50000;
}
.filterClass
{
  filter: blur(2px);
}
</style>