<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title class="text-h5">
          Cambiar reputación
        </v-card-title>
        <v-card-text>
        <v-card-subtitle>
         Reputacion de:  {{ data.name }}
        </v-card-subtitle>
          <v-slider
            v-model="data.reputation"
            :thumb-size="24"
            thumb-label
            max="10"
            color="secondary"
          ></v-slider>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="secondary"
            text
            @click="$emit('dialogReputation', data, true)"
          >
            Cancel
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="saveReputation"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  export default {
    props:['dialog', 'data'],
    data: () => ({
   }),
   methods:{
     saveReputation()
     {
        axios.post(route('application.saveReputation'), this.data)
        .then(()=>{
          this.$emit('dialogReputation', this.data);
        });
     }
   }
  }
</script>