<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="500"
    >
      <v-card>
        <v-card-title class="text-h5">
          Nominar
        </v-card-title>
        <v-card-text>
        <v-card-subtitle>
          Nominar a:  {{ data.name }}
        </v-card-subtitle>
        <v-form  
          ref="form"
          lazy-validation 
          @submit.prevent="SaveNominar"
        >
            <v-autocomplete
              :items="clients"
              item-text="name"
              item-value="id"
              v-model="nominal.client_id"
              label="Listado de clientes"
              multiple
              hide-selected
            >
              <template v-slot:selection="{ attrs, item, parent, selected }">
                <v-chip
                  v-if="item === Object(item)"
                  v-bind="attrs"
                  color="primary"
                  :input-value="selected"
                  label
                  small
                >
                  <span class="secondary--text mr-2">
                    {{ item.name }}
                  </span>
                  <v-icon
                    small
                    @click="parent.selectItem(item)"
                  >
                    $delete
                  </v-icon>
                </v-chip>
              </template>
            </v-autocomplete>
          <!-- <v-select
            label="Clientes"
            v-model="nominal.client_id"
            :items="clients"
            item-text="name"
            item-value="id"
            ></v-select> -->
        </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="secondary"
            text
            @click="$emit('dialogNominar', data)"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="SaveNominar"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  export default {
    props:['dialog', 'data'],
    data: () => ({
      clients: [],
      nominal:{}
   }),
   mounted()
   {
     this.getAllClients();
   },
   methods:{
      getAllClients(){
        axios.get(route('client.getAll'))
        .then((res) => {
          this.clients = res.data
        })
        .catch((error) => {
          console.log(error)
        })
      },
      SaveNominar()
      {
        //$emit('dialogNominar', data)
        if(this.$refs.form.validate())
        {
          this.nominal.aplication_id = this.data.id;
          axios.post(route('application.saveNominar'), this.nominal)
          .then(() => {
            this.$swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Solicitud realizada exitosamente.',
              showConfirmButton: false,
              timer: 1000
            })
            this.$emit('dialogNominar', this.data, true)
            this.$refs.form.reset()
          })
        }
        
      },
   }
  }
</script>