<template>
  <v-card>
    <v-card-title>
      <v-form @submit.prevent="getApplication" ref="form">
        <v-row align="center">
          <v-col cols="12" md="9">
            <v-row>
              <v-col
                cols="6"
                md="3"
                lg="3"
              >
                <v-select
                  :items="status"
                  v-model="filter.status"
                  label="Estado"
                  item-text="option"
                  item-value="value"
                  @change="getApplication"
                ></v-select>
              </v-col>
              <v-col
                cols="6"
                md="3"
                lg="3"
              >
                <v-select
                  :items="gender"
                  v-model="filter.gender"
                  label="Género"
                  item-text="option"
                  item-value="value"
                  @change="getApplication"
                ></v-select>
              </v-col>
              <v-col
                cols="12"
                md="4"
                lg="4"
              >
                <v-select
                  v-model="filter.salary"
                  label="Expectativa Salarial"
                  :items="salaryExpectations"
                  item-text="range"
                  item-value="id"
                  @change="getApplication"
                ></v-select>
              </v-col>
              <v-col
                cols="6"
                md="4"
                lg="4"
              >
                <v-autocomplete
                  v-model="filter.degree"
                  label="Estudio"
                  :items="allDegrees"
                  item-text="degree"
                  item-value="id"
                  @change="getApplication"
                ></v-autocomplete>
              </v-col>
              <v-col
                cols="6"
                md="6"
                lg="6"
              >
                <v-autocomplete
                  v-model="filter.reputation"
                  :items="reputations"
                  label="Reputación"
                  item-text="option"
                  item-value="value"
                  @change="getApplication"
                ></v-autocomplete>
              </v-col>
              <v-col
                cols="12"
                md="10"
                lg="10"
              >
                <v-autocomplete
                  v-model="filter.country"
                  :items="countries"
                  label="Países"
                  item-text="name"
                  item-value="id"
                  @change="getApplication"
                  menu-props="closeOnContentClick"
                  clearable
                  multiple
                  hide-selected 
                  :disabled="CountriDisabled" 
                >
                 <template v-slot:selection="{ attrs, item, parent, selected  }">
                  <v-chip
                    v-if="item === Object(item)"
                    v-bind="attrs"
                    color="primary"
                    :input-value="selected"
                    label
                    small
                  >
                    <span class="secondary--text mr-2">
                      {{ item.name }}
                    </span>
                    <v-icon
                      small
                      @click="parent.selectItem(item)"
                    >
                      $delete
                    </v-icon>
                  </v-chip>
                </template>
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col
            cols="12"
            md="3"
            justify="center"
          >
            <v-row justify="center" align="center">
              <v-col cols="auto">
                <v-form @submit.prevent="getApplication" class="w-full d-flex align-center mb-3">
                  <v-text-field
                    v-model="filter.search"
                    label="Buscar"
                    class="mb-15"
                  >
                  </v-text-field>
                  <v-btn
                    rounded
                    color="blue"
                    small
                    dark
                    class="mb-15"
                    @click="getApplication"
                  >
                    <v-icon>mdi-magnify</v-icon>
                    Buscar
                  </v-btn>
                </v-form>
              </v-col>
            </v-row>
            <v-row>
             <v-col cols="12" md="10" lg="10">
                <v-btn
                  rounded
                  color="blue"
                  class="font-weigth-bold"
                  dark
                  @click="resetFilter"
                >
                  Resetear
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="applications"
      :options.sync="options"
      :server-items-length="total"
      :loading="loading"
      class="elevation-10"
    >
      <template v-slot:[`item.finished`]="{ item }">
        <v-chip
          color="green"
          text-color="white"
          v-if="item.finished"
        >
          <v-avatar left>
            <v-icon>mdi-checkbox-marked-circle</v-icon>
          </v-avatar>
          <span class="font-weight-bold">Terminado</span>
        </v-chip>
        <v-chip
          color="red"
          text-color="white"
          v-else
        >
          <v-avatar left>
            <v-icon>mdi-close-circle</v-icon>
          </v-avatar>
          <span class="font-weight-bold">Incompleto</span>
        </v-chip>
      </template>
      <template v-slot:[`item.gender`]="{ item }">
        <span v-if="item.person_data">
          {{getGender(item.person_data.gender)}}
        </span>
        <span v-else>
          Sin Dato
        </span>
      </template>
      <template v-slot:[`item.range`]="{ item }">
        <span v-if="item.salary_expectation">
          {{item.salary_expectation.range}}
        </span>
        <span v-else>
          Sin Dato
        </span>
      </template>
      <template v-slot:[`item.fullname`]="{ item }">
        <span>
          {{ValidateData(item.fullname)}}
        </span>
      </template>
      <template v-slot:[`item.reputation`]="{ item }">
        <v-chip
          v-if="item.reputation > 9"
          @click="dialogReputation(item)"
          link
          :color="getColor(item.reputation)"
          dark
          append
          class="pa-2"
        >
          <span class="font-weight-bold" >{{ item.reputation }}</span>
        </v-chip>
        <v-chip
          v-else
          @click="dialogReputation(item)"
          link
          :color="getColor(item.reputation)"
          dark
          append
          class="px-3 py-2"
        >
          <span class="font-weight-bold" >{{ item.reputation }}</span>
        </v-chip>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-chip
          @click="editItem(item)"
          link
          color="green"
          dark
          outlined
        >
          <span class="font-weight-bold">Editar</span>
        </v-chip>
        <v-chip
          @click="detailItem(item)"
          link
          color="green"
          dark
          outlined
        >
        <span class="font-weight-bold">Detalle</span>
        </v-chip>
        <v-chip
          @click="dialogNominar(item)"
          link
          color="green"
          dark
          outlined
        >
          <span class="font-weight-bold">Nominar</span>
        </v-chip>
         <v-chip
          @click="deleteItem(item)"
          link
          color="green"
          dark
          outlined
        >
        <span class="font-weight-bold">Eliminar</span>
        </v-chip>
      </template>
    </v-data-table>
     <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h5">¿Estas seguro que deseas eliminar?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <ReputationSlide :data="data" :dialog="dialog" @dialogReputation="dialogReputation" />
    <SelectNominar 
      :data="data" 
      :dialog="nominarDialog"
       @dialogNominar="dialogNominar" 
       @getApplication="getApplication"
       ref="selectNominar"
    />
  </v-card>
</template>
<script>
  import ReputationSlide from './reputation-slide'
  import SelectNominar from './select-nominar'
  export default {
    components:{
      ReputationSlide,
      SelectNominar
    },
    data () {
      return {
        dialog: false,
        nominarDialog: false,
        loading: true,
        dialogDelete:false,
        data:{},
        total: 0,
        reputacion:0,
        nominar: [],
        editedItem : {},
        options: {},
        CountriDisabled : true,
        headers: [
          { text: 'Estatus', value: 'finished', sortable: false },
          { text: 'Nombres y Apellidos', value: 'fullname', sortable: false },
          { text: 'Género', value: 'gender', sortable: false },
          { text: 'Expectativa Salarial', value: 'range', sortable: false },
          { text: 'Reputación', value: 'reputation', sortable: false },
          { text: 'Acciones', value: 'actions', sortable: false },
        ],
        applications: [],
        status: [
            { option: 'Terminado', value: true },
            { option: 'Incompleto', value: false },
        ],
        gender: [
            { option: 'Femenino', value: 'F' },
            { option: 'Masculino', value: 'M' },
            { option: 'Prefiero no decirlo', value: 'U',},
        ],
        salaryExpectations:[],
        reputations: [
            { option: '0', value: 0 },
            { option: '1', value: 1 },
            { option: '2', value: 2 },
            { option: '3', value: 3 },
            { option: '4', value: 4 },
            { option: '5', value: 5 },
            { option: '6', value: 6 },
            { option: '7', value: 7 },
            { option: '8', value: 8 },
            { option: '9', value: 9 },
            { option: '10', value: 10 },
        ],
        countries: [],
        allDegrees: [],
        filter: {
          search: '',
        }

      }
    },
    mounted () {
     //this.getApplication();
     this.getCountries();
     this.getSalaryExpectation();
     this.getDegrees();
    },
    watch: {
      options: {
        handler () {
          this.getApplication()
        },
        deep: true,
      }, 
    },
    methods:{
      getSalaryExpectation(){
        axios.get('/api/assistants/talents/step-three/salary-expectations')
        .then((res) => {
          this.salaryExpectations = res.data.salaries
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
      },
      editItem(item)
      {
        this.$inertia.visit(route(
          'application.edit', {id:item.user_id}), 
          {
            method: 'get'
          })
      },
       detailItem(item)
      {
        this.$inertia.visit(route(
          'application.detail', {id:item.user_id}), 
          {
            method: 'get'
          })
      },
      deleteItem(item) {
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm (deleted) {
        
       this.dialogDelete = false
       var deleted = this.editedItem; 
       axios.delete(route('form.delete', {id : deleted.id} ))
        .then(() => {
          this.$swal.fire({
            position: 'center',
            icon: 'success',
            title: 'El registro se eliminó exitosamente.',
            showConfirmButton: false,
            timer: 3000
          })
          this.getApplication();
        })
      },
      resetFilter()
      {
        this.$refs.form.reset();
        this.filter.search = "";
        this.getApplication();
      },
      getApplication()
      { 
        this.loading = true;
        this.applications =  [];
        this.filter.perPage = this.options.itemsPerPage;
        axios.post(route('application.get', {
          page: this.options.page,
        }), this.filter)
        .then( (response) => {
          this.applications =  response.data.data;
          this.loading = false;
          this.total = response.data.total;
        })
      },

        getCountries(){
        axios.get(route('application.countryData'))
        .then((res) => {
          this.countries = res.data.countries;
         
          if(res.data.countries.length > 0){
             this.CountriDisabled = false;
          }
         
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
      },
      getColor (reputacion) {
        if (reputacion < 3) return 'red'
        else if (reputacion < 6) return 'orange'
        else return 'green'
      },
      getDegrees(){
        axios.get('/api/assistants/talents/step-four/get-data')
        .then((res) => {
          this.allDegrees = res.data.degrees
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
      },
      getGender (gender)
      {
        if (gender == "M") return 'Masculino'
        else if (gender == "F") return 'Femenino'
        else if (gender == "U") return 'Prefiero no decirlo'
        else return 'Sin Dato'
      },
      ValidateData(data)
      {
        if (data) return data
        else return 'Sin Dato'
      },
      dialogReputation (item, cancel)
      { 
        const reputation = item.reputation;
        this.dialog = !this.dialog;
        this.data = item;
        if(cancel)
        {
          item.reputation =  this.reputation;
        }
        else
        {
          this.reputation = reputation; 
        }
      },
      dialogNominar (item, save)
      { 
        this.nominar = [];
        Object.keys(item.clients).forEach(key => {
          this.nominar.push(item.clients[key].id)
        });
        this.$refs.selectNominar.nominal.client_id = this.nominar;
        this.nominarDialog = !this.nominarDialog;
        this.data = item;
        if(save)
        {
          this.getApplication();
        }
      }
    }
  }
</script>