<template>
  <app-layout :loggedUser="sessionUser">
    <v-container
      id="dashboard"
      fluid
      tag="section"
    >
    <v-row>
      <!-- Undeleted company activities -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="undeleted"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Sectores de la industria</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-text-field
                v-model="search"
                dense
                hide-details
                label="Buscar..."
                class="mx-4"
              ></v-text-field>
              <v-spacer></v-spacer>

              <!-- Company activity form -->
              <v-dialog
                v-model="formDialog"
                max-width="500px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="primary"
                    dark
                    class="mb-2"
                    @click="newCompanyActivity"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                    Crear
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row justify="center">
                        <v-col
                          cols="12"
                          md="6"
                        >
                          <v-text-field
                            v-model="form.activity"
                            label="Actividad"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <template v-if="$v.form.$dirty && $v.form.$invalid">
                        <v-alert
                          v-if="$v.form.$dirty && $v.form.$invalid"
                          dense
                          text
                          border="left"
                          color="warning"
                        >
                          <p class="my-0" v-if="!$v.form.activity.required">La actividad es requerido</p>
                          <p class="my-0" v-if="!$v.form.activity.alpha">La actividad sólo debe tener letras</p>
                          <p class="my-0" v-if="!$v.form.activity.maxLength">La actividad debe tener máximo 50 caracteres</p>
                        </v-alert>
                      </template>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="closeFormDialog"
                    >
                      Cancelar
                    </v-btn>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="saveCompanyActivity"
                    >
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Company activity form -->

              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Eliminar {{ companyActivityName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmDelete">Cancelar</v-btn>
                    <v-btn color="blue darken-1" text @click="deleteCompanyActivity">Aceptar</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editCompanyActivity(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmDelete(item)"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Undeleted company activities -->

      <!-- Deleted countries -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="deleted"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Sectores de la industria Eiminados</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialogUndelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Restaurar {{ companyActivityName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmRestore">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="restoreCompanyActivity">OK</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editCompanyActivity(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmRestore(item)"
            >
              mdi-arrow-u-left-bottom-bold
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Deleted countries -->
     </v-row>
    </v-container>
  </app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout'
import { validationMixin } from 'vuelidate'
import { helpers, required, maxLength } from 'vuelidate/lib/validators'
const alpha = helpers.regex(
  'alpha',
  /^[a-zA-ZÀ-ÿ\u00F1\u00D1]+(\s*[a-zA-ZÀ-ÿ\u00F1\u00D1]*)*[a-zA-ZÀ-ÿ\u00F1\u00D1]+$/i
)

export default {
  components: {
    AppLayout
  },
  mixins: [validationMixin],
  props: ['sessionUser', 'companyActivities', 'deletedCompanyActivities'],
  data () {
    return {
      formDialog: false,
      formTitle: '',
      dialogDelete: false,
      companyActivityName: '',
      companyActivityId: null,
      dialogUndelete: false,
      search: '',
      loading: true,
      headers: [
          { text: 'Nombre de actividad', value: 'activity', sortable: false },
          { text: 'Acciones', value: 'actions', sortable: false },
        ],
      undeleted: this.companyActivities,
      deleted: this.deletedCompanyActivities,
      form: {
        activity: '',
      },
    }
  },
  validations: {
    form: {
      activity: {
        required,
        alpha,
        maxLength: maxLength(50),
      },
    },
  },
  methods: {
    newCompanyActivity() {
      this.$v.$reset()
      this.formTitle = 'Nuevo Sector de la Industria'
      this.form.activity = ''
      this.formDialog = true
    },
    confirmDelete(ca) {
      this.companyActivityName = ca.activity
      this.companyActivityId = ca.id
      this.dialogDelete = true
    },
    cancelConfirmDelete() {
      this.companyActivityName = ''
      this.companyActivityId = null
      this.dialogDelete = false
    },
    confirmRestore(ca) {
      this.companyActivityName = ca.activity
      this.companyActivityId = ca.id
      this.dialogUndelete = true
    },
    cancelConfirmRestore() {
      this.companyActivityName = ''
      this.companyActivityId = null
      this.dialogUndelete = false
    },
    editCompanyActivity(ca) {
      this.$v.$reset()
      this.formTitle = 'Editar Sector de la Industria'
      this.form.id = ca.id
      this.form.activity = ca.activity
      this.formDialog = true
    },
    saveCompanyActivity() {
      this.$v.form.$touch()
      if(!this.$v.form.$invalid){
        axios.post(route('config.saveCompanyActivity'), this.form)
        .then((res) => {  
          this.$swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Solicitud realizada exitosamente.',
            showConfirmButton: false,
            timer: 1500
          })
          this.undeleted = res.data.companyActivities
          this.deleted = res.data.deletedCompanyActivities
          this.closeFormDialog()
        })
      }
    },
    closeFormDialog() {
      this.formDialog = false
      this.form = {
        activity: '',
      }
    },
    deleteCompanyActivity() {
      axios.delete(route('config.deleteCompanyActivity', {id : this.companyActivityId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se eliminó exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.companyActivities
        this.deleted = res.data.deletedCompanyActivities
        this.cancelConfirmDelete()
      })
    },
    restoreCompanyActivity() {
      axios.post(route('config.restoreCompanyActivity', {id : this.companyActivityId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se restauró exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.companyActivities
        this.deleted = res.data.deletedCompanyActivities
        this.cancelConfirmRestore()
      })
    },
  }
}
</script>