<template>
  <app-layout :loggedUser="sessionUser">
    <v-container
      id="dashboard"
      fluid
      tag="section"
    >
    <v-row>
      <!-- Undeleted countries -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="undeleted"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Países</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-text-field
                v-model="search"
                dense
                hide-details
                label="Buscar..."
                class="mx-4"
              ></v-text-field>
              <v-spacer></v-spacer>

              <!-- Country form -->
              <v-dialog
                v-model="formDialog"
                max-width="500px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="primary"
                    dark
                    class="mb-2"
                    @click="newCountry"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                    Crear
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row justify="center">
                        <v-col
                          cols="12"
                          md="4"
                        >
                          <v-text-field
                            v-model="form.number_code"
                            label="Código del país"
                          ></v-text-field>
                        </v-col>
                        <v-col
                          cols="12"
                          md="6"
                        >
                          <v-text-field
                            v-model="form.name"
                            label="Nombre del país"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <template v-if="$v.form.$dirty && $v.form.$invalid">
                        <v-alert
                          v-if="$v.form.$dirty && $v.form.$invalid"
                          dense
                          text
                          border="left"
                          color="warning"
                        >
                          <p class="my-0" v-if="!$v.form.number_code.required">El código es requerido</p>
                          <p class="my-0" v-if="!$v.form.number_code.numeric">El código no puede tener letras</p>
                          <p class="my-0" v-if="!$v.form.number_code.maxLength">El código debe tener máximo 3 números</p>
                          <p class="my-0" v-if="!$v.form.name.required">El nombre es requerido</p>
                          <p class="my-0" v-if="!$v.form.name.alpha">El nombre sólo debe tener letras</p>
                          <p class="my-0" v-if="!$v.form.name.maxLength">El nombre debe tener máximo 50 caracteres</p>
                        </v-alert>
                      </template>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="closeFormDialog"
                    >
                      Cancelar
                    </v-btn>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="saveCountry"
                    >
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Country form -->

              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Eliminar {{ countryName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmDelete">Cancelar</v-btn>
                    <v-btn color="blue darken-1" text @click="deleteCountry">Aceptar</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editCountry(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmDelete(item)"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Undeleted countries -->

      <!-- Deleted countries -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="deleted"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Países Eiminados</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialogUndelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Restaurar {{ countryName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmRestore">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="restoreCountry">OK</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editCountry(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmRestore(item)"
            >
              mdi-arrow-u-left-bottom-bold
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Deleted countries -->
     </v-row>
    </v-container>
  </app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout'
import { validationMixin } from 'vuelidate'
import { helpers, required, numeric, maxLength } from 'vuelidate/lib/validators'
const alpha = helpers.regex(
  'alpha',
  /^[a-zA-ZÀ-ÿ\u00F1\u00D1]+(\s*[a-zA-ZÀ-ÿ\u00F1\u00D1]*)*[a-zA-ZÀ-ÿ\u00F1\u00D1]+$/i
)

export default {
  components: {
    AppLayout
  },
  mixins: [validationMixin],
  props: ['sessionUser', 'countries', 'deletedCountries'],
  data () {
    return {
      formDialog: false,
      formTitle: '',
      dialogDelete: false,
      countryName: '',
      countryId: null,
      dialogUndelete: false,
      search: '',
      loading: true,
      headers: [
        { text: 'Código del país', value: 'number_code', sortable: false },
        { text: 'Nombre del país', value: 'name', sortable: false },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      undeleted: this.countries,
      deleted: this.deletedCountries,
      form: {
        number_code: '',
        name: '',
      },
    }
  },
  validations: {
    form: {
      number_code: {
        required,
        numeric,
        maxLength: maxLength(3),
      },
      name: {
        required,
        alpha,
        maxLength: maxLength(50),
      },
    },
  },
  methods: {
    newCountry() {
      this.$v.$reset()
      this.formTitle = 'Nuevo País'
      this.form.number_code = ''
      this.form.name = ''
      this.formDialog = true
    },
    confirmDelete(item) {
      this.countryName = item.name
      this.countryId = item.id
      this.dialogDelete = true
    },
    cancelConfirmDelete() {
      this.countryName = ''
      this.countryId = null
      this.dialogDelete = false
    },
    confirmRestore(item) {
      this.countryName = item.name
      this.countryId = item.id
      this.dialogUndelete = true
    },
    cancelConfirmRestore() {
      this.countryName = ''
      this.countryId = null
      this.dialogUndelete = false
    },
    editCountry(country) {
      this.$v.$reset()
      this.formTitle = 'Editar País'
      this.form.id = country.id
      this.form.number_code = country.number_code
      this.form.name = country.name
      this.formDialog = true
    },
    saveCountry() {
      this.$v.form.$touch()
      if(!this.$v.form.$invalid){
        axios.post(route('config.saveCountry'), this.form)
        .then((res) => {
          console.log(res)
          this.$swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Solicitud realizada exitosamente.',
            showConfirmButton: false,
            timer: 1500
          })
          this.undeleted = res.data.countries
          this.deleted = res.data.deletedCountries
          this.closeFormDialog()
        })
      }
    },
    closeFormDialog() {
      this.formDialog = false
      this.form = {
        number_code: '',
        name: '',
      }
    },
    deleteCountry() {
      axios.delete(route('config.deleteCountries', {id : this.countryId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se eliminó exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.countries
        this.deleted = res.data.deletedCountries
        this.cancelConfirmDelete()
      })
    },
    restoreCountry() {
      axios.post(route('config.restoreCountries', {id : this.countryId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se restauró exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.countries
        this.deleted = res.data.deletedCountries
        this.cancelConfirmRestore()
      })
    },
  }
}
</script>