<template>
  <app-layout :loggedUser="sessionUser">
    <v-container
      id="dashboard"
      fluid
      tag="section"
    >
    <v-row align="center" justify="center">
      <v-col cols="4">
        <v-autocomplete
          v-model="studyTypeId"
          :items="studyTypes"
          hide-selected
          clearable
          label="Tipos de estudio"
          item-text="name"
          item-value="id"
          :disabled="studyTypes.length < 0"
          @change="getDegrees"
        >
        </v-autocomplete>
      </v-col>
    </v-row>
    <v-row>
      <!-- Undeleted degrees -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="undeleted"
          class="elevation-1"
          :search="search"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Títulos</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-text-field
                v-model="search"
                dense
                hide-details
                :disabled="studyTypeId === null"
                label="Buscar..."
                class="mx-4"
              ></v-text-field>
              <v-spacer></v-spacer>

              <!-- Degree form -->
              <v-dialog
                v-model="formDialog"
                max-width="500px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    :disabled="studyTypeId === null"
                    color="primary"
                    dark
                    class="mb-2"
                    @click="newDegree"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                    Crear
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row justify="center">
                        <v-col>
                          <v-text-field
                            v-model="form.degree"
                            label="Nombre"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <template v-if="$v.form.$dirty && $v.form.$invalid">
                        <v-alert
                          v-if="$v.form.$dirty && $v.form.$invalid"
                          dense
                          text
                          border="left"
                          color="warning"
                        >
                          <p class="my-0" v-if="!$v.form.degree.required">El nombre es requerido</p>
                          <p class="my-0" v-if="!$v.form.degree.alpha">El nombre sólo debe tener letras</p>
                          <p class="my-0" v-if="!$v.form.degree.maxLength">El nombre debe tener máximo 50 caracteres</p>
                        </v-alert>
                      </template>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="closeFormDialog"
                    >
                      Cancelar
                    </v-btn>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="saveDegree"
                    >
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Country form -->

              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Eliminar {{ degreeName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmDelete">Cancelar</v-btn>
                    <v-btn color="blue darken-1" text @click="deleteDegree">Aceptar</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editDegree(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmDelete(item)"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Undeleted countries -->

      <!-- Deleted countries -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="deleted"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Títulos Eiminados</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialogUndelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Restaurar {{ degreeName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmRestore">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="restoreState">OK</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editDegree(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmRestore(item)"
            >
              mdi-arrow-u-left-bottom-bold
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Deleted countries -->
    </v-row>
    </v-container>
  </app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout'
import { validationMixin } from 'vuelidate'
import { helpers, required, maxLength } from 'vuelidate/lib/validators'
const alpha = helpers.regex(
  'alpha',
  /^[a-zA-ZÀ-ÿ\u00F1\u00D1]+(\s*[a-zA-ZÀ-ÿ\u00F1\u00D1]*)*[a-zA-ZÀ-ÿ\u00F1\u00D1]+$/i
)

export default {
  components: {
    AppLayout,
  },
  mixins: [validationMixin],
  props: ['sessionUser', 'studyTypes'],
  data () {
    return {
      headers: [
        { text: 'Título', value: 'degree', sortable: false },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      search: '',
      formTitle: '',
      form: { degree: '' },
      undeleted: [],
      deleted: [],
      studyTypeId: null,
      degreeName: '',
      degreeId: null,
      formDialog: false,
      dialogDelete: false,
      dialogUndelete: false,
    }
  },
  validations: {
    form: {
      degree: {
        required,
        alpha,
        maxLength: maxLength(50),
      },
    },
  },
  methods: {
    getDegrees() {
      if (this.studyTypeId !== null) {
        axios.get(`/config/get-degrees/${this.studyTypeId}`)
        .then((res) => {
          this.undeleted = res.data.degrees
          this.deleted = res.data.deletedDegrees
        })
      }
    },
    newDegree() {
      this.$v.$reset()
      this.formTitle = 'Nuevo Título'
      this.form.degree = ''
      this.form.study_type_id = this.studyTypeId
      this.formDialog = true
    },
    confirmDelete(d) {
      this.degreeName = d.degree
      this.degreeId = d.id
      this.dialogDelete = true
    },
    cancelConfirmDelete() {
      this.degreeName = ''
      this.degreeId = null
      this.dialogDelete = false
    },
    confirmRestore(d) {
      this.degreeName = d.degree
      this.degreeId = d.id
      this.dialogUndelete = true
    },
    cancelConfirmRestore() {
      this.degreeName = ''
      this.degreeId = null
      this.dialogUndelete = false
    },
    editDegree(d) {
      this.$v.$reset()
      this.formTitle = 'Editar Título'
      this.form.id = d.id
      this.form.study_type_id = this.studyTypeId
      this.form.degree = d.degree
      this.formDialog = true
    },
    saveDegree() {
      this.$v.form.$touch()
      if(!this.$v.form.$invalid){
        axios.post(route('config.saveDegree'), this.form)
        .then((res) => {
          this.$swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Solicitud realizada exitosamente.',
            showConfirmButton: false,
            timer: 1500
          })
          this.undeleted = res.data.degrees
          this.deleted = res.data.deletedDegrees
          this.closeFormDialog()
        })
      }
    },
    closeFormDialog() {
      this.formDialog = false
      this.formTitle = ''
      this.form = {
        degree: '',
      }
    },
    deleteDegree() {
      axios.delete(route('config.deleteDegree', {id : this.degreeId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se eliminó exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.degrees
        this.deleted = res.data.deletedDegrees
        this.cancelConfirmDelete()
      })
    },
    restoreState() {
      axios.post(route('config.restoreDegree', {id : this.degreeId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se restauró exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.degrees
        this.deleted = res.data.deletedDegrees
        this.cancelConfirmRestore()
      })
    }
  }
}
</script>