<template>
  <app-layout :loggedUser="sessionUser">
    <v-container
      id="dashboard"
      fluid
      tag="section"
    >
    <v-row>
      <!-- Undeleted languages -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="undeleted"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Idiomas</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-text-field
                v-model="search"
                dense
                hide-details
                label="Buscar..."
                class="mx-4"
              ></v-text-field>
              <v-spacer></v-spacer>

              <!-- Language form -->
              <v-dialog
                v-model="formDialog"
                max-width="500px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="primary"
                    dark
                    class="mb-2"
                    @click="newLanguage"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                    Crear
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row justify="center">
                        <v-col
                          cols="12"
                          md="6"
                        >
                          <v-text-field
                            v-model="form.lang"
                            label="Idioma"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <template v-if="$v.form.$dirty && $v.form.$invalid">
                        <v-alert
                          v-if="$v.form.$dirty && $v.form.$invalid"
                          dense
                          text
                          border="left"
                          color="warning"
                        >
                          <p class="my-0" v-if="!$v.form.lang.required">El idioma es requerido</p>
                          <p class="my-0" v-if="!$v.form.lang.alpha">El idioma sólo debe tener letras</p>
                          <p class="my-0" v-if="!$v.form.lang.maxLength">El idioma debe tener máximo 50 caracteres</p>
                        </v-alert>
                      </template>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="closeFormDialog"
                    >
                      Cancelar
                    </v-btn>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="saveLanguage"
                    >
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Language form -->

              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Eliminar {{ languageName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmDelete">Cancelar</v-btn>
                    <v-btn color="blue darken-1" text @click="deleteLanguage">Aceptar</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editLanguage(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmDelete(item)"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Undeleted languages -->

      <!-- Deleted languages -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="deleted"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Idiomas Eiminados</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialogUndelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Restaurar {{ languageName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmRestore">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="restoreLanguage">OK</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editLanguage(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmRestore(item)"
            >
              mdi-arrow-u-left-bottom-bold
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Deleted languages -->
     </v-row>
    </v-container>
  </app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout'
import { validationMixin } from 'vuelidate'
import { helpers, required, maxLength } from 'vuelidate/lib/validators'
const alpha = helpers.regex(
  'alpha',
  /^[a-zA-ZÀ-ÿ\u00F1\u00D1]+(\s*[a-zA-ZÀ-ÿ\u00F1\u00D1]*)*[a-zA-ZÀ-ÿ\u00F1\u00D1]+$/i
)

export default {
  components: {
    AppLayout
  },
  mixins: [validationMixin],
  props: ['sessionUser', 'languages', 'deletedLanguages'],
  data () {
    return {
      formDialog: false,
      formTitle: '',
      dialogDelete: false,
      languageName: '',
      LangId: null,
      dialogUndelete: false,
      search: '',
      loading: true,
      headers: [
        { text: 'Nombre', value: 'lang', sortable: false },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      undeleted: this.languages,
      deleted: this.deletedLanguages,
      form: {
        lang: '',
      },
    }
  },
  validations: {
    form: {
      lang: {
        required,
        alpha,
        maxLength: maxLength(50),
      },
    },
  },
  methods: {
    newLanguage() {
      this.$v.$reset()
      this.formTitle = 'Nuevo Idioma'
      this.form.lang = ''
      this.formDialog = true
    },
    confirmDelete(l) {
      this.languageName = l.lang
      this.LangId = l.id
      this.dialogDelete = true
    },
    cancelConfirmDelete() {
      this.languageName = ''
      this.LangId = null
      this.dialogDelete = false
    },
    confirmRestore(l) {
      this.languageName = l.lang
      this.LangId = l.id
      this.dialogUndelete = true
    },
    cancelConfirmRestore() {
      this.languageName = ''
      this.LangId = null
      this.dialogUndelete = false
    },
    editLanguage(l) {
      this.$v.$reset()
      this.formTitle = 'Editar Idioma'
      this.form.id = l.id
      this.form.lang = l.lang
      this.formDialog = true
    },
    saveLanguage() {
      this.$v.form.$touch()
      if(!this.$v.form.$invalid){
        axios.post(route('config.saveLanguage'), this.form)
        .then((res) => {
          console.log(res)
          this.$swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Solicitud realizada exitosamente.',
            showConfirmButton: false,
            timer: 1500
          })
          this.undeleted = res.data.languages
          this.deleted = res.data.deletedLanguages
          this.closeFormDialog()
        })
      }
    },
    closeFormDialog() {
      this.formDialog = false
      this.form = {
        lang: '',
      }
    },
    deleteLanguage() {
      axios.delete(route('config.deleteLanguage', {id : this.LangId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se eliminó exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.languages
        this.deleted = res.data.deletedLanguages
        this.cancelConfirmDelete()
      })
    },
    restoreLanguage() {
      axios.post(route('config.restoreLanguage', {id : this.LangId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se restauró exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.languages
        this.deleted = res.data.deletedLanguages
        this.cancelConfirmRestore()
      })
    },
  }
}
</script>