<template>
  <app-layout :loggedUser="sessionUser">
    <v-container
      id="dashboard"
      fluid
      tag="section"
    >
    <v-row>
      <!-- Undeleted countries -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="undeleted"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Cargos</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-text-field
                v-model="search"
                dense
                hide-details
                label="Buscar..."
                class="mx-4"
              ></v-text-field>
              <v-spacer></v-spacer>

              <!-- Position form -->
              <v-dialog
                v-model="formDialog"
                max-width="500px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="primary"
                    dark
                    class="mb-2"
                    @click="newPosition"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                    Crear
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row justify="center">
                        <v-col
                          cols="12"
                          md="6"
                        >
                          <v-text-field
                            v-model="form.position"
                            label="Cargo"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <template v-if="$v.form.$dirty && $v.form.$invalid">
                        <v-alert
                          v-if="$v.form.$dirty && $v.form.$invalid"
                          dense
                          text
                          border="left"
                          color="warning"
                        >
                          <p class="my-0" v-if="!$v.form.position.required">El nombre es requerido</p>
                          <p class="my-0" v-if="!$v.form.position.alpha">El nombre sólo debe tener letras</p>
                          <p class="my-0" v-if="!$v.form.position.maxLength">El nombre debe tener máximo 50 caracteres</p>
                        </v-alert>
                      </template>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="closeFormDialog"
                    >
                      Cancelar
                    </v-btn>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="savePosition"
                    >
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Position form -->

              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Eliminar {{ positionName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmDelete">Cancelar</v-btn>
                    <v-btn color="blue darken-1" text @click="deletePosition">Aceptar</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editPosition(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmDelete(item)"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Undeleted countries -->

      <!-- Deleted countries -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="deleted"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Cargos Eiminados</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialogUndelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Restaurar {{ positionName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmRestore">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="restoreCountry">OK</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editPosition(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmRestore(item)"
            >
              mdi-arrow-u-left-bottom-bold
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Deleted countries -->
     </v-row>
    </v-container>
  </app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout'
import { validationMixin } from 'vuelidate'
import { helpers, required, numeric, maxLength } from 'vuelidate/lib/validators'
const alpha = helpers.regex(
  'alpha',
  /^[a-zA-ZÀ-ÿ\u00F1\u00D1]+(\s*[a-zA-ZÀ-ÿ\u00F1\u00D1]*)*[a-zA-ZÀ-ÿ\u00F1\u00D1]+$/i
)

export default {
  components: {
    AppLayout
  },
  mixins: [validationMixin],
  props: ['sessionUser', 'positions', 'deletedPositions'],
  data () {
    return {
      formDialog: false,
      formTitle: '',
      dialogDelete: false,
      positionName: '',
      positionId: null,
      dialogUndelete: false,
      search: '',
      loading: true,
      headers: [
        { text: 'Nombre del cargo', value: 'position', sortable: false },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      undeleted: this.positions,
      deleted: this.deletedPositions,
      form: {
        position: '',
      },
    }
  },
  validations: {
    form: {
      position: {
        required,
        alpha,
        maxLength: maxLength(50),
      },
    },
  },
  methods: {
    newPosition() {
      this.$v.$reset()
      this.formTitle = 'Nuevo Cargo'
      this.form.position = ''
      this.formDialog = true
    },
    confirmDelete(p) {
      this.positionName = p.position
      this.positionId = p.id
      this.dialogDelete = true
    },
    cancelConfirmDelete() {
      this.positionName = ''
      this.positionId = null
      this.dialogDelete = false
    },
    confirmRestore(p) {
      this.positionName = p.position
      this.positionId = p.id
      this.dialogUndelete = true
    },
    cancelConfirmRestore() {
      this.positionName = ''
      this.positionId = null
      this.dialogUndelete = false
    },
    editPosition(p) {
      this.$v.$reset()
      this.formTitle = 'Editar Cargo'
      this.form.id = p.id
      this.form.position = p.position
      this.formDialog = true
    },
    savePosition() {
      this.$v.form.$touch()
      if(!this.$v.form.$invalid){
        axios.post(route('config.savePosition'), this.form)
        .then((res) => {
          console.log(res)
          this.$swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Solicitud realizada exitosamente.',
            showConfirmButton: false,
            timer: 1500
          })
          this.undeleted = res.data.positions
          this.deleted = res.data.deletedPositions
          this.closeFormDialog()
        })
      }
    },
    closeFormDialog() {
      this.formDialog = false
      this.form = {
        position: '',
      }
    },
    deletePosition() {
      axios.delete(route('config.deletePosition', {id : this.positionId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se eliminó exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.positions
        this.deleted = res.data.deletedPositions
        this.cancelConfirmDelete()
      })
    },
    restoreCountry() {
      axios.post(route('config.restorePosition', {id : this.positionId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se restauró exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.positions
        this.deleted = res.data.deletedPositions
        this.cancelConfirmRestore()
      })
    },
  }
}
</script>