<template>
  <app-layout :loggedUser="sessionUser">
    <v-container
      id="dashboard"
      fluid
      tag="section"
    >
    <v-row align="center" justify="center">
      <v-col cols="4">
        <v-autocomplete
          v-model="countryId"
          :items="countries"
          hide-selected
          clearable
          label="Países"
          item-text="name"
          item-value="id"
          :disabled="countries.length < 0"
          @change="getStates"
        >
        </v-autocomplete>
      </v-col>
    </v-row>
    <v-row>
      <!-- Undeleted countries -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="undeleted"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Estados</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-text-field
                v-model="search"
                dense
                hide-details
                :disabled="countryId === null"
                label="Buscar..."
                class="mx-4"
              ></v-text-field>
              <v-spacer></v-spacer>

              <!-- Country form -->
              <v-dialog
                v-model="formDialog"
                max-width="500px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    :disabled="countryId === null"
                    color="primary"
                    dark
                    class="mb-2"
                    @click="newState"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                    Crear
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row justify="center">
                        <v-col>
                          <v-text-field
                            v-model="form.name"
                            label="Nombre"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <template v-if="$v.form.$dirty && $v.form.$invalid">
                        <v-alert
                          v-if="$v.form.$dirty && $v.form.$invalid"
                          dense
                          text
                          border="left"
                          color="warning"
                        >
                          <p class="my-0" v-if="!$v.form.name.required">El nombre es requerido</p>
                          <p class="my-0" v-if="!$v.form.name.alpha">El nombre sólo debe tener letras</p>
                          <p class="my-0" v-if="!$v.form.name.maxLength">El nombre debe tener máximo 50 caracteres</p>
                        </v-alert>
                      </template>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="closeFormDialog"
                    >
                      Cancelar
                    </v-btn>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="saveState"
                    >
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Country form -->

              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Eliminar {{ stateName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmDelete">Cancelar</v-btn>
                    <v-btn color="blue darken-1" text @click="deleteState">Aceptar</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editState(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmDelete(item)"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Undeleted countries -->

      <!-- Deleted countries -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="deleted"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Estados Eiminados</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialogUndelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Restaurar {{ stateName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmRestore">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="restoreState">OK</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editState(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmRestore(item)"
            >
              mdi-arrow-u-left-bottom-bold
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Deleted countries -->
    </v-row>
    </v-container>
  </app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout'
import { validationMixin } from 'vuelidate'
import { helpers, required, maxLength } from 'vuelidate/lib/validators'
const alpha = helpers.regex(
  'alpha',
  /^[a-zA-ZÀ-ÿ\u00F1\u00D1]+(\s*[a-zA-ZÀ-ÿ\u00F1\u00D1]*)*[a-zA-ZÀ-ÿ\u00F1\u00D1]+$/i
)

export default {
  components: {
    AppLayout,
  },
  mixins: [validationMixin],
  props: ['sessionUser', 'countries'],
  data () {
    return {
      headers: [
        { text: 'Estado', value: 'name', sortable: false },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      search: '',
      formTitle: '',
      form: { name: '' },
      undeleted: [],
      deleted: [],
      countryId: null,
      stateName: '',
      stateId: null,
      formDialog: false,
      dialogDelete: false,
      dialogUndelete: false,
    }
  },
  validations: {
    form: {
      name: {
        required,
        alpha,
        maxLength: maxLength(50),
      },
    },
  },
  methods: {
    getStates() {
      if (this.countryId !== null) {
        axios.get(`/config/get-states/${this.countryId}`)
        .then((res) => {
          this.undeleted = res.data.states
          this.deleted = res.data.deletedStates
        })
      }
    },
    newState() {
      this.$v.$reset()
      this.formTitle = 'Nuevo Estado'
      this.form.name = ''
      this.form.country = this.countryId
      this.formDialog = true
    },
    confirmDelete(item) {
      this.stateName = item.name
      this.stateId = item.id
      this.dialogDelete = true
    },
    cancelConfirmDelete() {
      this.stateName = ''
      this.stateId = null
      this.dialogDelete = false
    },
    confirmRestore(item) {
      this.stateName = item.name
      this.stateId = item.id
      this.dialogUndelete = true
    },
    cancelConfirmRestore() {
      this.stateName = ''
      this.stateId = null
      this.dialogUndelete = false
    },
    editState(state) {
      this.$v.$reset()
      this.formTitle = 'Editar Estado'
      this.form.id = state.id
      this.form.country = this.countryId
      this.form.name = state.name
      this.formDialog = true
    },
    saveState() {
      this.$v.form.$touch()
      if(!this.$v.form.$invalid){
        axios.post(route('config.saveState'), this.form)
        .then((res) => {
          this.$swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Solicitud realizada exitosamente.',
            showConfirmButton: false,
            timer: 1500
          })
          this.undeleted = res.data.states
          this.deleted = res.data.deletedStates
          this.closeFormDialog()
        })
      }
    },
    closeFormDialog() {
      this.formDialog = false
      this.formTitle = ''
      this.form = {
        name: '',
      }
    },
    deleteState() {
      axios.delete(route('config.deleteState', {id : this.stateId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se eliminó exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.states
        this.deleted = res.data.deletedStates
        this.cancelConfirmDelete()
      })
    },
    restoreState() {
      axios.post(route('config.restoreState', {id : this.stateId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se restauró exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.states
        this.deleted = res.data.deletedStates
        this.cancelConfirmRestore()
      })
    }
  }
}
</script>
