<template>
  <app-layout :loggedUser="sessionUser">
    <v-container
      id="dashboard"
      fluid
      tag="section"
    >
    <v-row>
      <!-- Undeleted study types -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="undeleted"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Tipos de Estudio</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-spacer></v-spacer>

              <!-- Study type form -->
              <v-dialog
                v-model="formDialog"
                max-width="500px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="primary"
                    dark
                    class="mb-2"
                    @click="newStudyType"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                    Crear
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row justify="center">
                        <v-col
                          cols="12"
                          md="6"
                        >
                          <v-text-field
                            v-model="form.name"
                            label="Nombre"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <template v-if="$v.form.$dirty && $v.form.$invalid">
                        <v-alert
                          v-if="$v.form.$dirty && $v.form.$invalid"
                          dense
                          text
                          border="left"
                          color="warning"
                        >
                          <p class="my-0" v-if="!$v.form.name.required">El nombre es requerido</p>
                          <p class="my-0" v-if="!$v.form.name.alpha">El nombre sólo debe tener letras</p>
                          <p class="my-0" v-if="!$v.form.name.maxLength">El nombre debe tener máximo 50 caracteres</p>
                        </v-alert>
                      </template>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="closeFormDialog"
                    >
                      Cancelar
                    </v-btn>
                    <v-btn
                      color="blue darken-1"
                      text
                      @click="saveStudyType"
                    >
                      Guardar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Study type form -->

              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Eliminar {{ studyTypeName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmDelete">Cancelar</v-btn>
                    <v-btn color="blue darken-1" text @click="deleteStudyType">Aceptar</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editStudyType(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmDelete(item)"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Undeleted study types -->

      <!-- Deleted study types -->
      <v-col cols="6">
        <v-data-table
          :headers="headers"
          :items="deleted"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar
              flat
            >
              <v-toolbar-title>Tipos de Estudio Eiminados</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialogUndelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5">¿Restaurar {{ studyTypeName }}?</v-card-title>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancelConfirmRestore">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="restoreStudyType">OK</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editStudyType(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="confirmRestore(item)"
            >
              mdi-arrow-u-left-bottom-bold
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <!-- Deleted study types -->
     </v-row>
    </v-container>
  </app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout'
import { validationMixin } from 'vuelidate'
import { helpers, required, maxLength } from 'vuelidate/lib/validators'
const alpha = helpers.regex(
  'alpha',
  /^[a-zA-ZÀ-ÿ\u00F1\u00D1]+(\s*[a-zA-ZÀ-ÿ\u00F1\u00D1]*)*[a-zA-ZÀ-ÿ\u00F1\u00D1]+$/i
)

export default {
  components: {
    AppLayout
  },
  mixins: [validationMixin],
  props: ['sessionUser', 'studyTypes', 'deletedStudyTypes'],
  data () {
    return {
      formDialog: false,
      formTitle: '',
      dialogDelete: false,
      studyTypeName: '',
      studyTypeId: null,
      dialogUndelete: false,
      loading: true,
      headers: [
        { text: 'Área de estudio', value: 'name', sortable: false },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      undeleted: this.studyTypes,
      deleted: this.deletedStudyTypes,
      form: { name: '' },
    }
  },
  validations: {
    form: {
      name: {
        required,
        alpha,
        maxLength: maxLength(50),
      },
    },
  },
  methods: {
    newStudyType() {
      this.$v.$reset()
      this.formTitle = 'Nuevo Tipo de Estudio'
      this.form.name = ''
      this.formDialog = true
    },
    confirmDelete(st) {
      this.studyTypeName = st.name
      this.studyTypeId = st.id
      this.dialogDelete = true
    },
    cancelConfirmDelete() {
      this.studyTypeName = ''
      this.studyTypeId = null
      this.dialogDelete = false
    },
    confirmRestore(st) {
      this.studyTypeName = st.name
      this.studyTypeId = st.id
      this.dialogUndelete = true
    },
    cancelConfirmRestore() {
      this.studyTypeName = ''
      this.studyTypeId = null
      this.dialogUndelete = false
    },
    editStudyType(st) {
      this.$v.$reset()
      this.formTitle = 'Editar Tipo de Estudio'
      this.form.id = st.id
      this.form.name = st.name
      this.formDialog = true
    },
    saveStudyType() {
      this.$v.form.$touch()
      if(!this.$v.form.$invalid){
        axios.post(route('config.saveStudyType'), this.form)
        .then((res) => {
          this.$swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Solicitud realizada exitosamente.',
            showConfirmButton: false,
            timer: 1500
          })
          this.undeleted = res.data.studyTypes
          this.deleted = res.data.deletedStudyTypes
          this.closeFormDialog()
        })
      }
    },
    closeFormDialog() {
      this.formDialog = false
      this.form = { name: '' }
    },
    deleteStudyType() {
      axios.delete(route('config.deleteStudy', {id : this.studyTypeId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se eliminó exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.studyTypes
        this.deleted = res.data.deletedStudyTypes
        this.cancelConfirmDelete()
      })
    },
    restoreStudyType() {
      axios.post(route('config.restoreStudy', {id : this.studyTypeId}))
      .then((res) => {
        this.$swal.fire({
          position: 'center',
          icon: 'success',
          title: 'El registro se restauró exitosamente.',
          showConfirmButton: false,
          timer: 1500
        })
        this.undeleted = res.data.studyTypes
        this.deleted = res.data.deletedStudyTypes
        this.cancelConfirmRestore()
      })
    },
  }
}
</script>