<template>
<app-layout>
<v-card class="mx-auto" max-width="100%">
    <v-container>
      <v-row class="justify-center mt-10">
        <v-col cols="12" sm="6" md="9" lg="9">
         <v-row v-if="data.application.clients_num > 0">
          <application-nomination
            :arr="data.application.clients_list"
            :num="data.application.clients_num"
          />
      </v-row>
        <v-row>
          <v-col cols="12" md="12" lg="12">
            <h1 class="mb-5"><v-icon size="50" class="mr-2" color="secondary">mdi-clipboard-text-multiple</v-icon>{{data.person_data.fullname}}</h1>
          </v-col>
        </v-row>
          <v-row>
              <v-col cols="12" md="12" lg="12" class="text-center">
                <v-avatar
                  size="130"
                  color="grey"
                >
                  <v-img :src="previewAvatar"></v-img>
                </v-avatar>
              </v-col>
            </v-row>
        <v-row>
          <v-col cols="12" sm="4" md="6" lg="6">
            <h3 class="font-weight-black">
              Contacto
            </h3>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="4" lg="4">
              <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-email</v-icon> Correo electrónico</p>
          </v-col>
          <v-col cols="12" md="4" lg="4" class="mb-5">
              <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-cellphone-iphone</v-icon> Teléfono de contacto</p>
              (+{{data.country_code}}) - {{data.phone_number}}
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="4" md="6" lg="6">
            <h3 class="font-weight-black">
              Datos personales
            </h3>
          </v-col>
        </v-row>
        <v-row class="mb-4">
          <v-col cols="12" sm="3" md="4" lg="4">
              <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-card-text</v-icon> Nombres</p>
              {{data.person_data.firstnames}}
          </v-col>
          <v-col cols="12" sm="3" md="4" lg="4">
              <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-card-text</v-icon> Apellidos</p>
              {{data.person_data.lastnames}}
          </v-col>
          <v-col cols="12" sm="3" md="4" lg="4">
            <div class="font-weight-bold subtitle-2 mb-4"><v-icon color="secondary">mdi-gender-male-female</v-icon>
              Género
            </div>
            <div v-if="data.person_data.gender === 'M'" >
              Masculino
            </div>
            <div v-else-if="data.person_data.gender === 'F'">
              Femenina
            </div>
            <div v-else>
              Prefiero no decirlo
            </div>
          </v-col>
        </v-row>
        <v-row class="mb-4">
          <v-col cols="12" sm="4" md="4" lg="4">
            <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-calendar-weekend</v-icon> Fecha de nacimiento</p>
              {{data.person_data.birthdate}}
          </v-col>
          <v-col cols="6" sm="4" md="4" lg="4">
              <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-map-marker</v-icon> País</p>
              {{data.person_data.country}}
          </v-col>
            <v-col cols="6" sm="4" md="4" lg="4">
              <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-map-marker</v-icon> Estado</p>
              {{(data.person_data.state) ? data.person_data.state : "No disponible"}}
          </v-col>
        </v-row>
         <v-row>
          <v-col cols="12" sm="4" md="12" lg="12">
            <h3 class="font-weight-black mb-1">
              Expectativa salarial
            </h3>
          </v-col>
        </v-row>
        <v-row class="mb-5">
          <v-col cols="12" sm="8" md="12" lg="12">
                {{data.application.Salary}}
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="4" md="12" lg="12">
            <h3 class="font-weight-black mb-3">
              Educación
            </h3>
          </v-col>
        </v-row>
        <v-row v-if="data.studies.length > 0">
          <v-col cols="12">
            <ul v-for="(item) in data.studies" :key="item.id">
              <li>
                <v-row>
                  <v-col cols="12" sm="4" md="4" lg="4">
                    <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-map-marker</v-icon> Páis</p>
                      {{item.country}}
                  </v-col>
                  <v-col cols="12" sm="4" md="4" lg="4">
                    <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-library</v-icon>Estudio</p>
                    {{item.study_type}}
                  </v-col>
                  <v-col cols="12" sm="4" md="4" lg="4">
                    <p class="font-weight-bold subtitle-2"><v-icon color="secondary">mdi-crosshairs-gps</v-icon>Grado de estudio</p>
                    {{item.degree}}
                  </v-col>
                </v-row>
              </li>
            </ul>
          </v-col>
        </v-row>
        <v-row v-else>
          <v-col cols="12" align="center" >
              No hay información
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="4" md="6" lg="6">
            <h3 class="font-weight-black mb-3">
              Experiencia laboral
            </h3>
          </v-col>
        </v-row>
        <v-row class="mb-4">
          <v-col cols="12" v-if="data.experiences.length > 0">
            <v-list
              subheader
              two-line
            >
              <v-list-item
                v-for="(field, index) in data.experiences" :key="`experience-${index}`"
                color="primary"
              >
                <experience-detail
                  :field="field"
                  :index="index"
                  ref="experience"
                ></experience-detail>
              </v-list-item>
            </v-list>
          </v-col>
          <v-col cols="12" align="center" v-else class="mb-10">
            No hay información
          </v-col>
        </v-row>
        <v-row v-if="data.application.curriculum">
          <v-col cols="12" sm="4" md="4" lg="4">
            <h3 class="font-weight-black">
              Síntesis curricular
            </h3>
          </v-col>
          <v-col cols="12" sm="4" md="4" lg="4">
            <h3 class="font-weight-black">
              Comentario
            </h3>
          </v-col>
        </v-row>
        <v-row v-if="data.application.curriculum" class="mb-10">
          <v-col cols="12" md="4" lg="4"  align="left">
            <v-btn
              color="secondary"
              dark
              :href="route('application.cv.download',this.data.id)"
              class="ml-3 font-weight-bold"
              rounded
            >
            <v-icon color="primary">mdi-file-download-outline</v-icon>
              descargar
            </v-btn>
          </v-col>
          <v-col cols="12" sm="3" md="7" lg="7" v-if="data.application.description">
              {{data.application.description}}
          </v-col>
            <v-col cols="12" sm="3" md="7" lg="7" v-else>
              No disponible
          </v-col>
        </v-row>
       </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
          md="12"
          lg="12"
          class="text-center mb-6">
            <v-btn color="secondary" class="font-weight-bold" @click="back" rounded>
              Cerrar
            </v-btn>
          </v-col>
      </v-row>
  </v-container>
</v-card>
</app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout';
import ExperienceDetail from './../../components/application/experience-detail.vue';
import ApplicationNomination from './../../components/application/application-nomination.vue';

export default {
    components: {
      AppLayout,
      ExperienceDetail,
      ApplicationNomination
    },
    props:['data'],
    data: () => ({
      previewAvatar:''
   }),
   created () {
     this.data.person_data = this.data.person_data ? this.data.person_data : [];
     this.previewAvatar = this.data.avatar ? this.data.avatar : null;
   },
   methods: {
    back() {
      window.history.back();
    }
   },
}
</script>
