<template>
  <app-layout>
    <v-container
      id="dashboard"
      fluid
      tag="section"
    >
    <v-row align="center">
      <v-col cols="auto"  class="mr-auto">
        <h2>Captaciones</h2>
      </v-col>
      <v-col
        cols="auto"
      >
        <v-btn
        color="secondary"
        small
        right
        title
        :href="route('application.store')"
        rounded
        >
        <v-icon color="primary">mdi-plus</v-icon>
        Registrar
        </v-btn>

      </v-col>
      <v-col cols="12">
        <table-application />
      </v-col>
    </v-row>
    </v-container>
  </app-layout>
</template>

<script>
  import AppLayout from '../../Layouts/AppLayout'
  import TableApplication from '../../components/application/table'


  export default {
    components: {
      AppLayout,
      TableApplication
    },
  }
</script>
