<template>
  <div>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="secondary"
          dark
          small
          v-bind="attrs"
          v-on="on"
          right
          rounded
        >
          <v-icon color="primary">mdi-plus</v-icon>
          Registrar
        </v-btn>
      </template>
            <v-card>
        <v-card-title>
          <span class="text-h5">Clientes</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="form.valid" lazy-validation> 
              <v-row justify="center">
                <v-col
                  cols="12"
                  sm="6"
                  md="6"
                >
                  <v-text-field
                    v-model="form.name"
                    label="Nombre del cliente"
                    prepend-icon="mdi-card-text"
                    :rules="validateRules.name"
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                  md="6"
                >
                  <v-text-field
                    v-model="form.numberId"
                    label="Número"
                    prepend-icon='mdi-page-next-outline'
                    :rules="validateRules.number_id"
                   > 
                  </v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  md="10"
                  lg="10"
                  sm="4"
                  class="mt-4"
                >
                  <v-textarea
                    v-model="form.description"
                    class="mx-2"
                    label="Descripción"
                    rows="1"
                    prepend-icon="mdi-comment"
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
          <small>*Campos requeridos.</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="closeDialog"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="send"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import AppLayout from '../../Layouts/AppLayout'
  export default {
    components: {
      AppLayout,
    },
   // props:['companyActivities'],
    data () {
     return {
      dialog: false,
      form:{},
      validateRules: {
          name: [
            v => !!v || 'El nombre es requerido.',
          ],
          number_id: [
            v => !!v || 'El número de identificación es requerido.',
          ],
        },
     }
    },
   
    methods:{
      send(){
        if(this.$refs.form.validate())
        {
          axios.post(route('client.save'), this.form)
            .then((res) => {
            this.$swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Solicitud realizada exitosamente.',
              showConfirmButton: false,
              timer: 2000
            })
            this.closeDialog()
            this.$emit('getClients');
          })
        }else{
          this.$toast.open({
            message: 'Complete los campos requeridos.!',
            type: 'error',
            position: 'top-right'
          });
        }
      },
      closeDialog()
      {
        this.$refs.form.resetValidation();
        this.form = {};
        this.dialog = false;
      }
    }
  }
</script>