<template>
<div>
  <v-dialog
      v-model="dialog"
      scrollable
      max-width="500px">
      <v-card>
          <v-card-title>Nominados</v-card-title>
          <v-divider></v-divider>
          <v-card-text style="height: 300px;">
              <v-list subheader>
                  <template v-for="(item, index) in items">
                      <v-list-item :key="index">
                          <v-list-item-content>
                              <v-list-item-title v-text="item.fullname"></v-list-item-title>
                          </v-list-item-content>

                          <v-list-item-icon>
                              <v-btn
                                  tile
                                  color="secondary"
                                  small
                                  :href="route('application.detail', {id:item.user_id})">
                                  <v-icon left color="primary">
                                      mdi-account-circle
                                  </v-icon>
                                  ver
                              </v-btn>
                          </v-list-item-icon>
                      </v-list-item>
                      <v-divider></v-divider>
                  </template>
              </v-list>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="dialog = false">
                  Cerrar
              </v-btn>
          </v-card-actions>
      </v-card>
  </v-dialog>
</div>
</template>

<script>
export default {
    props: ['items'],
    data() {
        return {
            dialog: false,
        }
    }
}
</script>>
