<template>
  <v-card>
    <v-data-table
      :headers="headers"
      :items="clients.data"
      :loading="loading"
      class="elevation-10"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-col cols="auto"  class="mr-auto">
            <v-toolbar-title>Clientes</v-toolbar-title>
          </v-col>
          <v-col
            cols="auto"
          >
            <a href="client/new" class="text-decoration-none">
              <v-btn color="secondary" 
                dark
                small
                v-bind="attrs"
                v-on="on"
                right
                rounded> 
                <v-icon>mdi-plus</v-icon>  
                Agregar
              </v-btn> 
            </a>
          </v-col>
        </v-toolbar>
      </template>
      <template v-slot:[`item.status`]="{ item }">
        <v-chip
          color="green"
          text-color="white"
          v-if="item.applications.length > 0"
        >
          <v-avatar left>
            <v-icon>mdi-checkbox-marked-circle</v-icon>
          </v-avatar>
          <span class="font-weight-bold">Con candidatos nominados</span>
        </v-chip>
        <v-chip
          color="red"
          text-color="white"
          v-else
        >
          <v-avatar left>
            <v-icon>mdi-close-circle</v-icon>
          </v-avatar>
          <span class="font-weight-bold">Sin candidatos nominados</span>
        </v-chip>

        <v-chip
          color="blue"
          text-color="white"
          v-if="item.applications.length > 0"
          link
          @click="openList(item)"
        >
          <v-avatar left>
            <v-icon>mdi-clipboard-list-outline</v-icon>
          </v-avatar>
          <span class="font-weight-bold">Ver</span>
        </v-chip>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-tooltip
          bottom  
          open-delay="500"
        >
          <template v-slot:activator="{ on, attrs }">
            <a
              v-bind="attrs"
              v-on="on"
              class="remove-s text-decoration-none"
              :href="`/client/detail/${item.id}`"
            >
              <v-icon small class="mr-2">mdi-eye</v-icon>
            </a>
          </template>
          <span>Ver ficha de {{ item.name }}</span>
        </v-tooltip>
        <v-tooltip
          bottom  
          open-delay="500"
        >
          <template v-slot:activator="{ on, attrs }">
            <a
              v-bind="attrs"
              v-on="on"
              class="text-decoration-none"
              :href="`/client/edit/${item.id}`"
            >
              <v-icon small class="mr-2">
                mdi-pencil
              </v-icon>
            </a>
          </template>
          <span>Editar {{ item.name }}</span>
        </v-tooltip>
        <v-tooltip
          bottom  
          open-delay="500"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              v-bind="attrs"
              v-on="on"
              small
              @click="deleteItem(item)"
            >
              mdi-delete
            </v-icon>
          </template>
          <span>Eliminar {{ item.name }}</span>
        </v-tooltip>
      </template>
      <template v-slot:no-data>
        No hay clientes registrados aún
      </template>
    </v-data-table>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h5">¿Estas seguro que deseas eliminar?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- <list-talent :items="lists" ref="listTalent"/> -->
  </v-card>
</template>
<script>
  import ListTalent from '../../components/client/list-talent.vue'

  export default {
    components: {
      ListTalent
    },
    props:['companyActivities', 'clients'],
    data () {
      return {
        dialog: false,
        dialogApp: false,
        nominarDialog: false,
        loading: false,
        dialogDelete:false,
        data:{},
        total: 0,
        lists:[],
        reputacion:0,
        options: {},
        editedItem : {},
        activiteDisabled : true,
        headers: [
          { text: 'Nombre', value: 'name', sortable: false },
          { text: 'Número identificación', value: 'number_id', sortable: false },
          { text: 'Acciones', value: 'actions', sortable: false },
        ],
        status: [
          { option: 'Con candidatos nominados', value: 1 },
          { option: 'Sin candidatos nominados', value: 2 },
        ],
        filter:{
          search: '',
        }
      }
    },
    methods:{
      resetFilter()
      {
        this.$refs.form.reset()
        this.filter.search = "";
        this.getClients();
      },
      getClients()
      {
        this.loading = true;
        this.filter.perPage = this.options.itemsPerPage;
        axios.post(route('client.get', {
          page: this.options.page,
        }), this.filter)
        .then( (response) => {
          this.clients =  response.data.data;
          this.loading = false;
          this.total = response.data.total;
        })
      },
      deleteItem (item) {
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },
      openList(item)
      {
        this.lists = item.applications;
        this.$refs.listTalent.dialog = true;

      },
      deleteItemConfirm (deleted) {
        this.dialogDelete = false
        var deleted = this.editedItem; 
        axios.delete(route('client.delete', {id : deleted.id} ))
        .then(() => {
          this.$swal.fire({
            position: 'center',
            icon: 'success',
            title: 'El registro se eliminó exitosamente.',
            showConfirmButton: false,
            timer: 3000
          })
          this.getClients()
        })
      }
    }
  }
</script>