<template>
  <app-layout>
    <v-container
      id="dashboard"
      fluid
      tag="section"
    >
      <v-row align="center">
        <v-col cols="auto"  class="mr-auto">
          <h2>Testimonios</h2>
        </v-col>
        <v-col
          cols="auto"
        >
          <testimony-form
            ref="textimonyForm"
            @getClients="getClients"
          ></testimony-form>
        </v-col>
        <v-col cols="12">
          <testimony-table
            ref="textimonyTable"
            @editTestimony="editTestimony"
          >
          </testimony-table>
        </v-col>
      </v-row>
    </v-container>
  </app-layout>
</template>

<script>
  import AppLayout from '../../Layouts/AppLayout'
  import TestimonyForm from '../../components/testimony/form'
  import TestimonyTable from '../../components/testimony/table'

  export default {
    components: {
      AppLayout,
      TestimonyForm,
      TestimonyTable,
    },
    methods:
    {
      getClients()
      {
        this.$refs.textimonyTable.getTestimony()
      },

      editTestimony(testimony)
      {
        this.$refs.textimonyForm.form = Object.assign({}, testimony);
        if (testimony.type) this.$refs.textimonyForm.form.type = 2;
        else this.$refs.textimonyForm.form.type = 1;
        this.$refs.textimonyForm.dialog = !this.$refs.textimonyForm.dialog;
      }
    }
  }
</script>