<template>
  <app-layout :loggedUser="sessionUser">
    <v-container>
      <v-row>
        <v-col cols="8">

          <!-- User data -->
          <v-card>
            <v-card-title>Datos de vacante</v-card-title>
            <v-card-text>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Título</v-list-item-title>
                  <v-list-item-subtitle>{{ title }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Cargo</v-list-item-title>
                  <v-list-item-subtitle>{{ position }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Salario</v-list-item-title>
                  <v-list-item-subtitle>{{ salary }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Tipo de trabajo</v-list-item-title>
                  <v-list-item-subtitle>{{ jobType }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>País</v-list-item-title>
                  <v-list-item-subtitle>{{ country }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Estado</v-list-item-title>
                  <v-list-item-subtitle>{{ state }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Reporta a</v-list-item-title>
                  <v-list-item-subtitle>{{ reportsTo }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Supervisa a</v-list-item-title>
                  <v-list-item-subtitle>{{ superviseTo }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Objetivos</v-list-item-title>
                  <v-col>
                    <v-list-item-subtitle v-html="goals"></v-list-item-subtitle>
                  </v-col>
                </v-list-item-content>
              </v-list-item>
            </v-card-text>
          </v-card>
          <!-- User data -->


          <!-- Studies data -->
          <v-card>
            <v-card-title>Estudios</v-card-title>
            <v-card-text>
              <template v-if="languages.length === 0">
                  <v-row>
                    <v-col cols="12">
                      No registró estudios
                    </v-col>
                  </v-row>
              </template>
              <template v-else>
                <v-row v-for="(study, index) in studies" :key="`us-${index}`">
                  <v-col cols="12">
                    <v-list-item two-line>
                      <v-list-item-content>
                        <v-list-item-title>Tipo de estudio</v-list-item-title>
                        <v-list-item-subtitle>{{ study.study_type.name }}</v-list-item-subtitle>
                      </v-list-item-content>
                      <v-list-item-content>
                        <v-list-item-title>Título obtenido</v-list-item-title>
                        <v-list-item-subtitle>{{ study.degree }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                </v-row>
              </template>
            </v-card-text>
          </v-card>
          <!-- Studies data -->

          <!-- Languages data -->
          <v-card>
            <v-card-title>Idiomas</v-card-title>
            <v-card-text>
              <template v-if="languages.length === 0">
                  <v-row>
                    <v-col cols="12">
                      No registró idiomas
                    </v-col>
                  </v-row>
              </template>
              <template v-else>
                <v-col cols="12">
                  <v-row v-for="(language, index) in languages" :key="`ul-${index}`">
                    <v-list-item two-line>
                      <v-list-item-content>
                        <v-list-item-title>Idioma</v-list-item-title>
                        <v-list-item-subtitle>{{ language.language.lang }}</v-list-item-subtitle>
                      </v-list-item-content>
                      <v-list-item-content>
                        <v-list-item-title>Nivel</v-list-item-title>
                        <v-list-item-subtitle>{{ language.level.level }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-row>
                </v-col>
              </template>
            </v-card-text>
          </v-card>
          <!-- Languages data -->

          <!-- Skills data -->
          <v-card>
            <v-card-title>Habilidades</v-card-title>
            <v-card-text>
              <template v-if="skills.length === 0">
                  <v-row>
                    <v-col cols="12">
                      No especificó habilidades.
                    </v-col>
                  </v-row>
              </template>
              <template v-else>
                <v-col cols="12">
                  <v-chip v-for="(skill) in skills" :key="skill.id" class="ma-1 text-md-body-1">
                    <strong>{{skill.skill}}</strong>
                  </v-chip>
                </v-col>
              </template>
            </v-card-text>
          </v-card>
          <!-- Skills data -->

          <!-- Experiences data -->
          <v-card>
            <v-card-title>Experiencia</v-card-title>
            <v-card-text>
              <template v-if="!experience">
                  <v-row>
                    <v-col cols="12">
                      No especifico experiencia
                    </v-col>
                  </v-row>
              </template>
              <template v-else>
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-title>Rango de edad</v-list-item-title>
                    <v-list-item-subtitle>{{experience.age_range}}</v-list-item-subtitle>
                  </v-list-item-content>
                  <v-list-item-content>
                    <v-list-item-title>Años de experiencia</v-list-item-title>
                    <v-list-item-subtitle>{{experience.exp_range}}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-card-text>
          </v-card>
          <!-- Experiences data -->
        </v-col>
        <v-col cols="4">

          <!-- Client data -->
          <v-card
            class="mx-auto"
            tile
          >
            <v-card-title primary-title class="justify-center">
              <v-avatar
                color="orange"
                size="200"
              >
                <img
                  v-if="client.avatar"
                  :src="client.avatar"
                  alt="John"
                >
              </v-avatar>
            </v-card-title>
            <v-card-text>
              <v-list-item two-line>
                <!-- Name -->
                <v-list-item-content>
                  <v-list-item-title>Nombre</v-list-item-title>
                  <v-list-item-subtitle>{{client.name}}</v-list-item-subtitle>
                </v-list-item-content>
                <!-- Rif -->
                <v-list-item-content>
                  <v-list-item-title>Número fiscal</v-list-item-title>
                  <v-list-item-subtitle>{{client.number_id}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Fecha de registro</v-list-item-title>
                  <v-list-item-subtitle>{{formatDate(client.created_at)}}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Completó el asistente el</v-list-item-title>
                  <v-list-item-subtitle>{{formatDate(client.updated_at || client.created_at)}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Descripción</v-list-item-title>
                  <v-list-item-subtitle>{{client.description || '- Sin descripción -'}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card-text>
          </v-card>
          <!-- Client data -->

          <!-- Contact info -->
          <v-card>
            <v-card-title>
              Datos de contacto
            </v-card-title>

            <v-card-text>
              <v-list-item two-line>
                <!-- name -->
                <v-list-item-content>
                  <v-list-item-title>Nombre</v-list-item-title>
                  <v-list-item-subtitle>
                    {{clientContact.person_data.firstnames}}
                  </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Apellido</v-list-item-title>
                  <v-list-item-subtitle>
                    {{clientContact.person_data.lastnames}}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-list-item two-line>
                <!-- email -->
                <v-list-item-content>
                  <v-list-item-title>Correo</v-list-item-title>
                  <v-list-item-subtitle v-html="clientContact.email"></v-list-item-subtitle>
                </v-list-item-content>
                <!-- Phone number -->
                <v-list-item-content>
                  <v-list-item-title>Número telefónico</v-list-item-title>
                  <v-list-item-subtitle>{{clientContact.country.number_code}} {{clientContact.phone_number}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card-text>
          </v-card>
          <!-- Contact info -->

          <!-- Nominations -->
          <v-card>
            <v-app-bar
              flat
              color="rgba(0, 0, 0, 0)"
            >
              <v-toolbar-title class="text-h6 pl-0">
                Nominaciones
              </v-toolbar-title>

              <v-spacer></v-spacer>

              <v-btn
                color="green"
                small
                @click="editNomination"
              >
                <v-icon color="white">mdi-plus</v-icon>
              </v-btn>
            </v-app-bar>

            <v-card-text>
                <template v-if="noNominations">
                  No ha nominado talentos aún
                </template>
                <template v-else>
                  <v-timeline
                    align-top
                    dense
                  >
                    <v-timeline-item
                      v-for="(nomination, index) in nominations"
                      :key="`nom-${index}`"
                      :color="nomination.status"
                      small
                    >
                      <div>
                        <div class="font-weight-normal">
                          <strong>{{ `${nomination.talent.person_data.lastnames}, ${nomination.talent.person_data.firstnames}` }}</strong> - {{ formatDate(nomination.created_at) }}
                        </div>
                        <div
                          v-if="
                            nomination.talent.country !== null &&
                            nomination.talent.phone_number !== null"
                          >{{ `${nomination.talent.email} - (${nomination.talent.country.number_code}) ${nomination.talent.phone_number}` }}</div>
                        <div v-else>{{ nomination.talent.email }}</div>
                      </div>
                    </v-timeline-item>
                  </v-timeline>
                </template>
            </v-card-text>
          </v-card>

          <!-- Comments -->
          <v-card>
            <v-app-bar
              flat
              color="rgba(0, 0, 0, 0)"
            >
              <v-toolbar-title class="text-h6 pl-0">
                Comentarios
              </v-toolbar-title>

              <v-spacer></v-spacer>

              <v-btn
                color="green"
                small
                @click="openCommentModal"
              >
                <v-icon color="white">mdi-plus</v-icon>
              </v-btn>
            </v-app-bar>

            <v-card-text>
                <template v-if="noComments">
                  No hay comentarios
                </template>
                <template v-else>
                  <v-list-item
                    v-for="(comment, index) in comments"
                    :key="`comment-${index}`"
                  >
                    <v-list-item-avatar>
                      <v-img src="https://cdn.vuetifyjs.com/images/lists/1.jpg"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title>
                        {{ `${comment.user.person_data.lastnames}, ${comment.user.person_data.firstnames} - ${formatDate(comment.updated_at)}` }}
                      </v-list-item-title>
                      <v-list-item-subtitle class="text-wrap">
                        {{ comment.comment }}<br>
                        <div class="mt-3">
                          <a class="blue--text" @click="editComment(comment.id)">EDITAR</a>
                          <a class="red--text" @click="deleteComment(comment.id)">ELIMINAR</a>
                        </div>
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </template>
            </v-card-text>
          </v-card>

        </v-col>
      </v-row>

      <!-- Comment dialog -->
      <v-dialog
        v-model="commentDialog"
        persistent
        max-width="500"
      >
        <v-card>
          <v-card-title class="text-h5">
            {{ commentDialogTitle }}
          </v-card-title>
          <v-card-text>
            <v-textarea
              v-model="commentForm.comment"
              label="Escriba un comentario"
              :disabled="bussy"
            ></v-textarea>
            <v-alert
              v-if="$v.commentForm.$dirty && $v.commentForm.$invalid"
              dense
              text
              border="left"
              color="warning"
            >
              <p class="my-0" v-if="!$v.commentForm.comment.required">Requerido</p>
            </v-alert>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red darken-1"
              text
              :disabled="bussy"
              @click="closeCommentModal"
            >
              Cancelar
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              :disabled="bussy"
              @click="saveComment"
            >
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Nomination dialog -->
      <v-dialog
        v-model="nominationDialog"
        persistent
        max-width="600"
      >
        <v-card>
          <v-card-title class="text-h5">
            Nominar talento
          </v-card-title>
          <v-card-text>
            <v-autocomplete
              v-model="selectedTalent"
              :items="talents"
              :loading="bussy"
              :search-input.sync="talentParam"
              item-text="full_name"
              return-object
              label="Buscar talentos"
              placeholder="Ingrese el correo del talento para comenzar la búsqueda"
              @update:search-input="getTalents"
              @change="selectTalent"
              :disabled="bussy"
            >
              <template v-slot:item="data">
                <!-- Search result -->
                <v-list-item-content>
                  <v-list-item-title v-text="`${data.item.full_name} - ${data.item.reputation}`"></v-list-item-title>
                  <v-list-item-subtitle v-text="`${data.item.country} - ${data.item.age}`"></v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-icon v-if="data.item.finishedAssistant" color="green darken-2">mdi-check-circle</v-icon>
                  <v-icon v-else color="red darken-2">mdi-close-circle</v-icon>
                </v-list-item-action>
              </template>
            </v-autocomplete>
          </v-card-text>
          <v-card-text>
            <div>Talentos seleccionados</div>
            <template v-if="noSelectedTalents">
              No se ha seleccionado un talento aún
            </template>
            <template v-else>
              <!-- Search detail -->
              <v-list-item v-for="talent in selectedTalents" :key="talent.id">
                <v-list-item-content>
                  <v-list-item-title v-text="`${talent.full_name} - ${talent.reputation}`"></v-list-item-title>
                  <v-list-item-subtitle v-text="`${talent.country} - ${talent.age}`"></v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-icon v-if="talent.finishedAssistant" color="green darken-2">mdi-check-circle</v-icon>
                  <v-icon v-else color="red darken-2">mdi-close-circle</v-icon>
                </v-list-item-action>
              </v-list-item>
            </template>
            <v-alert
              v-if="$v.selectedTalents.$dirty && $v.selectedTalents.$invalid"
              dense
              text
              border="left"
              color="warning"
            >
              <p class="my-0" v-if="!$v.selectedTalents.required">Debe escoger al menos un talento para nominar</p>
            </v-alert>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red darken-1"
              text
              :disabled="bussy"
              @click="closeNominationModal"
            >
              Cancelar
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              :disabled="bussy"
              @click="saveNominations"
            >
              Nominar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Snackbar -->
      <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        bottom
        right
        color="success"
      >
        {{ text }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="white"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
            Cerrar
          </v-btn>
        </template>
      </v-snackbar>
    </v-container>
  </app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout';
import { Inertia } from '@inertiajs/inertia'
import { validationMixin } from 'vuelidate'
import { required, numeric, between } from 'vuelidate/lib/validators'

export default {
  components: {
    AppLayout,
  },
  mixins: [validationMixin],
  props: ['sessionUser', 'positionRequest'],
  data: () => ({
    bussy: false,
    nominationDialog: false,
    commentDialog: false,
    snackbar: false,
    talentIds: [],
    talentParam: null,
    talents: [],
    selectedTalents: [],
    selectedTalent: null,
    text: '',
    timeout: 4000,
    commentForm: {
      commentId: null,
      userId: null,
      requestId: null,
      comment: ''
    },
  }),
  validations: {
    selectedTalents: {
      required,
    },
    reputationForm: {
      value: {
        required,
        numeric,
        between: between(1, 10)
      },
    },
    commentForm: {
      comment: {
        required,
      },
    },
  },
  computed: {
    // User data props
    avatar() {
      return this.positionRequest.avatar === null ? '/img/default.png' : this.positionRequest.avatar
    },
    title() {
      return this.positionRequest.title
    },
    position() {
      return this.positionRequest.position.position
    },
    salary() {
      return this.positionRequest.salary_expectation.range
    },
    jobType() {
      let value = null
      if (this.positionRequest.country === null && this.positionRequest.remote) value = 'Remoto'
      else if (this.positionRequest.country !== null && this.positionRequest.remote) value = 'Presencial y Remoto'
      else if (this.positionRequest.country !== null && !this.positionRequest.remote) value = 'Presencial'
      return value
    },
    country() {
      let value = 'N/A'
      if (this.positionRequest.country !== null) value = this.positionRequest.country_rel.name
      return value
    },
    state() {
      let value = 'N/A'
      if (this.positionRequest.country_state_id !== null) value = this.positionRequest.state.name
      return value
    },
    reportsTo() {
      return this.positionRequest.report_to
    },
    superviseTo() {
      return this.positionRequest.supervise_to
    },
    goals() {
      return this.positionRequest.goals
    },
    client() {
      return this.positionRequest.client
    },
    clientContact() {
      return this.positionRequest.client.contact
    },
    studies() {
      return this.positionRequest.studies || []
    },
    languages() {
      return this.positionRequest.pos_req_langs || []
    },
    experience() {
      if (this.positionRequest.candidate_details)  {
        return {
          age_range: this.positionRequest.candidate_details.age_range.age_range,
          exp_range: this.positionRequest.candidate_details.exp_range.exp_range
        }
      }
      return false
    },
    skills() {
      return this.positionRequest.skills
    },
    noSelectedTalents() {
      return this.selectedTalents.length === 0
    },
    noNominations() {
      return this.positionRequest.pos_req_nominations === null || this.positionRequest.pos_req_nominations.length === 0
    },
    nominations() {
      if (!this.noNominations) {
        return this.positionRequest.pos_req_nominations
      }
      return []
    },
    comments() {
      return this.positionRequest.comments
    },
    commentDialogTitle() {
      return (this.commentForm.commentId !== null) ? 'Editar Comentario' : 'Nuevo Comentario'
    },
    noComments() {
      return this.positionRequest.comments.length === 0
    }
  },
  methods: {
    selectTalent() {
      this.selectedTalents.push(this.selectedTalent)
      this.selectedTalent = null
      this.talentParam = ''
    },
    back() {
      window.history.back();
    },
    formatDate(val) {
      const date = new Date(val)
      let day = date.getDate()
      let month = date.getMonth() + 1
      let year = date.getFullYear()
      return `${day}/${month}/${year}`
    },
    capitalize(str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    },
    editNomination() {
      this.nominationDialog = true
    },
    closeNominationModal() {
      this.nominationDialog = false
      this.talents = []
      this.selectedTalents = []
      this.$v.selectedTalents.$reset()
    },
    saveNominations() {
      this.$v.selectedTalents.$touch()
      if (!this.$v.selectedTalents.$invalid) {
        this.bussy = true
        const talentIds = this.selectedTalents.map((st) => {
          return st.id
        })
        const data = {
          posReqId: this.positionRequest.id,
          userIds: talentIds
        }
        axios.post(route('position.request.nominateTalents'), data)
          .then((res) => {
            if (res.data.success) {
              Inertia.reload({ only: ['positionRequest'] })
              this.snackbar = true
              this.text = 'Nominaciones realizadas'
              this.closeNominationModal()
              this.bussy = false
            }
          })
          .catch(err => {
            this.closeNominationModal()
          })
      }
    },
    openCommentModal() {
      this.commentForm.userId = this.sessionUser.id
      this.commentForm.requestId = this.positionRequest.id
      this.commentDialog = true
    },
    editComment(id) {
      this.commentForm.commentId = id
      const comment = this.positionRequest.comments.find((comment) => comment.id === id)
      this.commentForm.comment = comment.comment
      this.openCommentModal()
    },
    saveComment() {
      this.$v.commentForm.$touch()
      if (!this.$v.commentForm.$invalid) {
        this.bussy = true
        axios.post(route('position.request.saveComment'), this.commentForm)
          .then((res) => {
            if (res.data.success) {
              Inertia.reload({ only: ['positionRequest'] })
              this.snackbar = true
              this.text = 'Comentario guardado'
              this.closeCommentModal()
              this.bussy = false
            }
          })
      }
    },
    deleteComment(id) {
      axios.delete(route('position.request.deleteComment', {id: id} ))
        .then((res) => {
          if (res.data.success) {
            Inertia.reload({ only: ['positionRequest'] })
            this.snackbar = true
            this.text = 'Comentario eliminado'
            this.closeCommentModal()
            this.bussy = false
          }
        })
    },
    closeCommentModal() {
      this.commentDialog = false
      this.commentForm.commentId = null
      this.commentForm.userId = null
      this.commentForm.requestId = null
      this.commentForm.comment = ''
      this.$v.commentForm.$reset()
    },
    getTalents() {
      clearTimeout(this._searchTimerId)
      this._searchTimerId = setTimeout(() => {
        if (this.talentParam !== null && this.talentParam !== "") {
          if (this.talentParam.length >= 2) {
            this.bussy = true
            axios.post(route('position.request.queryTalents'), {value : this.talentParam})
            .then((res) => {
              if (res.data.success) {
                this.talents = []
                this.talents = res.data.talents.filter((t) => {
                  return !this.nominations.some((n) => t.id === n.user_id)
                })
              }
            })
            .catch(err => {
                console.log(err)
              })
            .finally(() => (this.bussy = false))
          }
        }
      }, 1500)
    },
  },
}
</script>
