<template>
  <app-layout :loggedUser="sessionUser" :title="'PETICIONES DE PERFILES'" :backBtn="false">
    <v-container
      id="dashboard"
      fluid
      tag="section"
    >
      <v-row>

        <!-- Filters -->
        <v-col cols="4">
          <v-card
            elevation="2"
            outlined
          >
            <v-card-title>
              Filtros
              <v-btn
                class="ml-3"
                color="indigo"
                small
                @click="searchPositionRequests"
              >
                <v-icon>mdi-magnify</v-icon>
                Buscar
              </v-btn>
              <v-tooltip
                bottom
                open-delay="500"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="warning"
                    v-bind="attrs"
                    v-on="on"
                    small
                    @click="clearFilters"
                  >
                    <v-icon small>mdi-restore</v-icon>
                  </v-btn>
                </template>
                <span>Reiniciar filtros</span>
              </v-tooltip>
            </v-card-title>
            <v-card-text>
              <!-- Productos -->
              <div class="mb-1">Rasgos profesionales</div>
              <!-- Professional skills -->
              <!-- Company activity -->
              <v-autocomplete
                :items="companyActivities"
                v-model="companyActivity"
                outlined
                label="Escriba el sector industrial"
                clearable
                item-text="activity"
                item-value="id"
              ></v-autocomplete>
              <!-- Position -->
              <v-autocomplete
                :items="positions"
                v-model="position"
                outlined
                label="Escriba el cargo"
                clearable
                item-text="position"
                item-value="id"
              ></v-autocomplete>
              <!-- Skills -->
              <v-autocomplete
                :items="skills"
                v-model="chosenSkills"
                outlined
                label="Habilidades"
                chips
                clearable
                deletable-chips
                multiple
                small-chips
                item-text="skill"
                item-value="id"
                class="mt-5"
              ></v-autocomplete>
              <!-- End Professional skills -->

              <!-- Location -->
              <div class="mb-1">Ubicación</div>
              <!-- Country -->
              <v-autocomplete
                :items="countries"
                v-model="country"
                outlined
                label="Escriba el nombre del país"
                clearable
                item-text="name"
                item-value="id"
                @change="getCountryStates"
              ></v-autocomplete>
              <!-- States -->
              <v-autocomplete
                :items="states"
                v-model="state"
                outlined
                label="Escriba el nombre del estado"
                clearable
                item-text="name"
                item-value="id"
              >
                <template v-slot:no-data>
                  <v-list-item>No hay estados para este país</v-list-item>
                </template>
              </v-autocomplete>
              <!-- End Location -->

              <!-- Educations -->
              <div class="mt-3 mb-1">Rasgos educativos</div>
              <div class="mb-5">
                Estudios
                <v-btn
                  class="pa-1"
                  color="success"
                  x-small
                  @click="addStudyFilter"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </div>
              <v-row align="center" v-for="(st, index) in studiesFilters" :key="`index-${index}`">
                <v-col class="py-1">
                  <!-- Study type -->
                  <v-select
                    v-model="studiesFilters[index].studyType"
                    label="Tipo de estudio"
                    dense
                    outlined
                    clearable
                    :items="studyTypes"
                    item-text="name"
                    item-value="id"
                    hide-details
                    class="mb-1"
                    @change="setDegreesLst(index)"
                  ></v-select>
                  <!-- Dengree -->
                  <v-select
                    v-model="studiesFilters[index].degree"
                    label="Título"
                    dense
                    outlined
                    clearable
                    :items="studiesFilters[index].degreesLst"
                    item-text="degree"
                    item-value="id"
                    hide-details
                    class="mb-1"
                    :disabled="studiesFilters[index].studyType === null"
                  ></v-select>
                </v-col>
                <v-col cols="auto">
                  <v-icon color="error" @click="removeStudyFilter(index)">mdi-delete</v-icon>
                </v-col>
              </v-row>
              <!-- End Educations -->
              <!-- Extras -->
              <!-- Languages -->
              <div class="my-5">
                Idiomas
                <v-btn
                  class="pa-1"
                  color="success"
                  x-small
                  @click="addLangFilter"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </div>
              <v-row align="center" v-for="(ls, index) in languagesFilters" :key="`ls-${index}`">
                <v-col class="py-1">
                  <!-- Language -->
                  <v-select
                    v-model="ls.langId"
                    label="Idioma"
                    dense
                    outlined
                    clearable
                    :items="languages"
                    item-text="lang"
                    item-value="id"
                    hide-details
                    class="mb-1"
                  ></v-select>
                  <!-- Level -->
                  <v-select
                    v-model="ls.levelId"
                    label="Nivel"
                    dense
                    outlined
                    clearable
                    :items="languageLevels"
                    item-text="level"
                    item-value="id"
                    hide-details
                    class="mb-1"
                    :disabled="ls.langId === null"
                  ></v-select>
                </v-col>
                <v-col cols="auto">
                  <v-icon color="error" @click="removeLangFilter(index)">mdi-delete</v-icon>
                </v-col>
              </v-row>
              <!-- Experience ranges -->
              <div class="mt-3 mb-1">Experiencia</div>
              <v-select
                v-model="expRange"
                label="Años en cargo"
                dense
                outlined
                clearable
                :items="experienceRanges"
                item-text="exp_range"
                item-value="id"
              ></v-select>
              <!-- End Experience -->
              <!-- Age ranges -->
              <v-select
                v-model="ageRange"
                label="Edad"
                dense
                outlined
                clearable
                :items="ageRanges"
                item-text="age_range"
                item-value="id"
              ></v-select>

              <!-- Salary expectation -->
              <v-select
                v-model="salaryExpectation"
                label="Expectativa salarial"
                dense
                outlined
                clearable
                :items="salaryExpectations"
                item-text="range"
                item-value="id"
              ></v-select>
              <!-- End Salary expectation -->
              <!-- Search button -->
              <v-btn
                color="indigo"
                small
                @click="searchPositionRequests"
              >
                <v-icon>mdi-magnify</v-icon>
                Buscar
              </v-btn>
              <v-tooltip
                bottom
                open-delay="500"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="warning"
                    v-bind="attrs"
                    v-on="on"
                    small
                    @click="clearFilters"
                  >
                    <v-icon small>mdi-restore</v-icon>
                  </v-btn>
                </template>
                <span>Reiniciar filtros</span>
              </v-tooltip>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- End Filters -->

        <!-- Data table -->
        <v-col cols="8">
          <v-card
            elevation="2"
            outlined
          >
            <v-data-table
              class="elevation-1"
              align="center"
              :headers="headers"
              :items="posReqs"
              :loading="loading"
              :search="search"
              loading-text="Consultando información..."
            >

              <!-- Start of table -->
              <template v-slot:top>
                <v-toolbar
                  flat
                >
                  <v-toolbar-title>Peticiones</v-toolbar-title>
                  <v-divider
                    class="mx-4"
                    inset
                    vertical
                  ></v-divider>
                  <v-text-field
                    v-model="search"
                    dense
                    hide-details
                    :disabled="posReqs.length === 0"
                    label="Buscar..."
                    class="mx-4"
                  ></v-text-field>
                  <!-- <v-divider
                    class="mx-4"
                    inset
                    vertical
                  ></v-divider>
                  <v-tooltip
                    bottom
                    open-delay="500"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        v-bind="attrs"
                        v-on="on"
                        color="red"
                        dark
                        class="mr-2"
                      >
                        <v-icon>
                          mdi-account-off
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>Ver talentos eliminados</span>
                  </v-tooltip>
                  <v-tooltip
                    bottom
                    open-delay="500"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        v-bind="attrs"
                        v-on="on"
                        color="primary"
                        dark
                      >
                        <v-icon>
                          mdi-plus
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>Crear talento</span>
                  </v-tooltip> -->

                  <!-- Delete dialog -->
                  <v-dialog max-width="500px">
                    <v-card>
                      <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text>Cancel</v-btn>
                        <v-btn color="blue darken-1" text>OK</v-btn>
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <!-- End Delete dialog -->

                </v-toolbar>
              </template>
              <!-- End Start of table -->

              <template v-slot:item.country="{ item }">
                <template v-if="item.country === null">--</template>
                <template v-else>{{ item.country }}</template>
              </template>

              <template v-slot:item.finished="{ item }">
                <v-icon
                  v-if="item.finished"
                  color="green darken-2"
                >
                  mdi-check-circle
                </v-icon>
                <v-icon
                  v-else
                  color="red darken-2"
                >
                  mdi-close-circle
                </v-icon>
              </template>

              <!-- Actions -->
              <template v-slot:item.actions="{ item }">
                <!-- Talent details -->
                <v-tooltip
                  bottom
                  open-delay="500"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <a
                      v-bind="attrs"
                      v-on="on"
                      class="remove-decorations"
                      :href="`/position-requests/detail/${item.id}`"
                    >
                      <v-icon small class="mr-2">mdi-eye</v-icon>
                    </a>
                  </template>
                  <span>Ver ficha de {{ item.title }}</span>
                </v-tooltip>
                
                <!-- Edit Talent data -->
                <v-tooltip
                  bottom
                  open-delay="500"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      v-bind="attrs"
                      v-on="on"
                      small
                      class="mr-2 pointer"
                    >
                      mdi-pencil
                    </v-icon>
                  </template>
                  <span>Editar ficha de {{ item.title }}</span>
                </v-tooltip>
                <v-tooltip
                  bottom
                  open-delay="500"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      v-bind="attrs"
                      v-on="on"
                      small
                      class="pointer"
                    >
                      mdi-delete
                    </v-icon>
                  </template>
                  <span>Eliminar a {{item}} {{item}}</span>
                </v-tooltip>
              </template>
              <template v-slot:no-data>
                Sin información que mostrar
              </template>
              <!-- End Actions -->

            </v-data-table>
          </v-card>
        </v-col>
        <!-- End Data table -->

      </v-row>
    </v-container>
  </app-layout>
</template>

<script>
  import AppLayout from '../../Layouts/AppLayout'


  export default {
    components: {
      AppLayout,
    },
    props: [
      'sessionUser',
      'positionRequests',
      'companyActivities',
      'positions',
      'salaryExpectations',
      'countries',
      'studyTypes',
      'degrees',
      'languages',
      'languageLevels',
      'skills',
      'experienceRanges',
      'ageRanges',
    ],
    remember: [],
    data() {
      return {
        // Filters
        companyActivity: null,
        position: null,
        salaryExpectation: null,
        country: null,
        state: null,
        studiesFilters: [],
        languagesFilters: [],
        chosenSkills: [],
        ageRange: null,
        expRange: null,
        noStates: false,
        states: [],
        schoolDegrees: [],
        collegeDegrees: [],
        // Module properties
        // Table
        search: '',
        loading: false,
        headers: [
          { text: 'Título', value: 'title', sortable: false },
          { text: 'Cargo', value: 'position', sortable: false },
          { text: 'País', value: 'country', sortable: false },
          { text: 'Completo', value: 'finished', sortable: false },
          { text: 'Acciones', value: 'actions', sortable: false },
        ],
        posReqs: [],
      }
    },
    created() {
      this.posReqs = this.positionRequests.data
      this.schoolDegrees = this.degrees.filter( d => d.study_type_id === 2)
      this.collegeDegrees = this.degrees.filter( d => d.study_type_id === null)
    },
    methods: {
      clearFilters() {
        // this.gender = null
        this.companyActivity = null
        this.position = null
        this.salaryExpectation = null
        this.country = null
        this.state = null
        this.studiesFilters = []
        this.languagesFilters = []
        this.chosenSkills = []
        this.ageRange = null
        this.expRange = null
      },
      getCountryStates() {
        axios.get(`/application/get-country-states/${this.country}`)
        .then((res) => {
          if (!res.data.error) {
            if (res.data.states.length > 0) {
              this.states = res.data.states
            } else {
              this.states = []
              this.noStates = true
            }
          }
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
      },
      addStudyFilter() {
        this.studiesFilters.push({ studyType: null, degree: null, degreesLst: [] })
      },
      removeStudyFilter(index) {
        this.studiesFilters.splice(index, 1)
      },
      setDegreesLst(index) {
        const elemCopy = { ...this.studiesFilters[index] }
        if (elemCopy.studyType === 2) {
          elemCopy.degreesLst = this.schoolDegrees
        } else if (elemCopy.studyType !== 2) {
          elemCopy.degreesLst = this.collegeDegrees
        }
        this.studiesFilters.splice(index, 1, elemCopy)
      },
      addLangFilter() {
        this.languagesFilters.push({ langId: null, levelId: null })
      },
      removeLangFilter(index) {
        this.languagesFilters.splice(index, 1)
      },
      removeSkill(item) {
        const index = this.chosenSkills.findIndex( cs => cs.id === item.id)
        if (index >= 0) this.chosenSkills.splice(index, 1)
      },
      searchPositionRequests() {
        let filters = {}
        this.loading = true

        if (this.companyActivity !== null) filters.companyActivity = this.companyActivity
        if (this.position !== null) filters.position = this.position
        if (this.salaryExpectation !== null) filters.salaryExpectation = this.salaryExpectation
        if (this.country !== null) filters.country = this.country
        if (this.state !== null) filters.state = this.state
        if (this.studiesFilters.length > 0) {
          filters.studiesFilters = this.studiesFilters.map(sf => {
            const newObj = {}
            newObj.studyType = sf.studyType
            newObj.degree = sf.degree
            return newObj
          })
        }
        if (this.languagesFilters.length > 0) filters.languagesFilters = this.languagesFilters
        if (this.chosenSkills.length > 0) filters.chosenSkills = this.chosenSkills
        if (this.ageRange !== null) filters.ageRange = this.ageRanges.find( ar => ar.id === this.ageRange)
        if (this.expRange !== null) filters.expRange = this.experienceRanges.find( er => er.id === this.expRange)

        axios.post('/position-requests/filter-position-requests', { filters })
        .then((res) => {
          // console.log(res)
          this.posReqs = res.data.data
          this.loading = false
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.log(error)
        })
      },
    }
  }
</script>
<style>
.remove-decorations {
  text-decoration: none;
}
.pointer {cursor: pointer;}
</style>