<template>
<v-window-item :value="2">
  <v-row class="fill-height">
    <v-col
      cols="12"
      md="4"
      class="blue-grey darken-4">
      <v-card-text class="white--text mt-12">
          <h5 class="text-center">¿Desea regresar?</h5>
      </v-card-text>
      <div class="text-center">
        <v-btn
          rounded
          outlined
          dark
          small
          @click="$emit('ChangeStep')"><h5><strong>Iniciar sesión</strong></h5>
        </v-btn>
      </div>
    </v-col>
    <v-col cols="12" md="8">
     <img src="https://image.freepik.com/vector-gratis/ilustracion-icono-candado_53876-5832.jpg" style="width:120px; height:120px; display:block; margin:auto;">
      <v-card-text>
       <v-form @submit.prevent>
        <v-row justify="center" align="center">
          <v-col
            cols="12"
            sm="10"
            md="12"
            style="margin-top:-40px;"
            v-if="showReset != true"
          >
              <v-switch v-model="showReset" @click="prueba" color="teal accent-3" class="ml-3" :label="`¿Tienes problemas para iniciar sesión?`"></v-switch>
          </v-col>
          <v-col
            cols="12"
            sm="10"
            md="10"
            style="margin-top:-40px;"
            v-else
          >
              <v-switch  v-model="showReset" @click="prueba" color="teal accent-3" class="ml-3" :label="`¡Recupera tu contraseña!`"></v-switch>
              <v-text-field 
              v-model="form.email"
              :rules="form.rules.rulesEmail"
              type="text" 
              label="Correo electrónico"
              prepend-icon="mdi-email-send-outline"
              >
              </v-text-field>            
          </v-col>
        </v-row>
        <div class="text-center mb-5">
            <v-btn type="submit" color="teal accent-3" dark >Enviar</v-btn>
        </div>
       </v-form>
      </v-card-text>
    </v-col>
  </v-row>
</v-window-item>
</template>
<script>
export default {

  data: () => ({
      showReset:false,
      form:{
        email:'',
         rules: {
          rulesEmail: [
            v => !!v || 'El campo correo electrónico es requerido.'
          ],
        }
      },
  }),
 methods:{
   prueba(){
     this.showReset
   },
 }
   
}
</script>