<template>
  <app-layout :loggedUser="sessionUser" :title="'DETALLE DE TALENTO'" :backBtn="true">
    <v-container>
      <v-row>

        <!-- Talent profile details -->
        <v-col md="8">

          <!-- User data -->
          <v-card>
            <v-card-title>Datos de usuario</v-card-title>
            <v-card-text>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Correo</v-list-item-title>
                  <v-list-item-subtitle>{{ email }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Número de teléfono</v-list-item-title>
                  <v-list-item-subtitle>{{ phoneNumber }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card-text>
          </v-card>
          <!-- User data -->

          <!-- Person data -->
          <v-card>
            <v-card-title>Datos personales</v-card-title>
            <v-card-text>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Nombres</v-list-item-title>
                  <v-list-item-subtitle>{{ firstnames }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Apellidos</v-list-item-title>
                  <v-list-item-subtitle>{{ lastnames }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Género</v-list-item-title>
                  <v-list-item-subtitle>{{ gender }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Fecha de nacimiento</v-list-item-title>
                  <v-list-item-subtitle>{{ birthdate }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>País de residencia</v-list-item-title>
                  <v-list-item-subtitle>{{ country }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Estado</v-list-item-title>
                  <v-list-item-subtitle>{{ state }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card-text>
          </v-card>
          <!-- Person data -->

          <!-- Application data -->
          <v-card>
            <v-card-title>Datos de captación</v-card-title>
            <v-card-text>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Currículo de vida</v-list-item-title>
                  <v-list-item-subtitle>{{ isCvUploaded ? 'Agregado' : 'No agregado' }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Expectativa salarial</v-list-item-title>
                  <v-list-item-subtitle>{{ salaryExpectation }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Reseña</v-list-item-title>
                  <v-list-item-subtitle>{{ description }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card-text>
          </v-card>
          <!-- Application data -->

          <!-- Studies data -->
          <v-card>
            <v-card-title>Estudios</v-card-title>
            <v-card-text>
              <template v-if="noStudies">
                  <v-row>
                    <v-col cols="12">
                      No registró estudios
                    </v-col>
                  </v-row>
              </template>
              <template v-else>
                <v-row v-for="(study, index) in studies" :key="`us-${index}`">
                  <v-col cols="12">
                    <v-list-item two-line>
                      <v-list-item-content>
                        <v-list-item-title>País de estudio</v-list-item-title>
                        <v-list-item-subtitle>{{ study.country.name }}</v-list-item-subtitle>
                      </v-list-item-content>
                      <v-list-item-content>
                        <v-list-item-title>Tipo de estudio</v-list-item-title>
                        <v-list-item-subtitle>{{ study.study_type.name }}</v-list-item-subtitle>
                      </v-list-item-content>
                      <v-list-item-content>
                        <v-list-item-title>Título obtenido</v-list-item-title>
                        <v-list-item-subtitle>{{ study.degree.degree }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                  <v-col v-if="studiesLength > 1 && index !== (studiesLength - 1)" cols="12">
                    <div id="divider" style="background-color:#272727; height: 1px; width:100%;"></div>
                  </v-col>
                </v-row>
              </template>
            </v-card-text>
          </v-card>
          <!-- Studies data -->

          <!-- Languages data -->
          <v-card>
            <v-card-title>Idiomas</v-card-title>
            <v-card-text>
              <template v-if="noLangs">
                  <v-row>
                    <v-col cols="12">
                      No registró idiomas
                    </v-col>
                  </v-row>
              </template>
              <template v-else>
                <v-row v-for="(lang, index) in languages" :key="`ul-${index}`">
                  <v-col cols="12">
                    <v-list-item two-line>
                      <v-list-item-content>
                        <v-list-item-title>Idioma</v-list-item-title>
                        <v-list-item-subtitle>{{ lang.language.lang }}</v-list-item-subtitle>
                      </v-list-item-content>
                      <v-list-item-content>
                        <v-list-item-title>Nivel</v-list-item-title>
                        <v-list-item-subtitle>{{ lang.level.level }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                    <v-col v-if="languagesLength > 1 && index !== (languagesLength - 1)" cols="12">
                    <div id="divider" style="background-color:#272727; height: 1px; width:100%;"></div>
                  </v-col>
                  </v-col>
                </v-row>
              </template>
            </v-card-text>
          </v-card>
          <!-- Languages data -->

          <!-- Skills data -->
          <v-card>
            <v-card-title>Habilidades</v-card-title>
            <v-card-text>
              <template v-if="skills.length === 0">
                <v-col cols="12">
                  Este talento no registró habilidades.
                </v-col>
              </template>
              <template v-else>
                <v-col cols="12">
                  <v-chip v-for="(skill, index) in skills" :key="skill.id" class="ma-1 text-md-body-1">
                    <strong>{{skill.skill}}</strong>
                  </v-chip>
                </v-col>
              </template>
            </v-card-text>
          </v-card>
          <!-- Skills data -->

          <!-- Experiences data -->
          <v-card>
            <v-card-title>Experiencias</v-card-title>
            <v-card-text>
              <template v-if="noExperiences">
                <v-card-text>
                  <v-row>
                    <v-col cols="12">
                      No hay experiencias para este talento
                    </v-col>
                  </v-row>
                </v-card-text>
              </template>
              <template v-else>
                <v-row v-for="(ef, index) in talent.experiences" :key="`uexf-${index}`">
                  <v-col cols="12">
                    <v-list-item two-line>
                      <!-- Company -->
                      <v-list-item-content>
                        <v-list-item-title>Empresa</v-list-item-title>
                        <v-list-item-subtitle>{{ ef.company }}</v-list-item-subtitle>
                      </v-list-item-content>
                      <!-- Company activity -->
                      <v-list-item-content>
                        <v-list-item-title>Sector de la industria</v-list-item-title>
                        <v-list-item-subtitle>{{ ef.company_activity }}</v-list-item-subtitle>
                      </v-list-item-content>
                      <!-- Timeframe -->
                      <v-list-item-content>
                        <v-list-item-title>Período</v-list-item-title>
                        <v-list-item-subtitle>Desde {{ ef.from }} <span v-if="ef.actual"><strong>(actual)</strong></span><span v-else>Hasta {{ ef.to }}</span>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item two-line>
                      <!-- Position -->
                      <v-list-item-content>
                        <v-list-item-title>Cargo</v-list-item-title>
                        <v-list-item-subtitle>{{ ef.experience_position.position }}</v-list-item-subtitle>
                      </v-list-item-content>
                      <!-- Experience -->
                      <v-list-item-content>
                        <v-list-item-title>Experiencia</v-list-item-title>
                        <v-list-item-subtitle>{{ ef.exp_years }} año<span v-if="ef.exp_years > 1">s</span> de experiencia</v-list-item-subtitle>
                      </v-list-item-content>
                      <!-- Dependents -->
                      <v-list-item-content>
                        <v-list-item-title>Personas a cargo</v-list-item-title>
                        <v-list-item-subtitle>{{ ef.dependents }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                  <v-col v-if="experiencesLength > 1 && index !== (experiencesLength - 1)" cols="12">
                    <div id="divider" style="background-color:#272727; height: 1px; width:100%;"></div>
                  </v-col>
                </v-row>
              </template>
            </v-card-text>
          </v-card>
          <!-- Experiences data -->
        </v-col>

        <!-- Extra data widgets -->
        <v-col md="4">
          <!-- Avatar and reputation -->
          <v-card
            class="mx-auto"
            tile
          >
            <!-- Avatar -->
            <v-card-title primary-title class="justify-center">
              <v-avatar
                color="orange"
                size="200"
              >
                <img
                  :src="avatar"
                  alt="John"
                >
              </v-avatar>
            </v-card-title>
            <v-card-text>
              <v-list-item two-line>
                <!-- Age -->
                <v-list-item-content>
                  <v-list-item-title>Edad</v-list-item-title>
                  <v-list-item-subtitle>{{ age }}</v-list-item-subtitle>
                </v-list-item-content>
                <!-- Reputation -->
                <v-list-item-content>
                  <v-list-item-title>Reputación</v-list-item-title>
                  <v-list-item-subtitle>
                    <v-tooltip
                      bottom
                      open-delay="500"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          v-bind="attrs"
                          v-on="on"
                          text
                          :class="getColor(talent.application.reputation)"
                          @click="editReputation"
                        >
                          <strong>{{ reputation }}</strong>
                        </v-btn>
                      </template>
                      <span>Cambiar reputación</span>
                    </v-tooltip>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <!-- Register date -->
                <v-list-item-content>
                  <v-list-item-title>Fecha de registro</v-list-item-title>
                  <v-list-item-subtitle>{{ formatDate(talent.application.created_at) }}</v-list-item-subtitle>
                </v-list-item-content>
                <!-- Completed application date -->
                <v-list-item-content>
                  <v-list-item-title>Completó el asistente el</v-list-item-title>
                  <v-list-item-subtitle>{{ formatDate(talent.application.updated_at) }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-btn
                    link
                    :href="`/application/cv/download/${cv}`"
                    target="_blank"
                    class="text-center"
                    color="green"
                    :disabled="!isCvUploaded"
                  >
                    {{ isCvUploaded ? 'Descargar CV' : 'No registró CV' }}
                    <v-icon small class="ml-2">{{ isCvUploaded ? 'mdi-file-download' : 'mdi-file-cancel-outline' }}</v-icon>
                  </v-btn>
                </v-list-item-content>
              </v-list-item>
            </v-card-text>
          </v-card>
          <!-- Nominations -->
          <v-card>
            <v-app-bar
              flat
              color="rgba(0, 0, 0, 0)"
            >
              <v-toolbar-title class="text-h6 pl-0">
                Nominaciones
              </v-toolbar-title>

              <v-spacer></v-spacer>

              <v-btn
                color="green"
                small
                @click="editNomination"
              >
                <v-icon color="white">mdi-plus</v-icon>
              </v-btn>
            </v-app-bar>

            <v-card-text>
                <template v-if="noNominations">
                  Este talento no ha sido nominado aún
                </template>
                <template v-else>
                  <v-timeline
                    align-top
                    dense
                  >
                    <v-timeline-item
                      v-for="(nomination, index) in nominations"
                      :key="`nom-${index}`"
                      :color="nomination.status"
                      small
                    >
                      <div>
                        <div class="font-weight-normal">
                          <strong>{{ nomination.client }}</strong> - {{ nomination.date }}
                        </div>
                        <div>{{ nomination.positionSalary }}</div>
                      </div>
                    </v-timeline-item>
                  </v-timeline>
                </template>
            </v-card-text>
          </v-card>
          <!-- Comments -->
          <v-card>
            <v-app-bar
              flat
              color="rgba(0, 0, 0, 0)"
            >
              <v-toolbar-title class="text-h6 pl-0">
                Comentarios
              </v-toolbar-title>

              <v-spacer></v-spacer>

              <v-btn
                color="green"
                small
                @click="openCommentModal"
              >
                <v-icon color="white">mdi-plus</v-icon>
              </v-btn>
            </v-app-bar>

            <v-card-text>
                <template v-if="noComments">
                  No hay comentarios
                </template>
                <template v-else>
                  <v-list-item
                    v-for="(comment, index) in comments"
                    :key="`comment-${index}`"
                  >
                    <v-list-item-avatar>
                      <v-img src="https://cdn.vuetifyjs.com/images/lists/1.jpg"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title>
                        {{ `${comment.user.person_data.lastnames}, ${comment.user.person_data.firstnames} - ${formatDate(comment.updated_at)}` }}
                      </v-list-item-title>
                      <v-list-item-subtitle class="text-wrap">
                        {{ comment.comment }}<br>
                        <div class="mt-3">
                          <a class="blue--text" @click="editComment(comment.id)">EDITAR</a>
                          <a class="red--text" @click="deleteComment(comment.id)">ELIMINAR</a>
                        </div>
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </template>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>

      <!-- Reputation dialog -->
      <v-dialog
        v-model="reputationDialog"
        persistent
        max-width="350"
      >
        <v-card>
          <v-card-title class="text-h5">
            Reputación
          </v-card-title>
          <v-card-text>
            <v-text-field
              v-model="reputationForm.value"
              label="Ingrese un número"
              :disabled="bussy"
            ></v-text-field>
            <v-alert
              v-if="$v.reputationForm.$dirty && $v.reputationForm.$invalid"
              dense
              text
              border="left"
              color="warning"
            >
              <p class="my-0" v-if="!$v.reputationForm.value.required">Requerido</p>
              <p class="my-0" v-if="!$v.reputationForm.value.numeric">Sólo números</p>
              <p class="my-0" v-if="!$v.reputationForm.value.between">Sólo del 1 al 10</p>
            </v-alert>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red darken-1"
              text
              :disabled="bussy"
              @click="closeReputationModal"
            >
              Cancelar
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              :disabled="bussy"
              @click="updateReputation"
            >
              Cambiar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Comment dialog -->
      <v-dialog
        v-model="commentDialog"
        persistent
        max-width="500"
      >
        <v-card>
          <v-card-title class="text-h5">
            {{ commentDialogTitle }}
          </v-card-title>
          <v-card-text>
            <v-textarea
              v-model="commentForm.comment"
              label="Escriba un comentario"
              :disabled="bussy"
            ></v-textarea>
            <v-alert
              v-if="$v.commentForm.$dirty && $v.commentForm.$invalid"
              dense
              text
              border="left"
              color="warning"
            >
              <p class="my-0" v-if="!$v.commentForm.comment.required">Requerido</p>
            </v-alert>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red darken-1"
              text
              :disabled="bussy"
              @click="closeCommentModal"
            >
              Cancelar
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              :disabled="bussy"
              @click="saveComment"
            >
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Nomination dialog -->
      <v-dialog
        v-model="nominationDialog"
        persistent
        max-width="600"
      >
        <v-card>
          <v-card-title class="text-h5">
            Nominar talento
          </v-card-title>
          <v-card-text>
            <v-autocomplete
              clearable
              v-model="clientId"
              :items="clients"
              :loading="bussy"
              :search-input.sync="clientsParam"
              item-text="name"
              item-value="id"
              label="Buscar clientes"
              placeholder="Se necesitan al menos dos letras para comenzar la búsqueda"
              @update:search-input="getClients"
              @change="getPositionRequests"
              :disabled="bussy"
            ></v-autocomplete>
          </v-card-text>
          <v-card-text>
            <template v-if="noPositionRequests">
              No se han encontrado peticiones de cargo para este cliente
            </template>
            <template v-else>
              <div>Peticiones de cargos</div>
              <v-checkbox
                v-for="(prs, index) in positionRequests"
                :key="`pr-${index}`"
                v-model="posReqIds"
                :label="`${prs.position.position} - ${ prs.salary_expectation ? prs.salary_expectation.range : ''}`"
                :value="prs.id"
                :disabled="bussy"
              ></v-checkbox>
            </template>
            <v-alert
              v-if="$v.posReqIds.$dirty && $v.posReqIds.$invalid"
              dense
              text
              border="left"
              color="warning"
            >
              <p class="my-0" v-if="!$v.posReqIds.required">Debe escoger al menos un cargo para nominar</p>
            </v-alert>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red darken-1"
              text
              :disabled="bussy"
              @click="closeNominationModal"
            >
              Cancelar
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              :disabled="bussy"
              @click="saveNominations"
            >
              Nominar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Snackbar -->
      <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        bottom
        right
        color="success"
      >
        {{ text }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="white"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
            Cerrar
          </v-btn>
        </template>
      </v-snackbar>
    </v-container>
  </app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout';
import { validationMixin } from 'vuelidate'
import { required, numeric, between, minLength } from 'vuelidate/lib/validators'
import { Inertia } from '@inertiajs/inertia'

export default {
  components: {
    AppLayout,
  },
  mixins: [validationMixin],
  props: {
    sessionUser: {
      type: Object,
      default: null
    },
    talent: {
      type: Object,
      default: null
    },
  },
  data: () => ({
    reputationDialog: false,
    nominationDialog: false,
    commentDialog: false,
    bussy: false,
    commentForm: {
      commentId: null,
      userId: null,
      applicationId: null,
      comment: ''
    },
    reputationForm: {
      value: 0
    },
    clients: [],
    clientsParam: null,
    clientId: null,
    positionRequests: [],
    posReqIds: [],
    snackbar: false,
    text: '',
    timeout: 4000,
  }),
  validations: {
    reputationForm: {
      value: {
        required,
        numeric,
        between: between(1, 10)
      },
    },
    commentForm: {
      comment: {
        required,
      },
    },
    posReqIds: {
      required,
    },
  },
  computed: {
    // User data props
    avatar() {
      return this.talent.avatar === null ? '/img/default.png' : this.talent.avatar
    },
    email() {
      return this.talent.email
    },
    phoneNumber() {
      const value = (this.talent.country !== null) ? `${this.talent.country.name} (${this.talent.country.number_code}) ${this.talent.phone_number}` : 'N/A'
      return value
    },
    // Person data props
    firstnames() {
      if (this.talent.person_data) 
        return this.talent.person_data.firstnames
      return 'no especificado'
    },
    lastnames() {
      if (this.talent.person_data)
        return this.talent.person_data.lastnames
      return 'no especificado'
    },
    gender() {
      let value = 'no especificado'
      if (this.talent.person_data) 
        switch (this.talent.person_data.gender) {
          case 'M': value = 'Masculino'; break;
          case 'F': value = 'Femenino'; break;
          default: value= 'No quiso indicarlo'; break;
        }
      return value
    },
    birthdate() {
      if (this.talent.person_data) 
        return this.talent.person_data.birthdate
      return 'no especificado'
    },
    country() {
      if (this.talent.person_data) {
        const value = this.talent.person_data.country
        return value === null ? 'N/A' : value.name
      }
      return 'no especificado'
    },
    state() {
      if (this.talent.person_data) {
        const value = this.talent.person_data.state
        return value === null ? 'N/A' : value.name
      }
      return 'no especificado'
    },

    // Application data props
    finished() {
      return this.talent.application.finished
    },
    cv() {
      return this.talent.application.curriculum === null ? null : this.talent.user_id
    },
    isCvUploaded() {
      return this.talent.application.curriculum !== null
    },
    salaryExpectation() {
      return this.talent.application.salary_expectation 
        ? this.talent.application.salary_expectation.range 
        : ''
    },
    description() {
      const value = this.talent.application.description
      return value === null ? 'No dejó reseña' : value
    },
    reputation() {
      return `${this.talent.application.reputation}/10`
    },

    // Talent studies
    studies() {
      return this.talent.studies
    },

    // Talent languages
    noLangs() {
      return this.talent.languages.length === 0
    },
    languages() {
      return this.talent.languages
    },
    languagesLength() {
      return this.talent.languages.length
    },
    age() {
      if (this.talent.person_data) 
        return `${this.talent.person_data.age} años`
      return 'no especificado'
    },
    applicationStatus() {
      return this.talent.application.finished
    },
    // Studies
    noStudies() {
      return this.talent.studies.length === 0
    },
    studiesLength() {
      return this.talent.studies.length
    },
    // skills
    skills() {
      return this.talent.skills || []
    },
    // Experiences
    noExperiences() {
      return this.talent.experiences.length === 0
    },
    experiencesLength() {
      return this.talent.experiences.length
    },
    // Nominations
    noNominations() {
      return this.talent.nominations.length === 0
    },
    nominations() {
      const nominations = this.talent.nominations.map((ns) => {
        const elem = {
          client: ns.client.name,
          positionSalary: `${ns.position.position}, ${ns.salary_expectation ? ns.salary_expectation.range : ''}`,
          date: (new Date(ns.created_at)).toLocaleDateString('es-VE'),
        }
        return elem
      })
      return nominations
    },
    noPositionRequests() {
      return this.positionRequests.length === 0
    },
    comments() {
      return this.talent.application.comments
    },
    commentDialogTitle() {
      return (this.commentForm.commentId !== null) ? 'Editar Comentario' : 'Nuevo Comentario'
    },
    noComments() {
      return this.talent.application.comments.length === 0
    }
  },
  created() {
    this.reputationForm.value = this.talent.application.reputation
  },
  methods: {
    getColor (rep) {
      if (rep >= 1 && rep <= 3) return 'red--text'
      else if (rep >= 4 && rep <= 6) return 'orange--text'
      else return 'green--text'
    },
    editReputation() {
      this.reputationDialog = true
    },
    openCommentModal() {
      this.commentForm.userId = this.sessionUser.id
      this.commentForm.applicationId = this.talent.application.id
      this.commentDialog = true
    },
    editComment(id) {
      this.commentForm.commentId = id
      const comment = this.talent.application.comments.find((comment) => comment.id === id)
      this.commentForm.comment = comment.comment
      this.openCommentModal()
    },
    saveComment() {
      this.$v.commentForm.$touch()
      if (!this.$v.commentForm.$invalid) {
        this.bussy = true
        axios.post(route('application.saveComment'), this.commentForm)
          .then((res) => {
            if (res.data.success) {
              Inertia.reload({ only: ['talent'] })
              this.snackbar = true
              this.text = 'Comentario guardado'
              this.closeCommentModal()
              this.bussy = false
            }
          })
      }
    },
    deleteComment(id) {
      axios.delete(route('application.deleteComment', {id: id} ))
        .then((res) => {
          if (res.data.success) {
            Inertia.reload({ only: ['talent'] })
            this.snackbar = true
            this.text = 'Comentario eliminado'
            this.closeCommentModal()
            this.bussy = false
          }
        })
    },
    closeCommentModal() {
      this.commentDialog = false
      this.commentForm.commentId = null
      this.commentForm.userId = null
      this.commentForm.applicationId = null
      this.commentForm.comment = ''
      this.$v.commentForm.$reset()
    },
    closeReputationModal() {
      this.reputationDialog = false
      this.$v.reputationForm.$reset()
    },
    updateReputation() {
      this.$v.reputationForm.$touch()
      if (!this.$v.reputationForm.$invalid) {
        this.bussy = true
        axios.put(route('application.updateReputation', {id : this.talent.application.id}), this.reputationForm)
        .then((res) => {
          if (res.data.success) {
            Inertia.reload({ only: ['talent'] })
            this.snackbar = true
            this.text = 'Reputación actualizada'
            this.closeReputationModal()
            this.bussy = false
          }
        })
      }
    },
    editNomination() {
      this.nominationDialog = true
    },
    closeNominationModal() {
      this.nominationDialog = false
      this.clientId = null
      this.clients = []
      this.positionRequests = []
      this.posReqIds = []
      this.$v.posReqIds.$reset()
    },
    saveNominations() {
      this.$v.posReqIds.$touch()
      if (!this.$v.posReqIds.$invalid) {
        this.bussy = true
        const payload = {
          userId: this.talent.id,
          posReqIds: this.posReqIds,
        }
        axios.post(route('application.nominateTalent'), payload)
          .then((res) => {
            if (res.data.success) {
              Inertia.reload({ only: ['talent'] })
              this.snackbar = true
              this.text = 'Nominaciones realizadas'
              this.closeNominationModal()
              this.bussy = false
            }
          })
      }
    },
    getClients() {
      if (this.clientsParam !== null && this.clientsParam !== "") {
        if (this.clientsParam.length >= 2) {
          this.bussy = true
          axios.get(route('application.queryClients', {value : this.clientsParam}))
          .then((res) => {
            if (res.data.success) {
              this.clients = res.data.clients
            }
          })
          .catch(err => {
              console.log(err)
            })
          .finally(() => (this.bussy = false))
        }
      } else {
        this.clients = []
      }
    },
    getPositionRequests() {
      if (this.clientId !== null) {
        this.bussy = true
        axios.get(route('application.queryPosReqs', {id : this.clientId}))
        .then((res) => {
          if (res.data.success) {
            this.positionRequests = res.data.positionRequests
          }
        })
        .catch(err => {
            console.log(err)
          })
        .finally(() => (this.bussy = false))
      }
    },
    formatDate(val) {
      const date = new Date(val)
      let day = date.getDate()
      let month = date.getMonth()+1
      let year = date.getFullYear()
      return `${day}/${month}/${year}`
    },
  },
}
</script>
