<template>
  <app-layout :loggedUser="sessionUser" :title="'DETALLE DE TALENTO'" :backBtn="true">
    <v-container>
      <v-row>
        <!-- User data -->
        <v-col cols="12">
          <v-card :class="{'card-error': showErrors && !isUserFormValid}">
            <v-card-title>Datos de usuario</v-card-title>
            <v-card-text>
              <v-col>
                <!-- User data form -->
                <v-row>
                  <v-col cols="6">
                    <v-text-field v-model="userForm.email" label="Correo" :rules="rules.userEmail"></v-text-field>
                  </v-col>
  
                  <v-col cols="6">
                    <div class="d-flex flex-row">
                      <v-autocomplete
                        class="mr-2"
                        v-model="userForm.country_code"
                        :value="userForm.country_code"
                        :items="countries.data"
                        :rules="rules.userCountry"
                        item-text="name"
                        item-value="id"
                        label="Código"
                      >
                        <template v-slot:item="data">
                          <v-list-item-content>
                            <v-list-item-title>{{ `${data.item.name} (${data.item.numberCode})` }}</v-list-item-title>
                          </v-list-item-content>
                        </template>
                      </v-autocomplete>
                      <v-text-field 
                        v-model="userForm.phone_number" 
                        label="Número de teléfono" 
                        :rules="rules.userPhoneNumber"
                        :value="userForm.phone_number"
                      ></v-text-field>
                    </div>
                  </v-col>
                </v-row>
              </v-col>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- User data -->

        <!-- Person data -->
        <v-col cols="12">
          <v-card class="mt-0" :class="{'card-error': showErrors && !isPersonFormValid}">
            <v-card-title>Datos personales</v-card-title>
            <v-card-text>
              <v-col>
                <!-- Person data form -->
                <v-row>
                  <v-col cols="6">
                    <v-text-field 
                      v-model="personForm.firstnames"
                      :rules="rules.personNames"
                      label="Nombres"
                    ></v-text-field>
                  </v-col>
  
                  <v-col cols="6">
                    <v-text-field 
                      v-model="personForm.lastnames"
                      :rules="rules.personLastnames"
                      label="Apellidos"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-select
                      v-model="personForm.gender"
                      :items="genders"
                      :rules="rules.personGender"
                      label="Género"
                      item-text="text"
                      item-value="value"
                    ></v-select>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <div class="d-flex flex-row">
                      <v-select
                        class="mr-2"
                        v-model="year"
                        :items="years"
                        :rules="rules.yearRules"
                        label="Año"
                      ></v-select>
                      <v-select
                        class="mr-2"
                        v-model="month"
                        :items="months"
                        :disabled="!year"
                        :rules="rules.monthRules"
                        item-text="name"
                        item-value="code"
                        label="Mes"
                      ></v-select>
                      <v-select 
                        v-model="day"
                        :disabled="!month"
                        :rules="rules.dayRules"
                        :items="days"
                        label="Día"
                      ></v-select>
                    </div>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <v-autocomplete
                      class="mr-2"
                      v-model="personForm.country"
                      :items="countries.data"
                      :rules="rules.personCountry"
                      item-text="name"
                      item-value="id"
                      label="País de residencia"
                      @change="getState"
                    ></v-autocomplete>
                  </v-col>
  
                  <v-col cols="6">
                    <v-autocomplete
                      class="mr-2"
                      v-model="personForm.state"
                      :items="statesList"
                      :rules="rules.personState"
                      :disabled="!personForm.country"
                      item-text="name"
                      item-value="id"
                      label="Estado"
                    ></v-autocomplete>
                  </v-col>
                </v-row>
              </v-col>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- Person data -->

        <!-- Studies data -->
        <v-col cols="12">
          <v-card class="mt-0" :class="{'card-error': showErrors && !isStudiesFormValid}">
            <v-card-title>
              <v-col>Estudios</v-col>
              <v-col
                cols="auto"
              >
                <v-btn color="secondary" 
                  dark
                  small
                  right
                  rounded
                  @click="addStudy"> 
                  <v-icon>mdi-plus</v-icon>  
                  Agregar
                </v-btn> 
              </v-col>
            </v-card-title>
            <v-card-text v-for="(study, i) in studiesFormList" :key="study.index">
              <v-divider></v-divider>
              <v-row>
                <v-col cols="10">
                  <v-row  class=" m-0">
                    <v-col cols="6">
                      <v-autocomplete
                        v-model="study.country"
                        :items="countries.data"
                        item-text="name"
                        item-value="id"
                        label="País"
                      ></v-autocomplete>
                    </v-col>
                    <v-col cols="6">
                      <v-autocomplete
                        v-model="study.studyType"
                        :items="studyTypes.data"
                        item-text="name"
                        item-value="id"
                        label="Tipo de estudio"
                        @change="setDegreeList(i, study.studyType)"
                      ></v-autocomplete>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      <v-autocomplete
                        v-model="study.degree"
                        :items="study.degrees"
                        item-text="degree"
                        item-value="id"
                        label="Título obtenido"
                      ></v-autocomplete>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="2" class=" d-flex align-center justify-center">
                  <v-btn
                    color="red"
                    small
                    @click="deleteElement(i, study, 'study')"> 
                    <v-icon>mdi-delete</v-icon>
                  </v-btn> 
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- Studies data -->

        <!-- Lenguages data -->
        <v-col cols="12">
          <v-card class="mt-0" :class="{'card-error': showErrors && !isLangsFormValid}">
            <v-card-title>
              <v-col>Idiomas</v-col>
              <v-col
                cols="auto"
              >
                <v-btn color="secondary" 
                  dark
                  small
                  right
                  rounded
                  @click="addLenguage"> 
                  <v-icon>mdi-plus</v-icon>  
                  Agregar
                </v-btn> 
              </v-col>
            </v-card-title>
            <v-card-text v-for="(lang, i) in langsFormList" :key="lang.index">
              <v-divider></v-divider>
              <v-row>
                <v-col cols="10">
                  <v-row class=" m-0">
                    <v-col cols="6">
                      <v-autocomplete
                        v-model="lang.langId"
                        :items="languages.data"
                        item-text="lang"
                        item-value="id"
                        label="Idioma"
                      ></v-autocomplete>
                    </v-col>
                    <v-col cols="6">
                      <v-autocomplete
                        v-model="lang.level"
                        :items="languageLevels.data"
                        item-text="level"
                        item-value="id"
                        label="Nivel de idioma"
                      ></v-autocomplete>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="2" class="d-flex align-center justify-center">
                  <v-btn
                    color="red"
                    small
                    @click="deleteElement(i, lang, 'lang')"> 
                    <v-icon>mdi-delete</v-icon>
                  </v-btn> 
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- Lenguages data -->

        <!-- Experience data -->
        <v-col cols="12">
          <v-card class="mt-0" :class="{'card-error': showErrors && !isExpsFormValid}">
            <v-card-title>
              <v-col>Experiencia</v-col>
              <v-col
                cols="auto"
              >
                <v-btn color="secondary" 
                  dark
                  small
                  right
                  rounded
                  @click="addExperience"> 
                  <v-icon>mdi-plus</v-icon>  
                  Agregar
                </v-btn> 
              </v-col>
            </v-card-title>
            <v-card-text v-for="(exp, i) in expsFormList" :key="exp.index">
              <v-divider></v-divider>
              <ExperienceForm
                :exp="exp"
                :index="i"
                :months="months"
                :companyActivities="companyActivities"
                :positions="positions"
                @delete:experience="deleteElement(i, exp, 'exp')"
                @current:experience="setAsCurrent(i, exp)"
              >
              </ExperienceForm>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- Experience data -->

        <!-- Skills data -->
        <v-col cols="12">
          <v-card class="mt-0" :class="{'card-error': showErrors && !isSkillsFormValid}">
            <v-card-title>
              <v-col>Habilidades</v-col>
            </v-card-title>
            <v-card-text>
              <v-col>
                <v-row>
                  <v-col cols="12">
                    <v-autocomplete
                      v-model="skillsForm"
                      :rules="rules.skillsList"
                      :items="skills.data"
                      item-text="skill"
                      item-value="id"
                      multiple
                      chips
                      deletable-chips
                    >
                      <template v-slot:item="data">
                        <v-list-item-content>
                          <v-list-item-title>{{ data.item.skill }}</v-list-item-title>
                        </v-list-item-content>
                      </template>
                    </v-autocomplete>
                  </v-col>
                </v-row>
              </v-col>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- Skills data -->

        <!-- Application data -->
        <v-col cols="12">
          <v-card class="mt-0" :class="{'card-error': showErrors && !isApplicationFormValid}">
            <v-card-title>Datos de captación</v-card-title>
            <v-card-text>
              <v-col>
                <v-row>
                  <v-col cols="6">
                    <v-select
                      v-model="applicationForm.salaryExpectation"
                      :items="salaryExpectations.data"
                      :rules="rules.clientSalary"
                      item-text="range"
                      item-value="id"
                      class="mr-2"
                      label="Expectativa salarial"
                    ></v-select>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field v-model="applicationForm.reputation" label="Reputación"></v-text-field>
                  </v-col>
                </v-row>
                <v-row class="mb-10">
                  <v-col cols="12" sm="6" md="12" lg="12">
                    <v-file-input v-if="!applicationForm.curriculum"
                        v-model="applicationForm.curriculum"
                        :rules="rules.clientCV"
                        accept=".pdf, .doc, .docx"
                        placeholder="Cargar curriculum"
                        prepend-icon="mdi-cloud-upload"
                        label="Síntesis curricular"
                        type="file"
                    ></v-file-input>
                    <div v-else>
                        <v-chip
                          large
                          class="ma-2 font-weight-bold h3"
                          color="secondary"
                          close
                          @click:close="applicationForm.curriculum = null"
                        >
                          <v-icon 
                            class="ml-2"
                            left 
                            color="primary"
                            style="font-size:24px !important;"
                          >
                            mdi-file-download-outline
                          </v-icon>
                          <div 
                            class="mx-4" 
                            style="font-size:16px !important; font-weight: bold !important;">
                            {{applicationForm.curriculum.name}}
                          </div>
                        </v-chip>
                    </div>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-textarea
                      v-model="applicationForm.description"
                      counter
                      :rules="rules.clientDescription"
                      auto-grow
                      label="Reseña"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-col>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- Application data -->
        <!-- Form actions -->
        <v-row class=" py-6">
          <v-col class="mx-auto text-center">
            <v-btn color="secondary" @click="goBack">
              Cancelar
            </v-btn>
            <v-btn color="primary" @click="sendForm">
              Guardar
            </v-btn>
          </v-col>
        </v-row>
        <!-- Form actions -->
      </v-row>
    </v-container>
  </app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout';
import ExperienceForm from '../../components/application/experience-form.vue'
import { validationMixin } from 'vuelidate'
import { required, numeric, between, minLength } from 'vuelidate/lib/validators'
import { Inertia } from '@inertiajs/inertia'
export default {
  components: {
    AppLayout,
    ExperienceForm,
  },
  mixins: [validationMixin],
  props: {
    // Session
    sessionUser: {
      type: Object,
      default: null
    },
    // Talent
    talent: {
      type: Object,
      default: null
    },
    // Data
    countries: {
      type: Object,
      default: { data: [] },
    },
    companyActivities: {
      type: Object,
      default: { data: [] },
    },
    positions: {
      type: Object,
      default: { data: [] },
    },
    salaryExpectations: {
      type: Object,
      default: { data: [] },
    },
    states: {
      type: Object,
      default: () => ({data: [] })
    },
    studyTypes: {
      type: Object,
      default: { data: [] },
    },
    degrees: {
      type: Object,
      default: { data: [] },
    },
    languages: {
      type: Object,
      default: { data: [] },
    },
    languageLevels: {
      type: Object,
      default: { data: [] },
    },
    skills: {
      type: Object,
      default: { data: [] },
    },
  },
  data() {
    return {
      genders: [
        { text: 'Femenino', value: 'F' },
        { text: 'Masculino', value: 'M' },
        { text: 'Prefiero no decirlo', value: 'NULL' },
      ],
      months: [
        { code: '01', name: 'Enero' },
        { code: '02', name: 'Febrero' },
        { code: '03', name: 'Marzo' },
        { code: '04', name: 'Abril' },
        { code: '05', name: 'Mayo' },
        { code: '06', name: 'Junio' },
        { code: '07', name: 'Julio' },
        { code: '08', name: 'Agosto' },
        { code: '09', name: 'Septiembre' },
        { code: '10', name: 'Octubre' },
        { code: '11', name: 'Noviembre' },
        { code: '12', name: 'Diciembre' },
      ],
      statesList: [],
      daysRange: [28, 30, 31],
      year: '',
      month: '',
      day: '',
      id: null,
      oldCurriculum: null,
      showErrors: false,
      invalidEmail: false,
      userForm: {
        id: '',
        email: '',
        country_code: null,
        phone_number: '',
      },
      personForm: {
        id: '',
        firstnames: '',
        lastnames: '',
        gender: '',
        birthdate: '',
        country: '',
        state: '',
      },
      applicationForm: {
        id: '',
        curriculum: null,
        salaryExpectation: '',
        description: '',
        reputation: '',
      },
      studiesForm: [],
      langsForm: [],
      expsForm: [],
      skillsForm: [],
      skillsList: [],
      rules: {
        // UserForm
        userEmail: [
          v => !!v || 'El campo correo electrónico es requerido.',
          v => (v && v.length <= 50) || 'El campo  correo electrónico debe contener máximo 50 caracteres.',
          v => (v && v.length >= 3) || 'El campo  correo electrónico debe contener mínimo 3 caracteres.',
          v => /.+@.+\..+/.test(v) || 'El correo electrónico debe ser válido.',
        ],
        userCountry: [
          v => !!v || 'El campo código del teléfono requerido.',
        ],
        userPhoneNumber: [
          v => !!v || 'El campo teléfono es requerido.',
          v => /^[0-9]+$/.test(v) || 'El télefono debe ser válido.',
          v => v.length <= 15 || "El télefono debe de ser válido"
        ],
        // PersonForm
        personNames: [
          v => !!v || 'El campo nombres es requerido.',
          v => v && v.length <= 50 || 'El campo nombres debe contener máximo 30 caracteres.',
          v => v && v.length >= 3 || 'El campo nombres debe contener mínimo 3 caracteres.',
        ],
        personLastnames: [
          v => !!v || 'El campo apellidos es requerido.',
          v => v && v.length <= 50 || 'El campo nombres debe contener máximo 30 caracteres.',
          v => v && v.length >= 3 || 'El campo nombres debe contener mínimo 3 caracteres.',
        ],
        personGender: [
          v => !!v || 'Seleccione su género.',
        ],
        yearRules: [
          v => !!v || 'Seleccione el año.',
        ],
        monthRules: [
          v => !!v || 'Seleccione el mes.',
        ],
        dayRules: [
          v => !!v || 'Seleccione el día.',
        ],
        personCountry: [
          v => !!v || 'Seleccione el país.',
        ],
        personState: [
          v => !!v || 'Seleccione el estado del país.',
        ],
        // StudiesForm
        studiesType: [
          v => !!v || 'El campo tipo de estudio es requerido.',
        ],
        studiesdegrees: [
          v => !!v || 'El campo título obtenido es requerido.',
        ],
        // LenguagesForm
        languageName: [
          v => !!v || 'El campo idioma es requerido.',
        ],
        languageLevel: [
          v => !!v || 'El campo nivel de idioma es requerido.',
        ],
        // ActivitiesForm
        ativities: [],
        // ApplicationForm
        clientSalary: [
          v => !!v || 'El campo expectativa salarial es requerido'
        ],
        clientCV: [
          v => !!v || 'El curriculo es obligatorio',
        ],
        clientDescription: [
          value => value.length <= 400 || 'El campo nombres debe contener mínimo 3 caracteres.',
        ],
      },
    }
  },
  watch: {
    year() {
      if ( this.day && this.month && !this.days.includes(this.day))
        this.day = null
    },
    month() {
      if (this.day && this.month && !this.days.includes(this.day))
        this.day = null
    }
  },
  computed: {
    years() {
      const d = new Date()
      // eslint-disable-next-line prefer-const
      let years = []
      const start = d.getFullYear() - 18
      const end = start - 50
      for (let i = start; i > end; i--) {
        years.push(i)
      }
      // eslint-disable-next-line no-console
      return years
    },
    days() {
      return this.handleDays(this.year, this.month)
    },
    studiesFormList() {
      return this.studiesForm.filter(item => !item.toDelete)
    },
    langsFormList() {
      return this.langsForm.filter(item => !item.toDelete)
    },
    expsFormList() {
      return this.expsForm.filter(item => !item.toDelete)
    },
    birthdate() {
      if (this.year, this.month, this.day)
        return `${this.year}-${this.month}-${this.day}`
      return ''
    },
    // validations
    isUserFormValid() {
      const { email, country_code, phone_number } = this.userForm
      return !!email && !!country_code && !!phone_number
    },
    isPersonFormValid() {
      const { firstnames, lastnames, gender, country, state } = this.personForm
      return !!firstnames && !!lastnames && !!gender && !!this.birthdate && !!country && !!state
    },
    isStudiesFormValid() {
      if (this.studiesForm.length === 0) return true
      return this.studiesForm.every(
        stu => !!stu.country && !!stu.degree && !!stu.studyType
      )
    },
    isLangsFormValid() {
      return this.langsForm.every(
        lang => !!lang.langId && !!lang.level
      )
    },
    isExpsFormValid() {
      return this.expsForm.every(
        exp => !!exp.companyActivityId &&
          !!exp.company &&
          !!exp.position &&
          !!exp.dependents &&
          !!exp.from.year &&
          !!exp.from.month &&
          !!exp.from.day &&
          (
            ( 
              !!exp.to.year &&
              !!exp.to.month &&
              !!exp.to.day
            ) ||
            exp.actual
          )
      )
    },
    isSkillsFormValid() {
      return this.skillsForm.length > 0
    },
    isApplicationFormValid() {
      const { salaryExpectation, curriculum, reputation } = this.applicationForm
      return !!salaryExpectation && !!curriculum && !!reputation
    }
  },
  created() {
    if(this.talent.hasOwnProperty('id')) {
      this.id = this.talent.id
      this.setUserForm(this.talent)
      this.setPersonForm(this.talent.personData)
      this.setStudiesForm(this.talent.studies)
      this.setLangsForm(this.talent.languages)
      this.setExpsForm(this.talent.experiences)
      this.setSkillsForm(this.talent.skills)
      this.setApplicationForm(this.talent.application)
    }
    this.statesList = this.states.data
  },
  methods: {
    // Set user data
    setUserForm(t) {
      this.userForm.id = t.id
      this.userForm.email = t.email
      this.userForm.country_code = t.country.id
      this.userForm.phone_number = t.phone_number
    },
    // set Personal data
    setPersonForm(p) {
      this.personForm.id = p.id
      this.personForm.firstnames = p.firstnames
      this.personForm.lastnames = p.lastnames
      this.personForm.gender = p.gender
      this.personForm.birthdate = p.birthdate
      const [year, month, day] = p.birthdate.split('-')
      this.year = parseInt(year)
      this.month = month
      this.day = parseInt(day)
      this.personForm.country = p.country.id
      this.personForm.state = p.state.id
    },
    // set application data
    setApplicationForm(a) {
      this.applicationForm.id = a.id
      this.applicationForm.salaryExpectation = a.salary_expectation.id
      this.applicationForm.description = a.description
      this.applicationForm.reputation = `${a.reputation}`
      this.getCV(a.curriculum)
    },
    // get the current CV
    async getCV(cv) {
      const name = cv.slice(cv.lastIndexOf('/') + 1)
      let res = await axios.get(`/${cv}`, {responseType: 'blob'})
      this.applicationForm.curriculum = new File([res.data], name, {
        type: res.type,
      })
      if (!this.oldCurriculum)
        this.oldCurriculum = this.applicationForm.curriculum
    },
    // set studies data
    setStudiesForm(studies) {
      studies.forEach((s, i) => {
        let degrees = this.degrees.data
        if (s.studyType) 
          degrees = degrees.filter(d => d.studyTypeId === s.studyType)
        const elem = {
          index: new Date().getTime() + i,
          id: s.id,
          country: s.country,
          degree: s.degree,
          studyType: s.studyType,
          degrees: degrees,
          toDelete: false,
        }
        this.studiesForm.push(elem)
      });
    },
    // set languages data
    setLangsForm(userLangs) {
      userLangs.forEach((ul, i) => {
        const elem = {
          index: new Date().getTime() + i,
          id: ul.id,
          langId: ul.langId,
          level: ul.levelId,
          toDelete: false,
        }
        this.langsForm.push(elem)
      });
    },
    // set Experiencies data
    setExpsForm(experiences) {
      experiences.forEach((uex, i) => {
        const [fromYear, fromMonth, fromDay] = uex.from.split('-')
        const [toYear, toMonth, toDay] = !uex.actual && !!uex.to
          ? uex.to.split('-')
          : [null, null, null]
        
        const elem = {
          id: uex.experienceId,
          experienceId: uex.experienceId,
          index: new Date().getTime() + i,
          user_id: uex.user_id,
          companyActivityId: uex.companyActivityId,
          company: uex.company,
          position: uex.position,
          dependents: `${uex.dependents}`,
          from: {
            value: uex.from,
            year: parseInt(fromYear),
            month: fromMonth,
            day: parseInt(fromDay)
          },
          to: {
            value: uex.to,
            year: parseInt(toYear),
            month: toMonth,
            day: parseInt(toDay)
          },
          actual: !!uex.actual,
          toDelete: false,
        }
        this.expsForm.push(elem)
      });
    },
    // set skills data
    setSkillsForm(skills) {
      this.skillsList = skills
      this.skillsForm = skills.map(skill => skill.id)
    },
    // set the degree list for every study
    setDegreeList(i, study) {
      let list = this.degrees.data.filter(item => item.studyTypeId === study)
      this.studiesForm[i].degrees = list
    } ,
    // Add new study
    addStudy() {
      this.studiesForm.push({
        index: new Date().getTime(),
        id: null,
        country: null,
        degree: null,
        studyType: null,
        degrees: [],
        toDelete: false,
      })
    },
    // add new lenguage
    addLenguage() {
      this.langsForm.push({
        index: new Date().getTime(),
        id: null,
        langId: null,
        level: null,
        toDelete: false,
      })
    },
    // add new experience
    addExperience() {
      this.expsForm.push({
        index: new Date().getTime(),
        id: null,
        experienceId: null,
        companyActivityId: null,
        company: null,
        position: null,
        dependents: null,
        from: {
          value: null,
          year: null,
          month: null,
          day: null
        },
        to: {
          value: null,
          year: null,
          month: null,
          day: null
        },
        actual: false,
        toDelete: false,
      })
    },
    // Delete elements: studies, languages anda experiences
    deleteElement(index, item, type) {
      if (item.id) {
        this.$swal.fire({
          position: 'center',
          icon: 'warning',
          title: 'Esta seguro?',
          text: type === 'study' 
            ? `Desea eliminar este estudio?`
            : type === 'lang' 
              ? 'Desea eliminar este idioma?'
              : type === 'exp' 
                ? 'Desea eliminar esta experiencia?'
                : 'Desea eliminar este elemento?',
          showCancelButton: true,
          confirmButtonText: 'Si, Borrar!',
          cancelButtonText: 'No, cancelar!',
          reverseButtons: true
        }).then(result => {
          if (result.isConfirmed) {
            this.$swal.fire(
              '',
              type === 'study' 
                ? 'Este estudio ha sido borrado.'
                : type === 'lang' 
                  ? 'Este idioma ha sido borrado.'
                  : type === 'exp' 
                    ? 'Esta experiencia ha sido borrada.'
                    : 'Este elemento ha sido borrado.',
              'success'
            )
            switch (type) {
              case 'study': {
                item.id === null 
                  ? this.studiesForm.splice(index, 1)
                  : this.studiesForm[index].toDelete = true
                break
              }
              case 'lang': {
                item.id === null 
                  ? this.langsForm.splice(index, 1)
                  : this.langsForm[index].toDelete = true
                break
              }
              case 'exp': {
                item.id === null 
                  ? this.expsForm.splice(index, 1)
                  : this.expsForm[index].toDelete = true
                break
              }
              default : {
                break
              }
            }
          }
        })
      } else {
        switch (type) {
          case 'study': {
            this.studiesForm.splice(index, 1)
            break
          }
          case 'lang': {
            this.langsForm.splice(index, 1)
            break
          }
          case 'exp': {
            this.expsForm.splice(index, 1)
            break
          }
          default : {
            break
          }
        }
      }
    },
    setAsCurrent(i, exp) {
      this.expsForm[i].to = {
        value: null,
        year: null,
        month: null,
        day: null
      }
    },
    // Update the states list for personForm
    async getState(id) {
      const res = await axios.get(`/application/states/${id}`)
      this.statesList = res.data.states
    },
    handleDays(year, month) {
      // eslint-disable-next-line prefer-const
      let ds = []
      switch (month) {
        case '02':
          for (let i = 1; i <= this.daysRange[0]; i++) {
            ds.push(i)
          }
          if (this.isLeapYear(year)) {
            ds.push(29)
          }
          break
        case '01':
        case '03':
        case '05':
        case '07':
        case '08':
        case '10':
        case '12':
          for (let i = 1; i <= this.daysRange[2]; i++) {
            ds.push(i)
          }
          break
        default:
          for (let i = 1; i <= this.daysRange[1]; i++) {
            ds.push(i)
          }
          break
      }
      return ds
    },
    isLeapYear( year ) {
      return ((year % 4 === 0 && year % 100 !== 0) || year % 400 === 0)
    },
    goBack() {
      window.location.pathname = '/application'
    },
    async sendForm() {
      if ( await this.validEmail() && this.isDataValid() ) {
        this.showErrors = false
        const skillsToDelete = this.skillsList.filter(
          el => !this.skillsForm.some(skill => skill === el.id)
        ).map(el => el.id)
        const skillsToAdd = this.skillsForm
  
        const expList = this.expsForm.map(exp => ({
          ...exp,
          from: { value: `${exp.from.year}-${exp.from.month}-${exp.from.day}`},
          to: {
            value: !exp.actual
              ? `${exp.to.year}-${exp.to.month}-${exp.to.day}`
              : null,
          }
        }))
        const studylist = this.studiesForm.map(stu => ({
          id: stu.id,
          country: stu.country,
          degree: stu.degree,
          studyType: stu.studyType,
          toDelete: stu.toDelete,
        }))
        let body = {
          data:{
            user_id: this.id || null,
            person_id: this.talent.personData ? this.talent.personData.id : null,
            contact: {
              email: this.userForm.email,
              countryCode: this.userForm.country_code,
              telephone: this.userForm.phone_number,
            },
            personData: {
              userId: this.id || null,
              state: this.personForm.state,
              firstnames: this.personForm.firstnames,
              lastnames: this.personForm.lastnames,
              gender: this.personForm.gender,
              birthdate: this.birthdate,
              country: this.personForm.country,
            },
            salaryExpectation: {
              salary: this.applicationForm.salaryExpectation,
            },
            studies: {
              useId: this.id || null,
              studies: studylist,
              languages: this.langsForm,
            },
            workExperience: {
              userId: this.id || null,
              experiences: expList,
            },
            skills: {
              userId: this.id || null,
              skillsToAdd: skillsToAdd,
              skillsToDelete: skillsToDelete
            },
            extraData: {
              desc: this.applicationForm.description,
              calification: this.applicationForm.reputation,
            }
          }
        }
        const file = this.applicationForm.curriculum || this.oldCurriculum
        const data = new FormData()
        if (file) data.append('file', file)
        data.append('data', JSON.stringify(body))
  
        axios({
          url: route('application.save'),
          method: 'POST',
          data: data
        })
          .then((res) => {
            this.$swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Solicitud realizada exitosamente.',
              showConfirmButton: false,
              timer: 4000
            })
            .then(() => {
              this.goBack()
            })
          })
          .catch((err) => {
            this.showErrors = true
            this.$swal.fire({
              position: 'center',
              icon: 'error',
              title: 'Su solicitud falló.',
              text: 'Verifique los datos ingresados.',
              showConfirmButton: false,
              timer: 4000
            })
          })
      } else {
        this.showErrors = true
        if (!this.invalidEmail) {
          this.$swal.fire({
            position: 'center',
            icon: 'error',
            title: 'Su solicitud falló.',
            text: 'Verifique los datos ingresados.',
            showConfirmButton: false,
            timer: 4000
          })
        }
      }
    },
    // Validations
    isDataValid() {
      return this.isUserFormValid && 
        this.isPersonFormValid &&
        this.isStudiesFormValid &&
        this.isLangsFormValid &&
        this.isExpsFormValid &&
        this.isSkillsFormValid &&
        this.isApplicationFormValid
    },
    async validEmail(){
      this.invalidEmail = false
      try {
        let data = this.userForm
        data.id = this.id
        let res = await axios.post(route('application.validEmail'), data)
        if (!res.data) {
          this.$swal.fire({
              position: 'center',
              icon: 'error',
              title: 'Su solicitud falló.',
              text: 'Correo en uso.',
              showConfirmButton: false,
              timer: 4000
            })
        }
        this.invalidEmail = !res.data
        return res.data
      } catch (err) {
        console.log(err);
      }
    },
  }
}
</script>

<style lang="scss">
.v-card.card-error {
  border-color: red;
  border-width: 1px;
  border-style: solid;
}
</style>