<template>
    <app-layout>
          <form-app :data="data" />
    </app-layout>
</template>

<script>
  import AppLayout from '../../Layouts/AppLayout'
  import FormApp from '../../components/application/form-app'
  import VueTelInputVuetify from "vue-tel-input-vuetify/lib/vue-tel-input-vuetify.vue"

  export default {
    props:['data'],
    components: {
      AppLayout,
      FormApp,
      VueTelInputVuetify
    }
  }
</script>
