<template>
  <app-layout :loggedUser="sessionUser">
    <v-container
      id="dashboard"
      tag="section"
    >
      <v-row align="center">
        <v-col
        cols="12"
          md="6"
          lg="4"
          v-for="({...attrs }, i) in data"
          :key="i"
        >
          <CardData

          v-bind="attrs"
          />
        </v-col>
      </v-row>
    </v-container>
  </app-layout>
</template>

<script>
  import AppLayout from '../Layouts/AppLayout'
  import CardData from '../components/dasboard/card-data'


  export default {
    props: ['data', 'sessionUser'],
    components: {
      AppLayout,
      CardData
    }
  }
</script>
