<template>
  <div>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="700px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="secondary"
          dark
          small
          v-bind="attrs"
          v-on="on"
          right
          rounded
        >
          <v-icon color="primary">mdi-plus</v-icon>
          Registrar
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Testimonios</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-stepper v-model="e1">
              <v-stepper-header>
                <v-stepper-step
                  complete
                  editable
                  step="1"
                >
                  Seleccione un tipo
                </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step
                  :complete="StepDescription"
                  :editable="StepInfo"
                  step="2"
                >
                  Complete la Información
                </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step
                :complete="FormComplete"
                :editable="StepDescription"
                step="3"
                >
                  Descripción
                </v-stepper-step>
              </v-stepper-header>

              <v-stepper-items>
                <v-stepper-content step="1">
                  <v-container>
                    <v-form 
                      ref="formType"
                      v-model="form.valid"
                      lazy-validation
                    >
                      <v-row justify="center">
                        <v-col v-if="form.type"
                          cols="12"
                          sm="8"
                          md="8"
                        >
                        <v-select
                          :items="types"
                          v-model="form.type"
                          label="Tipo"
                          item-text="name"
                          item-value="option"
                          hide-selected
                          disabled
                          :rules="validTestimony.TypeRules"
                          @change="changeData"
                        >
                        </v-select>
                          </v-col>
                          <v-col v-else
                            cols="12"
                            sm="8"
                            md="8"
                        >
                          <v-select
                            :items="types"
                            v-model="form.type"
                            label="Tipo"
                            item-text="name"
                            item-value="option"
                            hide-selected
                            :rules="validTestimony.TypeRules"
                            @change="changeData"
                        >
                        </v-select>
                          </v-col>
                      </v-row>
                    </v-form>
                  </v-container>
                </v-stepper-content>

                <v-stepper-content step="2">
                  <v-container>
                    <v-form 
                      ref="formInfo"
                      v-model="form.valid"
                      lazy-validation
                    >
                      <div v-if="form.type == 1">
                        <v-row justify="center" >
                          <v-col
                            cols="12"
                            sm="8"
                            md="8"
                          >
                            <v-select
                              v-model="form.client_id"
                              label="Cliente"
                              :items="clients"
                              item-text="name"
                              item-value="id"
                              hide-selected
                              :rules="validTestimony.clients"
                              @change="changeData"
                            >
                            </v-select>
                          </v-col>
                        </v-row>
                        <v-row justify="center">
                          <v-col
                            cols="12"
                            sm="5"
                            md="5"
                          >
                            <v-text-field
                              v-model="form.name"
                              :rules="validTestimony.name"
                              label="Nombre Completo"
                              @change="changeData"
                              @keypress="onlyLetters"
                            >
                            </v-text-field>
                          </v-col>
                          <v-col
                            cols="12"
                            sm="5"
                            md="5"
                          >
                            <v-text-field
                              v-model="form.position"
                              :rules="validTestimony.position"
                              maxlength="100"
                              label="Cargo"
                              @change="changeData"
                              @keypress="onlyLetters"
                            >
                            </v-text-field>
                          </v-col>
                        </v-row>
                      </div>
                      <div v-if="form.type == 2">
                        <v-row justify="center" >
                          <v-col
                            cols="12"
                            sm="8"
                            md="8"
                          >
                            <v-select
                              v-model="form.user_id"
                              label="Talento"
                              :items="applications"
                              item-text="person_data.fullname"
                              item-value="user_id"
                              hide-selected
                              :rules="validTestimony.user"
                              @change="changeData"
                            >
                            </v-select>
                          </v-col>
                        </v-row>
                      </div>
                    </v-form>
                  </v-container>
                </v-stepper-content>

                <v-stepper-content step="3">
                  <v-container>
                    <v-form 
                      ref="formDescription"
                      v-model="form.valid"
                      lazy-validation
                    >
                      <v-row justify="center">
                        <v-col
                          cols="12"
                          sm="8"
                          md="8"
                        >
                        <v-textarea
                          v-model="form.description"
                          :rules="validTestimony.testimonyRules"
                          outlined
                          label="Ingrese testimonio "
                          value=""
                          counter
                          maxlength="200"
                          @change="changeData"
                        ></v-textarea>
                        </v-col>
                      </v-row>
                    </v-form>
                  </v-container>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              text
              @click="close"
            >
              Cerrar
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click="NextStepper"
              v-if="e1 < 3 && !FormComplete"
            >
              Continuar
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click="saveTestimony"
              v-else
              :disabled="!FormComplete"
            >
              Guardar
            </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import AppLayout from '../../Layouts/AppLayout'
import { mapActions} from 'vuex'
  export default {
    components: {
      AppLayout,
    },
    data () {
      return {
        companyActivities:[],
        dialog: false,
        e1: 2,
        types:[
            {option: 1, name:'Cliente'},
            {option: 2, name:'Talento'},
          ],
        form:{},
        validTestimony: {
          testimonyRules: [
            v => !!v || '* La descripción del testimonio es requerida.',
          ],
          TypeRules: [
            v => !!v || '* El tipo de testimonio es requerido.',
          ],
          clients: [
            v => !!v || '* El Cliente es requerido.',
          ],
          name: [
            v => !!v || '* El Nombre completo es requerido.',
            v => ( v && v.length >= 3 ) || "El Nombre Completo debe contener un mínimo de 3 caracteres.",
            v => ( v && v.length <= 50 ) || "El Nombre Completo debe contener un máximo de 50 caracteres.",
          ],
          position: [
            v => !!v || '* El Cargo es requerido.',
            v => ( v && v.length >= 3 ) || "El Cargo debe contener un mínimo de 3 caracteres.",
          ],
          user: [
            v => !!v || '* El Talento es requerido.',
          ]
        },
        clients: [],
        applications: [],
        StepInfo: false,
        StepDescription: false,
        FormComplete: false,
      }
    },
    watch: {
      form: function () 
      {
        if (this.form.type) this.StepInfo = true;
        else this.StepInfo = false;

        if (this.form.client_id && this.form.name && this.form.position && this.form.type == 1) this.StepDescription = true
        else if (this.form.user_id && this.form.type == 2) this.StepDescription = true
        else this.StepDescription = false

        if (this.StepInfo && this.StepDescription && this.form.description) this.FormComplete = true
        else this.FormComplete = false
      }
    },
    mounted() 
    {
      this.getAllClients();
      this.getAllApplications();
    },
    methods:{
      ...mapActions(['onlyLetters', 'onlyNumbers']),
      getAllClients(){
        axios.get(route('client.getAll'))
        .then((res) => {
          this.clients = res.data
        })
        .catch((error) => {
          console.log(error)
        })
      },
      getAllApplications(){
        axios.get(route('application.getAll'))
        .then((res) => {
          this.applications = res.data
        })
        .catch((error) => {
          console.log(error)
        })
      },
      NextStepper()
      {
        if (this.e1 == 1) {
          if(this.$refs.formType.validate()){
            this.e1++;
          }
          else
          {
            this.$toast.open({
              message: 'Complete los campos requeridos.!',
              type: 'error',
              position: 'top-right'
            });
          }
        }
        else if (this.e1 == 2) {
          if(this.$refs.formInfo.validate()){
            this.e1++;
          }
          else
          {
            this.$toast.open({
              message: 'Complete los campos requeridos.!',
              type: 'error',
              position: 'top-right'
            });
          }
        }
      },
      saveTestimony()
      {
        if(this.$refs.formDescription.validate() && this.$refs.formInfo.validate() && this.$refs.formType.validate()){
          if (this.form.type == 1) this.form.type = false;
          if (this.form.type == 2) this.form.type = true;
          axios.post(route('testimony.storeTestimony'), this.form)
          .then(() => {
              this.$swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Solicitud realizada exitosamente.',
              showConfirmButton: false,
              timer: 2000
            })
            this.$emit('getClients');
            this.close();
          })
        }
        else
        {
          this.$toast.open({
            message: 'Complete los campos requeridos.!',
            type: 'error',
            position: 'top-right'
          });
        }
      },
      close () {
        this.dialog = false;
        this.$refs.formType.resetValidation()
        this.$refs.formInfo.resetValidation()
        this.$refs.formDescription.resetValidation()
        this.e1 = 1;
        this.form = {};
      },
      changeData()
      {
        if (this.form.type) this.StepInfo = true;
        else this.StepInfo = false;

        if (this.form.client_id && this.form.name && this.form.position && this.form.type == 1) this.StepDescription = true
        else if (this.form.user_id && this.form.type == 2) this.StepDescription = true
        else this.StepDescription = false

        if (this.StepInfo && this.StepDescription && this.form.description) this.FormComplete = true
        else this.FormComplete = false
      }
    }
  }
</script>