<template>
  <v-card>
    <v-card-title>
      <v-form @submit.prevent="getTestimony" ref="form" style="width:100% !important">
        <v-row align="center">
          <v-col
            cols="12"
            md="2"
            lg="1"
          >
          </v-col>
          <v-col
            cols="12"
            md="6"
            class="ml-auto"
          >
            <v-form @submit.prevent="getTestimony" class="w-full d-flex align-center">
              <v-text-field
                v-model="filter.search"
                label="Buscar"
              ></v-text-field>
              <v-btn
                rounded
                color="blue"
                small
                dark
                @click="getTestimony"
              >
                <v-icon>mdi-magnify</v-icon>
                Buscar
              </v-btn>
            </v-form>
          </v-col>
        </v-row>
      </v-form>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="clients"
      :options.sync="options"
      :server-items-length="total"
      :loading="loading"
      class="elevation-10"
    >
      <template v-slot:[`item.type`]="{ item }">
        <span
          color="green"
          text-color="white"
          v-if="item.type"
        >
          {{item.person.fullname}}
        </span>
        <span
          color="green"
          text-color="white"
          v-else
        >
          {{item.name}}
        </span>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="$emit('editTestimony', item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
    </template>
    </v-data-table>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h5">¿Estas seguro que deseas eliminar?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>
<script>
  export default {
    data () {
      return {
        dialog: false,
        nominarDialog: false,
        loading: true,
        dialogDelete:false,
        data:{},
        total: 0,
        reputacion:0,
        options: {},
        editedItem : {},
        activiteDisabled : true,
        headers: [
          { text: 'Fuente', value: 'type', sortable: false },
          { text: 'Descripción', value: 'description', sortable: false },
          { text: 'Acciones', value: 'actions', sortable: false },
        ],
        clients: [],
        activities:[],
        filter:{
          search: ''
        }
      }
    },
    watch: {
      options: {
        handler () {
          this.getTestimony()
        },
        deep: true,
      }, 
    },
    methods:{
      resetFilter()
      {
        this.$refs.form.reset()
        this.getTestimony();
      },
      getTestimony()
      {
        this.loading = true;
        this.clients =  [];
        
        if(this.options.itemsPerPage === -1)
        {
          this.options.itemsPerPage = 100;
        }else{
          this.filter.perPage = this.options.itemsPerPage;
        }
        axios.post(route('testimony.get', {
          page: this.options.page,
        }), this.filter)
        .then( (response) => {
          
          this.clients =  response.data.data;
          this.loading = false;
          this.total = response.data.total;
        })
      },
      deleteItem (item) {
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },
      deleteItemConfirm () {
        this.dialogDelete = false
        var deleted = this.editedItem; 
         axios.delete(route('testimony.delete', {id : deleted.id} ))
        .then(() => {
          this.$swal.fire({
            position: 'center',
            icon: 'success',
            title: 'El registro se eliminó exitosamente.',
            showConfirmButton: false,
            timer: 3000
          })
          this.getTestimony()
        })
      },
    }
  }
</script>