<template>
  <app-layout :loggedUser="sessionUser">
    <v-container>
      <v-row>
        <v-col cols="8">

          <!-- Activities data -->
          <v-card>
            <v-card-title>Sector Industrial</v-card-title>
            <v-card-text>
              <template v-if="activities.length === 0">
                  <v-row>
                    <v-col cols="12">
                      No existen sectores industriales para este cliente
                    </v-col>
                  </v-row>
              </template>
              <template v-else>
                <v-col cols="12">
                  <v-chip v-for="(activity, index) in activities" :key="activity.id" class="ma-1 text-md-body-1">
                    <strong>{{activity.activity}}</strong>
                  </v-chip>
                </v-col>
              </template>
            </v-card-text>
          </v-card>
          <!-- User data -->


          <!-- Products data -->
          <v-card>
            <v-card-title>Productos</v-card-title>
            <v-card-text>
              <template v-if="products.length === 0">
                  <v-row>
                    <v-col cols="12">
                      No registró productos
                    </v-col>
                  </v-row>
              </template>
              <template v-else>
                <v-row v-for="(product, index) in products" :key="`us-${index}`">
                  <v-col cols="12">
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>{{ product.name }}</v-list-item-title>
                        <v-list-item-subtitle class="pl-4">{{ product.description }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                </v-row>
              </template>
            </v-card-text>
          </v-card>
          <!-- Studies data -->

          <!-- Languages data -->
          <v-card>
            <v-card-title>Peticiones</v-card-title>
            <v-card-text>
              <template v-if="positions.length === 0">
                  <v-row>
                    <v-col cols="12">
                      No tienes peticiones de empleo
                    </v-col>
                  </v-row>
              </template>
              <template v-else>
                <v-list-item
                  v-for="position in positions"
                  :key="position.id"
                >
                  <v-list-item-content>
                    <v-list-item-title v-text="position.title"></v-list-item-title>

                    <v-list-item-subtitle v-text="formatDate(position.created_at)"></v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-action>
                    <a class="text-decoration-none" :href="`/position-requests/detail/${position.id}`"><v-btn color="secondary" small>Detalles</v-btn></a>
                  </v-list-item-action>
                </v-list-item>
              </template>
            </v-card-text>
          </v-card>
          <!-- Languages data -->

        </v-col>
        <v-col cols="4">

          <!-- Client data -->
          <v-card
            class="mx-auto"
            tile
          >
            <v-card-title primary-title class="justify-center">
              <v-avatar
                color="orange"
                size="200"
              >
                <img
                  v-if="client.avatar"
                  :src="client.avatar"
                  alt="John"
                >
              </v-avatar>
            </v-card-title>
            <v-card-text>
              <v-list-item two-line>
                <!-- Name -->
                <v-list-item-content>
                  <v-list-item-title>Nombre</v-list-item-title>
                  <v-list-item-subtitle>{{client.name}}</v-list-item-subtitle>
                </v-list-item-content>
                <!-- Rif -->
                <v-list-item-content>
                  <v-list-item-title>Número fiscal</v-list-item-title>
                  <v-list-item-subtitle>{{client.number_id}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Fecha de registro</v-list-item-title>
                  <v-list-item-subtitle>{{formatDate(client.created_at)}}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Completó el asistente el</v-list-item-title>
                  <v-list-item-subtitle>{{formatDate(client.updated_at || client.created_at)}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Descripción</v-list-item-title>
                  <v-list-item-subtitle>{{client.description || '- Sin descripción -'}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card-text>
          </v-card>
          <!-- Client data -->

          <!-- Contact info -->
          <v-card>
            <v-card-title>
              Datos de contacto
            </v-card-title>

            <v-card-text>
              <v-list-item two-line>
                <!-- name -->
                <v-list-item-content>
                  <v-list-item-title>Nombre</v-list-item-title>
                  <v-list-item-subtitle>
                    {{clientContact.person_data.firstnames}}
                  </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content>
                  <v-list-item-title>Apellido</v-list-item-title>
                  <v-list-item-subtitle>
                    {{clientContact.person_data.lastnames}}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-list-item two-line>
                <!-- email -->
                <v-list-item-content>
                  <v-list-item-title>Correo</v-list-item-title>
                  <v-list-item-subtitle v-html="clientContact.email"></v-list-item-subtitle>
                </v-list-item-content>
                <!-- Phone number -->
                <v-list-item-content>
                  <v-list-item-title>Número telefónico</v-list-item-title>
                  <v-list-item-subtitle>{{clientContact.country.number_code}} {{clientContact.phone_number}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card-text>
          </v-card>
          <!-- Contact info -->

          <!-- Comments -->
          <v-card>
            <v-app-bar
              flat
              color="rgba(0, 0, 0, 0)"
            >
              <v-toolbar-title class="text-h6 pl-0">
                Comentarios
              </v-toolbar-title>

              <v-spacer></v-spacer>

              <v-btn
                color="green"
                small
                @click="openCommentModal"
              >
                <v-icon color="white">mdi-plus</v-icon>
              </v-btn>
            </v-app-bar>

            <v-card-text>
                <template v-if="noComments">
                  No hay comentarios
                </template>
                <template v-else>
                  <v-list-item
                    v-for="(comment, index) in comments"
                    :key="`comment-${index}`"
                  >
                    <v-list-item-avatar>
                      <v-img src="https://cdn.vuetifyjs.com/images/lists/1.jpg"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title>
                        {{ `${comment.user.person_data.lastnames}, ${comment.user.person_data.firstnames} - ${formatDate(comment.updated_at)}` }}
                      </v-list-item-title>
                      <v-list-item-subtitle class="text-wrap">
                        {{ comment.comment }}<br>
                        <div class="mt-3">
                          <a class="blue--text" @click="editComment(comment.id)">EDITAR</a>
                          <a class="red--text" @click="deleteComment(comment.id)">ELIMINAR</a>
                        </div>
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </template>
            </v-card-text>
          </v-card>

        </v-col>
      </v-row>

      <!-- Comment dialog -->
      <v-dialog
        v-model="commentDialog"
        persistent
        max-width="500"
      >
        <v-card>
          <v-card-title class="text-h5">
            {{ commentDialogTitle }}
          </v-card-title>
          <v-card-text>
            <v-textarea
              v-model="commentForm.comment"
              label="Escriba un comentario"
              :disabled="bussy"
            ></v-textarea>
            <v-alert
              v-if="$v.commentForm.$dirty && $v.commentForm.$invalid"
              dense
              text
              border="left"
              color="warning"
            >
              <p class="my-0" v-if="!$v.commentForm.comment.required">Requerido</p>
            </v-alert>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red darken-1"
              text
              :disabled="bussy"
              @click="closeCommentModal"
            >
              Cancelar
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              :disabled="bussy"
              @click="saveComment"
            >
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      
      <!-- Snackbar -->
      <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        bottom
        right
        color="success"
      >
        {{ text }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="white"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
            Cerrar
          </v-btn>
        </template>
      </v-snackbar>
    </v-container>
  </app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout';
import { Inertia } from '@inertiajs/inertia'
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'

export default {
  components: {
    AppLayout,
  },
  props: ['sessionUser', 'client'],
  data: () => ({
    bussy: false,
    commentDialog: false,
    snackbar: false,
    text: '',
    timeout: 4000,
    commentForm: {
      commentId: null,
      userId: null,
      clientId: null,
      comment: ''
    },
  }),
  validations: {
    commentForm: {
      comment: {
        required,
      },
    },
  },
  computed: {
    // User data props
    activities() {
      return this.client.activities || []
    },
    avatar() {
      return this.client.avatar === null ? '/img/default.png' : this.talent.avatar
    },
    clientContact() {
      return this.client.contact
    },
    positions() {
      return this.client.position_requests || []
    },
    products() {
      return this.client.products || []
    },
    comments() {
      return this.client.comments
    },
    commentDialogTitle() {
      return (this.commentForm.commentId !== null) ? 'Editar Comentario' : 'Nuevo Comentario'
    },
    noComments() {
      return this.client.comments.length === 0
    }
  },
  methods: {
    back() {
      window.history.back();
    },
    formatDate(val) {
      const date = new Date(val)
      let day = date.getDate()
      let month = date.getMonth()+1
      let year = date.getFullYear()
      return `${day}/${month}/${year}`
    },
    capitalize(str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    },
    log(val) {
      console.log(val)
    },
    openCommentModal() {
      this.commentForm.userId = this.sessionUser.id
      this.commentForm.clientId = this.client.id
      this.commentDialog = true
    },
    editComment(id) {
      this.commentForm.commentId = id
      const comment = this.client.comments.find((comment) => comment.id === id)
      this.commentForm.comment = comment.comment
      this.openCommentModal()
    },
    saveComment() {
      this.$v.commentForm.$touch()
      if (!this.$v.commentForm.$invalid) {
        this.bussy = true
        axios.post(route('client.saveComment'), this.commentForm)
          .then((res) => {
            if (res.data.success) {
              Inertia.reload({ only: ['client'] })
              this.snackbar = true
              this.text = 'Comentario guardado'
              this.closeCommentModal()
              this.bussy = false
            }
          })
      }
    },
    deleteComment(id) {
      axios.delete(route('client.deleteComment', {id: id} ))
        .then((res) => {
          if (res.data.success) {
            Inertia.reload({ only: ['client'] })
            this.snackbar = true
            this.text = 'Comentario eliminado'
            this.closeCommentModal()
            this.bussy = false
          }
        })
    },
    closeCommentModal() {
      this.commentDialog = false
      this.commentForm.commentId = null
      this.commentForm.userId = null
      this.commentForm.clientId = null
      this.commentForm.comment = ''
      this.$v.commentForm.$reset()
    },
  },
}
</script>
