<template>
  <app-layout :loggedUser="sessionUser">
    <v-container
      id="dashboard"
      fluid
      tag="section"
    >
      <v-row align="center">
        <v-col cols="12">
          <client-table
            ref="clientTable"
            :clients="clients"
            ></client-table>
        </v-col>
      </v-row>
    </v-container>
  </app-layout>
</template>

<script>
  import AppLayout from '../../Layouts/AppLayout'
  import ClientTable from '../../components/client/table'
  import ClientForm from '../../components/client/form'

  export default {
    components: {
      AppLayout,
      ClientTable,
      ClientForm
    },
    props: ['sessionUser', 'clients'],
    data () {
      return {
     }
    },

    methods:
    {

      editClient(client)
      {
        this.$refs.clientForm.form.id = client.id;
        this.$refs.clientForm.form.name = client.name;
        this.$refs.clientForm.dialog = true;
      }
    }
  }
</script>
