<template>
  <v-card>
    {{countries}}
  </v-card>
</template>
<script>

  export default {
    components: {
      ListTalent
    },
    props:['companyActivities', 'countries'],
    mounted(){

    },
    data () {
      return {

      }
    },
    watch: {

    },

    methods:{

    }
  }
</script>