<template>
  <app-layout :loggedUser="sessionUser" :title="'DETALLE DE CLIENTE'" :backBtn="true">
    <v-container>
      <v-row>
        <!-- User data -->
        <v-col cols="12">
          <v-card>
            <v-card-title>Identificacion</v-card-title>
            <v-card-text>
              <v-col>
                <!-- User data form -->
                <v-row>
                  <!-- Name -->
                  <v-col cols="6">
                    <v-text-field 
                      v-model="clientForm.name" 
                      label="Nombre/Razón social"
                      :rules="rules.clientName"
                    ></v-text-field>
                  </v-col>
                  <!-- Number code -->
                  <v-col cols="6">
                    <v-text-field
                      v-model="clientForm.number_id"
                      label="Rif o número de identificación fiscal"
                      :rules="rules.clientNumber"
                    ></v-text-field>
                  </v-col>
                  <!-- Description -->
                  <v-col cols="12">
                    <v-textarea
                      v-model="clientForm.description"
                      counter
                      auto-grow
                      label="Descripción"
                      :rules="rules.clientDescription"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-col>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- User data -->
        <!-- Person data -->
        <v-col cols="12">
          <v-card class="mt-0">
            <v-card-title>Información de contacto</v-card-title>
            <v-card-text>
              <v-col>
                <!-- Person data form -->
                <v-row>
                  <!-- FirstName -->
                  <v-col cols="6">
                    <v-text-field 
                      v-model="contactForm.firstnames" 
                      :rules="rules.contactFirstnames"
                      label="Nombres"
                    ></v-text-field>
                  </v-col>
                  <!-- LastName -->
                  <v-col cols="6">
                    <v-text-field 
                      v-model="contactForm.lastnames" 
                      :rules="rules.contactLastnames"
                      label="Apellidos"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-autocomplete
                      class="mr-2"
                      v-model="contactForm.country_code"
                      :rules="rules.contactCountry"
                      :value="contactForm.country_code"
                      :items="countries.data"
                      item-text="name"
                      item-value="id"
                      label="Código"
                    >
                      <template v-slot:item="data">
                        <v-list-item-content>
                          <v-list-item-title>{{ `${data.item.name} (${data.item.numberCode})` }}</v-list-item-title>
                        </v-list-item-content>
                      </template>
                    </v-autocomplete>
                  </v-col>
                  <v-col class="d-flex flex-row" cols="6">
                    <v-text-field 
                      v-model="contactForm.phone_number" 
                      :rules="rules.contactPhoneNumber"
                      :value="contactForm.phone_number" 
                      label="Número de teléfono">
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-text-field 
                      v-model="contactForm.email" 
                      :rules="rules.contactEmail"
                      label="Correo"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- Person data -->
        <!-- Activities data -->
        <v-col cols="12">
          <v-card class="mt-0">
            <v-card-title>
              <v-col>Sector industrial</v-col>
            </v-card-title>
            <v-card-text>
              <v-col>
                <v-row>
                  <v-col cols="12">
                    <v-autocomplete
                      v-model="activitiesList"
                      :rules="rules.ativities"
                      :items="activities.data"
                      item-text="activity"
                      item-value="id"
                      multiple
                      chips
                      deletable-chips
                    >
                      <template v-slot:item="data">
                        <v-list-item-content>
                          <v-list-item-title>{{ data.item.activity }}</v-list-item-title>
                        </v-list-item-content>
                      </template>
                    </v-autocomplete>
                  </v-col>
                </v-row>
              </v-col>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- Activities data -->
        <!-- Products data -->
        <v-col cols="12">
          <v-card class="mt-0">
            <v-card-title>
              <v-col>Productos</v-col>
              <v-col
                cols="auto"
              >
                <v-btn color="secondary" 
                  dark
                  small
                  right
                  rounded
                  @click="addProduct"> 
                  <v-icon>mdi-plus</v-icon>  
                  Agregar
                </v-btn> 
              </v-col>
            </v-card-title>
            <v-card-text v-if="productForm.length > 0">
              <v-col>
                <v-row v-for="(product, i) in productFormList" :key="i">
                  <v-col cols="10" class="flex flex-row">
                    <v-text-field v-model="product.name" label="Nombres"></v-text-field>
                  </v-col>
                  <v-col cols="2" class=" text-right">
                    <v-btn
                      color="red"
                      small
                      @click="deleteProduct(i, product)"> 
                      Eliminar
                    </v-btn> 
                  </v-col>
                  <v-col cols="12">
                    <v-textarea
                      v-model="product.description"
                      counter
                      auto-grow
                      label="Descripción"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-col>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- Products data -->
        <!-- Form actions -->
        <v-row class=" py-6">
          <v-col class="mx-auto text-center">
            <v-btn color="secondary" @click="goBack">
              Cancelar
            </v-btn>
            <v-btn color="primary" @click="sendForm">
              Guardar
            </v-btn>
          </v-col>
        </v-row>
        <!-- Form actions -->
      </v-row>
    </v-container>
  </app-layout>
</template>

<script>
import AppLayout from '../../Layouts/AppLayout';
import { validationMixin } from 'vuelidate'
export default {
  components: {
    AppLayout,
  },
  mixins: [validationMixin],
  props: {
    sessionUser: {
      type: Object,
      default: null
    },
    activities: {
      type: Object,
      default: {data:[]}
    },
    client: {
      type: Object,
      default: null
    },
    countries: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      clientForm: {
        id: null,
        name: '',
        number_id: '',
        description: ''
      },
      contactForm: {
        id: null,
        firstnames: '',
        lastnames: '',
        email: '',
        country_code: '',
        phone_number: '',
      },
      activityForm: [],
      activitiesList: [],
      productForm: [],
      verifyData: false,
      rules: {
        clientName: [
          v => !!v || 'El campo nombre/razon social es requerido.',
          v => v && v.length <= 50 || 'El campo nombres debe contener máximo 30 caracteres.',
          v => v && v.length >= 3 || 'El campo nombres debe contener mínimo 3 caracteres.',
        ],
        clientNumber: [
          value =>  !!value || 'El campo es requerido.',
          value => value.length <= 20 || 'El campo nombres debe contener maximo 20 caracteres.',
        ],
        clientDescription: [
          value => value.length <= 400 || 'El campo nombres debe contener mínimo 3 caracteres.',
        ],
        contactFirstnames: [
          v => !!v || 'El campo nombres es requerido.',
          v => (v && v.length <= 30) || 'El campo nombres debe contener máximo 30 caracteres.',
          v => (v && v.length >= 3) || 'El campo nombres debe contener mínimo 3 caracteres.',
        ],
        contactLastnames: [
          v => !!v || 'El campo apellidos es requerido.',
          v => (v && v.length <= 30) || 'El campo apellidos debe contener máximo 30 caracteres.',
          v => (v && v.length >= 3) || 'El campo apellidos debe contener mínimo 3 caracteres.',
        ],
        contactCountry: [
          v => !!v || 'El campo código del teléfono requerido.',
        ],
        contactPhoneNumber: [
          v => !!v || 'El campo teléfono es requerido.',
          v => v.length <= 15 || "El télefono debe de ser válido"
        ],
        contactEmail: [
          v => !!v || 'El campo correo electrónico es requerido.',
          v => (v && v.length <= 50) || 'El campo  correo electrónico debe contener máximo 50 caracteres.',
          v => (v && v.length >= 3) || 'El campo  correo electrónico debe contener mínimo 3 caracteres.',
          v => /.+@.+\..+/.test(v) || 'El correo electrónico debe ser válido.',
        ],
        ativities: [
        ],
      },
    }
  },
  mounted(){
    if(this.client !== null){
      // Client form
      const client = this.client.data
      this.clientForm.id = client.id;
      this.clientForm.name = client.name;
      this.clientForm.number_id = client.number_id;
      this.clientForm.description = client.description;
      //  Contact form
      const contact = this.client.data.contact
      this.contactForm.id = contact.id;
      this.contactForm.firstnames = contact.person_data.firstnames;
      this.contactForm.lastnames = contact.person_data.lastnames;
      this.contactForm.email = contact.email;
      this.contactForm.country_code = contact.country.hash_id;
      this.contactForm.phone_number = contact.phone_number;
      // Activities
      const activities = this.client.data.activities
      this.activityForm = activities
      this.activitiesList = activities.map(act => act.activityId)
      // Products
      const products = this.client.data.products
      this.productForm = products.map(product => {
        return {
          ...product,
          productId: product.id,
          toDelete: false
        } 
      })
    }
  },
  computed: {
    productFormList() {
      return this.productForm.filter(item => !item.toDelete)
    }
  },
  methods: {
    sendForm() {
      let actToDelete = this.activityForm.filter(
        el => !this.activitiesList.some(act => act === el.activityId)
      ).map(el => {
        return {
          ...el,
          toDelete: true
        }
      })
      let activities = this.activitiesList.map(el => {
        let activity = this.activityForm.find(act => act.activityId === el)
        if (activity) {
          return activity
        }
          return {
            id: null,
            activityId: el,
            toDelete: false
          }
      })

      const addData = { 
        addClient: {
          name: this.clientForm.name,
          numberId: this.clientForm.number_id,
          description: this.clientForm.description,
          clientId: this.clientForm.id,
          firstNames: this.contactForm.firstnames,
          lastNames: this.contactForm.lastnames,
          countryCode: this.contactForm.country_code,
          telephone: this.contactForm.phone_number,
          email: this.contactForm.email,
          activities: activities.concat(actToDelete),
          products: this.productForm
        }
      };

      const editData = { 
        editClient: {
          name: this.clientForm.name,
          numberId: this.clientForm.number_id,
          description: this.clientForm.description,
          clientId: this.clientForm.id,
          firstNames: this.contactForm.firstnames,
          lastNames: this.contactForm.lastnames,
          countryCode: this.contactForm.country_code,
          telephone: this.contactForm.phone_number,
          email: this.contactForm.email,
          activities: activities.concat(actToDelete),
          products: this.productForm
        }
      };

      axios.post(route('client.store'), this.client ? editData: addData)
        .then((res) => {
          this.$swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Solicitud realizada exitosamente.',
            showConfirmButton: false,
            timer: 4000
          })
          .then(() => {
            //this.goBack()
            console.log(data);
          })
        })
        .catch((err) => {
          this.verifyData = true
          this.$swal.fire({
            position: 'center',
            icon: 'error',
            title: 'Su solicitud falló.',
            text: 'Verifique los datos ingresados.',
            showConfirmButton: false,
            timer: 4000
          })
        })
    },
    addProduct() {
      this.productForm.push({
        productId: null,
        name: '',
        description: '',
        toDelete: false
      })
    },
    goBack() {
      window.location.pathname = '/client'
    },
    deleteProduct(index, item) {
      if (item.productId) {
        this.$swal.fire({
          position: 'center',
          icon: 'danger',
          title: 'Esta seguro?',
          text: `Desea eliminar completamente: ${item.name}`,
          showCancelButton: true,
          confirmButtonText: 'Si, Borrar!',
          cancelButtonText: 'No, cancelar!',
          reverseButtons: true
        }).then(result => {
          if (result.isConfirmed) {
            this.$swal.fire(
              '',
              'Este Producto ha sido borrado.',
              'success'
            )
            item.productId === null 
              ? this.productForm.splice(index, 1)
              : this.productForm[index].toDelete = true
          }
        })
      } else {
        this.productForm.splice(index, 1)
      }
    }
  }
}
</script>

<style>
</style>