<template>
  <v-footer
    id="dashboard-core-footer"
  >
    <v-container>
      <v-row
        align="center"
        justify="center"
        no-gutters
      >
        <v-col
          cols="12"
          sm="6"
          md="12"
          lg="12"
        >
          <div class="body-1 font-weight-light pt-6 pt-md-0 text-center">
            (© 2021, Copyright).
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script>
  export default {
    name: 'DashboardCoreFooter',

    data: () => ({
      links: [],
    }),
  }
</script>

<style lang="sass">
  #dashboard-core-footer
    a
      font-size: .825rem
      font-weight: 500
      text-decoration: none
      text-transform: uppercase
</style>
