<template>
  <v-list-group
    v-model="item.active"
    :group="group"
    :sub-group="subGroup"
    append-icon="mdi-menu-down"
  >
    <template v-slot:activator>
        <v-list-item-icon>
          <v-icon v-text="item.icon" color="primary"/>
        </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title v-text="item.title"/>
      </v-list-item-content>
    </template>

    <template v-for="(child, i) in children">
      <layout-item
        :key="`item-${i}`"
        :item="child"
        text
        style="margin-left: 20px !important"
      />
    </template>
  </v-list-group>
</template>

<script>
  // Utilities
  import kebabCase from 'lodash/kebabCase'
  import LayoutItem from '../../components/layouts/item'


  export default {
    components:{
      LayoutItem
    },
    inheritAttrs: false,

    props: {
      item: {
        type: Object,
        default: () => ({
          avatar: undefined,
          group: undefined,
          title: undefined,
          children: [],
        }),
      },
      subGroup: {
        type: Boolean,
        default: false,
      },
      text: {
        type: Boolean,
        default: false,
      },
    },

    computed: {
      children () {
        return this.item.children.map(item => ({
          ...item,
          to: !item.to ? undefined : `${this.item.group}/${item.to}`,
        }))
      },
      group () {
        return this.genGroup(this.item.children)
      },
    },

    methods: {
      genGroup (children) {
        return children
          .filter(item => item.to)
          .map(item => {
            const parent = item.group || this.item.group
            let group = `${parent}/${kebabCase(item.to)}`

            if (item.children) {
              group = `${group}|${this.genGroup(item.children)}`
            }

            return group
          }).join('|')
      },
    },
  }
</script>

<style>
.v-list-group__activator p {
  margin-bottom: 0;
}
</style>