<template>
  <v-app-bar
    app
    class="bg-ftt"
    dark
    height="75"
  >
  <v-tooltip
    bottom
    open-delay="500"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-if="showBackBtn"
        v-bind="attrs"
        v-on="on"
        icon
        color="green"
        class="mr-2"
        @click="back"
      >
        <v-icon large>
          mdi-arrow-left
        </v-icon>
      </v-btn>
    </template>
    <span>Volver</span>
  </v-tooltip>
    <v-toolbar-title>{{ title }}</v-toolbar-title>

    <v-spacer />
    <v-menu
      offset-y
    >
      <template v-slot:activator="{ attrs, on }">
        <v-btn
          class="capitalize"
          min-width="0"
          text
          v-bind="attrs"
          v-on="on"
        >
          <v-icon class="mr-2">mdi-account</v-icon>
          {{ fullname }}
        </v-btn>
      </template>
      <v-list rounded>
        <!-- <v-subheader>User</v-subheader> -->
        <v-list-item-group
          color="primary"
        >
          <v-list-item
            link
          >
            <v-list-item-icon class="mr-1">
              <v-icon class="mr-2">mdi-card-account-details</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="remove-mt">Perfil</v-list-item-title>
            </v-list-item-content>
          </v-list-item><v-list-item
            link
            @click="logout"
          >
            <v-list-item-icon class="mr-1">
              <v-icon>mdi-exit-to-app</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="remove-mt">Cerrar Sesión</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
  export default {
    props: ['sessionUser', 'title', 'showBackBtn'],
    data() {
      return {

      }
    },
    computed: {
      fullname() {
        return this.sessionUser.fullname
      }
    },
    methods: {
      back() {
        window.history.back();
      },
      logout(){
       this.$inertia.post('/logout', {
          _token: this.$page.props.csrf_token,
        })
      }
    },
  }
</script>

<style>
.bg-ftt {
  background-color: rgba(35, 39, 47, 1) !important
}
</style>