<template>
  <v-navigation-drawer
    id="core-navigation-drawer"
    dark
    :right="$vuetify.rtl"
    mobile-breakpoint="960"
    app
    width="260"
    v-bind="$attrs"
  >
    <v-divider class="mb-1" />

    <v-list
      dense
      nav
    >
      <v-list-item>
        <v-list-item-content>
          <v-img
            src="/img/logo.svg"
          />
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-divider class="mb-2" />
    <v-list
      expand
      nav
    >
      <div />
      <template v-for="(item, i) in computedItems">
        <layout-item-group
          v-if="item.children"
          :key="`group-${i}`"
          :item="item"
        >
        </layout-item-group>
        <layout-item
          v-else
          :key="`item-${i}`"
          :item="item"
        />
      </template>
      <div />
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  // Utilities

  import LayoutItem from '../../components/layouts/item'
  import LayoutItemGroup from '../../components/layouts/itemGroup'

  export default {
    components:{
      LayoutItem,
      LayoutItemGroup
    },
    props: {
      expandOnHover: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      items: [
        {
          title: 'Dashboard',
          icon: 'mdi-view-dashboard',
          href: route('dashboard'),
          active: route().current('dashboard')
        },
        {
          title: 'Talentos',
          icon: 'mdi-account-tie',
          href: route('application'),
          active: route().current('application')
        },
        {
          title: 'Clientes',
          icon: 'mdi-domain',
          href: route('client'),
          active: route().current('client')
        },
        {
          title: 'Peticiones',
          icon: 'mdi-card-account-details',
          href: route('position.requests'),
          active: route().current('position.requests')
        },
        /* {
          title: 'Testimonios',
          icon: 'mdi-comment-quote',
          href: route('testimony'),
          active: route().current('testimony')

        }, */
        {
          title: 'Configuración',
          icon: 'mdi-cogs',
          active: route().current('config.*'),
          children:
          [
            {
              title: 'Sectores de la industria',
              icon: 'mdi-excavator',
              href: route('config.activityCompany'),
              active: route().current('config.activityCompany')
            },
            {
              title: 'Países',
              icon: 'mdi-map-marker-radius-outline',
              href: route('config.countries'),
              active: route().current('config.countries')
            },
            {
              title: 'Estados de países',
              icon: 'mdi-map-marker-circle',
              href: route('config.states'),
              active: route().current('config.states')
            },
            {
              title: 'Tipos de estudio',
              icon: 'mdi-book-education',
              href: route('config.study'),
              active: route().current('config.study')
            },
            {
              title: 'Títulos de estudio',
              icon: 'mdi-school',
              href: route('config.degree'),
              active: route().current('config.degree')
            },
            {
              title: 'Habilidades',
              icon: 'mdi-list-status',
              href: route('config.skills'),
              active: route().current('config.skills')
            },
            {
              title: 'Idiomas',
              icon: 'mdi-translate',
              href: route('config.languages'),
              active: route().current('config.languages')
            },
            {
              title: 'Cargos',
              icon: 'mdi-tie',
              href: route('config.position'),
              active: route().current('config.position')
            },
          ]
        },
      ],
      barColor: ''
    }),

    computed: {
      computedItems () {
        return this.items.map(this.mapItem)
      },
      profile () {
        return {
          avatar: true,
          title: 'avatar',
        }
      },
    },

    methods: {
      mapItem (item) {
        return {
          ...item,
          children: item.children ? item.children.map(this.mapItem) : undefined,
          title: item.title,
        }
      },
    },
  }
</script>

<style lang="sass">
  @import '~vuetify/src/styles/tools/_rtl.sass'

  #core-navigation-drawer
    background-color: rgba(35, 39, 47, 1) !important
    .v-list-group__header.v-list-item--active:before
      opacity: .24

    .v-list-item
      &__icon--text,
      &__icon:first-child
        justify-content: center
        text-align: center
        width: 20px

        +ltr()
          margin-right: 24px
          margin-left: 12px !important

        +rtl()
          margin-left: 24px
          margin-right: 12px !important

    .v-list--dense
      .v-list-item
        &__icon--text,
        &__icon:first-child
          margin-top: 10px

    .v-list-group--sub-group
      .v-list-item
        +ltr()
          padding-left: 8px

        +rtl()
          padding-right: 8px

      .v-list-group__header
        +ltr()
          padding-right: 0

        +rtl()
          padding-right: 0

        .v-list-item__icon--text
          margin-top: 19px
          order: 0

        .v-list-group__header__prepend-icon
          order: 2

          +ltr()
            margin-right: 8px

          +rtl()
            margin-left: 8px
</style>