<template>
  <v-app>
    <!-- Page Heading -->
    <NavBar :sessionUser="loggedUser" :title="title" :showBackBtn="backBtn" />
    <SlideBar />
    <!-- Page Content -->
    <v-main>
      <slot></slot>
    </v-main>
      <Footer />
  </v-app>
</template>

<script>
  import NavBar from '../components/layouts/navbar'
  import SlideBar from '../components/layouts/slidebar'
  import Footer from '../components/layouts/footer'

  export default {
    components: {
      NavBar,
      SlideBar,
      Footer
    },
    props: ['loggedUser', 'title', 'backBtn'],
    data: () => ({
      expandOnHover: false,
    }),
    methods: {
      logout()
      {
        this.$inertia.post(route('logout'));
      },
    }
  }
</script>
