<template>
<v-app id="inspire">
  <v-content>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="6">
          <v-card class="mb-15">
            <v-window v-model="step">
              <v-window-item :value="1">
                <v-row>
                 <v-col cols="12" md="4" class="blue-grey darken-4">
                  <img :src="'/img/icon.png'" class="mt-15 img_login">
                    <v-card-text class="white--text">
                      <h5 class="text-center"><v-icon size="14" color="white">mdi-share-all-outline</v-icon> Inicio de sesión</h5>
                    </v-card-text>
                    <!--<div class="text-center ml-3">
                      <v-btn small rounded outlined dark @click="step++"><h5><strong>Cambiar contraseña</strong></h5></v-btn>
                    </div>-->
                  </v-col>
                  <v-col cols="12" md="7">
                  <img :src="'/img/logo.svg'" class="mt-8 ml-4" style="width:80%;">
                   <v-form @submit.prevent="onSubmit">
                    <v-card-text>
                        <v-text-field
                          label="Correo"
                          name="Email"
                          maxlength="50"
                          type="text"
                          color="teal accent-3"
                          prepend-icon="mdi-email-send-outline"
                          v-model="form.email"
                        />
                        <v-text-field
                          id="password"
                          label="Contraseña"
                          name="password"
                          type="password"
                          maxlength="12"
                          color="teal accent-3"
                          prepend-icon="mdi-key-outline"
                          v-model="form.password"
                        />
                    </v-card-text>
                    <div class="text-center mb-7">
                      <v-btn type="submit" color="teal accent-3" dark>Iniciar</v-btn>
                    </div>
                     </v-form>
                  </v-col>
                </v-row>
              </v-window-item >
             <ResetPassword @ChangeStep="step--"/>
            </v-window>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</v-app>
</template>

<script>
import ResetPassword from '../../components/auth/ResetPassword'

export default {

 components: {
     ResetPassword,
  },
  data: () => ({
    domain: null,
    domain_ext: null,
    step: 1,
    hideDetails: false,
    errors:[],
    form: {
        email: '',
        password: '',
      },
  }),
  mounted () {
    this.domain = process.env.MIX_EMAIL_DOMAIN;
    this.domain_ext = process.env.MIX_EMAIL_DOMAIN_EXT;
  },
   methods: {
      onSubmit() {

        let email = this.form.email;
        let regexp = new RegExp(`^[a-zA-Z0-9._-]+@(${this.domain})+.(${this.domain_ext})+$`);
        let validEmail = regexp.test(email);

        if(validEmail){
          this.$inertia.post('/login', this.form,{
            onError: errors => {
              this.$toast.open({
                message: 'Usuario y/o contraseña incorrecta.!',
                type: 'error',
                position: 'top'
              });
            },
          })
        }else{
          this.$toast.open({
              message: 'Introduzca un correo electrónico válido.!',
              type: 'error',
              position: 'top'
          });
        }
      },
    },
  props: {
    source: String
  }
};
</script>
<style>
.img_login
{
  width:80px;
  display:block;
  margin:auto;
}

</style>



